@include block(featured) {
  cursor: pointer;
  width: 100%;
  min-height: 144px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  background-color: $color-white;

  &:hover {
    background-color: #f3f3f3;
  }

  @include element(image) {
    position: relative;
    width: 100%;
    padding-top: 35%;

    @include element(container) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      > img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    > img {
      height: 100%;
      width: 100%;
    }
  }

  @include element(cover) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  @include element(logo) {
    background-color: $color-white;
    position: absolute;
    border-radius: 50%;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -2.2em;
    height: 70px;
    width: 70px;
    > img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  }

  @include element(content) {
    display: flex;
    align-items: center;
    padding: 1em;
    margin-top: 1em;
  }

  @include element(description) {
    color: #808080;
    font-size: 0.75em;
    margin-top: 0.4em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }

  @include element(information) {
    margin-top: 1em;
    font-size: 0.75em;
    width: 100%;
    flex-flow: row nowrap;

    @include block(item) {
      flex-flow: row nowrap;
      color: #cad8e2;
      @include element(icon) {
        min-width: 20px;
      }

      @include element(content) {
        margin-left: 0.3em;
        > span {
          &:first-child {
            $color-light-blue: #0091ff;
          }

          &:not(:first-child) {
            color: $color-light-gray;
          }
        }
      }
    }
  }

  @include element(name) {
    font-size: 0.875em;
    font-weight: 500;
    color: #6a6a6a;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    white-space: nowrap;
  }
}

@include block(featured__carousel) {
  margin-top: 2em;

  .BrainhubCarousel {
    margin-bottom: 1em !important;
  }

  @include modifier(spaced) {
    padding: 0 2em 2em;
  }

  @include modifier(top-spaced) {
    padding-top: 2em;
  }

  @include element(wrapper) {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
    background-color: $color-white;

    > div:first-child {
      height: 60px;
      background: #f5f5f5;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    > div:first-child {
      @include breakpoint(medium up) {
        padding-left: 25px;
        padding-right: 25px;
      }

      @include breakpoint(medium down) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    @include breakpoint(medium down) {
      margin-top: 1em;
    }
  }

  @include element(title) {
    font-size: 1.125em;
    color: $color-dark;
    font-weight: 500;
  }

  @include element(action) {
    font-size: 1.025em;
    color: $color-dark;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  @include element(progress) {
    @include xy-grid();
    @include flex-align(center, middle);
    @include element(item) {
      flex: 0 0 auto;
      width: auto;
      margin-right: 0.325rem;
      margin-left: 0.325rem;
      height: 8px;
      width: 8px;
      background-color: #d8d8d8;
      border-radius: 50%;
      display: inline-block;

      @include modifier(active) {
        background-color: #849eae;
      }
    }
  }
}

@include block(switch__network) {
  display: flex;
  flex-direction: column;
  text-align: start;
  background: $color-white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);

  @include breakpoint(medium up) {
    width: 427px !important;
  }

  @include element(content) {
    @include xy-grid();
    position: relative;
    width: 100%;
    height: 100%;

    @include modifier(second) {
      @include xy-grid(vertical);
      justify-content: center;
    }
  }

  @include element(title) {
    font-size: 1.125em;
    font-weight: 500;
    color: $color-light-dark;
    margin: 1em 0;
  }

  @include element(text) {
    font-size: 1em;
    line-height: 1.5;
    color: $color-gray;

    > a {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  @include element(image) {
    @include breakpoint(medium up) {
      height: 60%;
      display: flex;
      justify-content: center;
      margin: 0 auto;

      > img {
        width: auto;
      }
    }
  }
}

@include block(qr-code) {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: $color-white;
  @include breakpoint(large) {
    padding: 2em 3em;
  }

  @include breakpoint(medium down) {
    padding: 1.5em;
    margin-bottom: 60px;
  }

  @include breakpoint(small only) {
    padding: 1em 3em;
  }

  @include element(wrapper) {
  }

  @include element(main) {
    @include xy-grid();
    @include flex-align(justify, middle);
  }

  @include element(steps) {
    list-style-type: decimal;

    > li {
      padding-top: 1em;
      font-size: 0.935em;
      color: $color-dark;

      > a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @include element(desc) {
    color: $color-dark;
    padding-top: 20px;
    font-weight: 500;
  }

  @include element(header) {
    color: $color-white;
    @include xy-grid();
    @include flex-align(null, middle);

    @include breakpoint(medium up) {
      margin-top: 10em;
      margin-bottom: 1.5em;
    }

    @include breakpoint(small down) {
      margin-top: 4em;
    }

    @include element(title) {
      font-size: 1.625em;
      font-weight: 500;
    }
  }

  @include element(image) {
    margin: auto;

    @include breakpoint(small only) {
      margin-top: 2em;
    }
  }

  @include element(download) {
    padding-top: 1em;

    > a {
      &:last-child {
        margin-left: 0.5em;
      }
    }

    @include breakpoint(large) {
    }
  }

  @include element(text) {
    padding-top: 1em;
    font-size: 0.938em;
    color: $color-dark;
    text-align: center;

    > a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include block(qr_code_modal) {
  @include xy-grid(vertical);

  @include element(wrapper) {
    @include breakpoint(large) {
      padding: 2em !important;
    }
  }

  @include element(title) {
    display: inline-block;
    font-size: small;
    color: $color-light-dark;
    text-align: start;
    font-weight: 500;
  }

  @include element(image) {
    padding-top: 2em;
    width: inherit;
  }
}

@include block(show-more) {
  max-width: 330px;
  @include element(header) {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    text-align: start;
    font-weight: bold;
    color: $color-dark;
    padding: 0 0 1em;
  }

  @include element(content) {
    @include xy-grid();
    @include flex-align(null, middle);

    @include element(item) {
      @include xy-grid();
      @include flex-align(justify, middle);
      font-size: 0.688em;
      padding: 1em 0;
      width: 100%;

      > span {
        &:first-child {
          color: rgba(37, 67, 90, 0.6);
        }
        flex-basis: 50%;
        text-align: start;
      }

      @include block(address) {
        color: $color-gray;
        .fa-clone {
          margin-left: 10px;
          font-weight: 400;
          font-size: 0.75em;
          color: $color-light-gray;
          &:hover {
            cursor: pointer;
            font-weight: 900;
          }
        }
      }
    }
  }
}

@include block(toggle) {
  max-height: 18px;
  position: relative;
  height: 100%;
  display: inline-block;

  @include breakpoint(small only) {
    margin-bottom: auto;
  }

  > input {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }

  .toggle {
    &-wrapper {
      width: 34px;
      height: 18px;
      background-color: $color-disabled;
      border-radius: 10px;
      position: relative;
    }

    &:hover {
      cursor: pointer;
    }

    display: block;
    position: absolute;
    width: 14px;
    border-radius: 50%;
    height: 14px;
    background: $color-white;
    top: 2px;
    left: 2px;
    border: 1px solid $color-disabled;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: center;
  }

  .toggle:before {
    content: "";
    color: $color-white;
    text-shadow: 1px 1px $color-black;
    font-family: tahoma;
    font-size: 0.688em;
  }
  > input:checked ~ .toggle-wrapper {
    background: $color-fuse_gradient;
    .toggle {
      left: 18px;
      border-color: $color-fuse;
    }
  }

  input:checked + .toggle:before {
    content: "";
  }
}

@include block(logo-circle) {
  @include element(outer) {
    position: relative;
    @include modifier(small) {
      height: 100%;
      width: 100%;
      max-width: 50px;
      min-width: 50px;
      min-height: 50px;
      max-height: 50px;
      margin-right: 10px;

      > span {
        font-size: 9px !important;
        margin-top: -5px;
      }
    }

    @include modifier(normal) {
      height: 100%;
      width: 100%;
      max-width: 60px;
      min-width: 60px;
      min-height: 60px;
      max-height: 60px;
      margin: auto;
    }

    @include modifier(big) {
      height: 100%;
      width: 100%;
      max-width: 80px;
      min-height: 80px;
      max-height: 80px;
      min-width: 80px;
    }
  }

  @include element(inner) {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  @include element(name) {
    @extend %logo-symbol;
    color: $color-dark;
  }
}

@include block(button) {
  height: 33px;
  background-color: $color-light-dark;
  border-radius: 3px;
  color: $color-white;

  .fa {
    margin-left: 4px;
  }

  @include modifier(normal) {
    width: 105px;
    font-size: 13px;
  }

  @include modifier(big) {
    width: 160px;
    font-size: 0.938em;
  }

  &:focus,
  &:active,
  &:focus:active {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-dark;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.3;
    background-color: $color-light-dark;
    color: $color-white;
    cursor: not-allowed;
  }
}

@include block(button-flip) {
  transition: 0.8s cubic-bezier(0.775, 0.07, 0.575, 0.995);
  transform-style: preserve-3d;
  border-radius: 3px;

  @include element(wrapper) {
    position: relative;
  }

  @include modifier(active) {
    &:hover {
      transform: rotateX(180deg);
    }
  }

  @include modifier(disabled) {
    pointer-events: none;
  }

  > button {
    width: 105px;
    height: 33px;
    display: inline-block;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
  }

  @include element(front) {
    border-radius: inherit;
    background-color: $color-light-dark;
    color: $color-white;
    backface-visibility: hidden;
    z-index: 2;
    transform: rotateX(0deg);
    position: absolute;

    &:disabled,
    &[disabled] {
      pointer-events: none;
      opacity: 0.3;
      color: $color-white;
      cursor: not-allowed;
    }

    &:hover {
      background-color: #052235;
    }

    @include modifier(fuse) {
      color: $color-dark !important;
      background: $color-fuse_gradient !important;

      &:disabled,
      &[disabled] {
        pointer-events: none;
        opacity: 0.3;
        color: $color-white;
        cursor: not-allowed;
      }

      &:hover {
        background: darken($color-fuse, 10%) !important;
      }
    }
  }

  @include element(back) {
    border-radius: inherit;
    background-color: #e4e4e4;
    color: $color-dark;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
    position: relative;

    > a {
      margin-right: 5px;
      display: inline-block;
      width: 13px;
      height: 12px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

@include block(entity_added) {
  border-radius: 3px;
  padding: 3em !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: $color-white;
  @include xy-grid(vertical, false);
  @include flex-align(spaced, middle);

  @include breakpoint(small down) {
    padding: 20px 30px;
  }

  @include element(title) {
    font-size: 24px;
    font-weight: 500;
    color: #052235;
    margin-bottom: 1.2em;
  }

  @include element(body) {
    @include xy-grid(vertical, false);
    @include flex-align(center, middle);
    color: $color-gray;
    font-size: 1.25em;
    line-height: 1.6;

    span:nth-child(2) {
      color: #052235;
    }
  }
}

@include block(congratulation) {
  @include xy-grid(vertical, false);
  @include flex-align(center, middle);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-white;
  z-index: 5;
  font-family: $font-family;
  border-radius: 10px;
  color: $color-dark;
  text-align: center;
  margin: 1em auto auto;

  @include breakpoint(medium up) {
    width: 520px;
  }

  @include element(title) {
    font-size: 1.875em;
    font-weight: bold;
    color: $color-dark;
    line-height: 2;
  }

  @include element(sub-title) {
    position: relative;
    font-size: 1.625em;
    font-weight: 500;
    text-align: center;
    color: $color-light-dark;

    > img {
      &:first-child {
        position: absolute;
        left: -5em;
      }

      &:last-child {
        position: absolute;
        right: -5em;
      }
    }
  }

  @include element(boxImg) {
    margin: 1em 0;
  }

  @include element(fuse-text) {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.43;
    text-align: center;
    color: $color-gray;
    margin-top: 20px;

    small {
      font-size: 75%;
    }

    a {
      font-size: 75%;
      text-decoration: underline;
    }
  }

  @include element(what) {
    font-size: 1.2em;
    line-height: 1.25;
    color: $color-gray;
    text-align: center;
  }

  @include element(text) {
    font-size: 0.9em;
    line-height: 1.56;
    text-align: center;
    color: $color-gray;
  }

  @include element(btn) {
    margin-top: 1.5em;
    > button {
      width: auto;
      border-radius: 19px;
      color: $color-dark;
      font-size: 14.3px;
      font-weight: 500;
      border-radius: 19px;
      color: $color-dark;
      padding: 0 1em;
      background: $color-fuse_gradient;

      &:hover {
        background: $color-fuse;
      }
    }
  }
}

@include block(status) {
  @include xy-grid(vertical, false);
  @include flex-align(center, middle);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-white;
  z-index: 5;
  font-family: $font-family;
  border-radius: 5px;

  @include modifier(radius-all) {
    border-radius: 10px;
  }

  @include modifier(radius-all-3) {
    border-radius: 3px;
  }

  @include modifier(dark) {
    background-color: rgba(5, 40, 62, 0.97);
  }

  @include element(issue) {
    width: 411px;
    height: 291px;
    border-radius: 10px;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.25);
    margin: auto;
    position: fixed;

    @include modifier(white) {
      background-color: $color-white;
    }

    @include modifier(dark) {
      background-color: rgba(5, 40, 62, 0.95);
    }

    @include block(error_image) {
      margin-bottom: 16px;
    }
  }

  @include element(title) {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: 0.5px;
    text-align: center;

    @include modifier(white) {
      color: $color-white;
    }

    @include element(dark) {
      color: $color-dark;
    }
  }

  @include element(sub-title) {
    font-size: 1.125em;
    font-weight: normal;
    margin-top: 15px;
    text-align: center;

    @include modifier(white) {
      color: $color-white;
    }

    @include element(dark) {
      color: $color-dark;
    }
  }

  @include element(icon) {
    margin: 1em auto;
    font-size: 1.25em;
  }

  @include element(loader) {
    display: inline-block;
    span {
      animation-name: blink;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }

    @include element(img) {
      width: 40px;
      height: 40px;
      margin: 15px auto 0;

      > img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
      }
    }
  }

  .fa-close {
    color: red;
  }
  .fa-check {
    color: $color-light-green;
  }

  @include element(button) {
    margin: 40px 0 0px;
  }
}

.bridge-deploying {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(5, 40, 62, 0.97);
  border-radius: 5px;
  font-family: $font-family;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  &-text {
    color: $color-white;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: 0.5px;
    span {
      animation-name: blink;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
  &__loader {
    width: 30px;
  }
  &-confirmation {
    color: $color-white;
    font-size: 1.125em;
    font-weight: normal;
    margin-top: 15px;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@include block(input-error) {
  display: block;
  position: absolute;
  bottom: -2em;
  color: red;
  font-size: 0.688em;
  line-height: 1.25;

  @include modifier(bold) {
    font-weight: bold;
  }

  &:not(:first-child) {
    margin-top: 5px;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

@include block(accordion) {
  margin: 0 auto;
  @include breakpoint(medium up) {
    max-width: 620px;
  }

  @include breakpoint(medium only) {
    max-width: 70%;
  }

  > .accordion__item:not(:first-child) {
    margin-top: 1em;
  }

  &[hidden] {
    display: none;
  }

  @include element(item) {
  }

  @include element(button) {
    color: #0d2d45;
    cursor: pointer;
    font-size: 1.125em !important;
    font-weight: bold !important;

    > a {
      font-size: 0.875em !important;
      font-weight: 400;
      color: #868686;
    }

    @include modifier(sub-title) {
      font-size: 0.875em !important;
      line-height: 1.93;
      color: #868686;
    }
  }

  @include element(panel) {
    display: flex;
    flex-direction: column;
    animation: fadein 0.35s ease-in;

    > div {
      font-family: $font-family !important;
    }
  }

  @include element(heading) {
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  }
}

@include block(ExpansionPanelSummary) {
  @include modifier(first) {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }

  @include modifier(last) {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes copyAnime {
  from {
    bottom: 0;
  }
  to {
    bottom: 50px;
  }
}

.BrainhubCarousel__dots {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;

  .BrainhubCarousel__dot {
    outline: 0;
    padding: 10px;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    -webkit-appearance: none;

    &.BrainhubCarousel__dot--selected {
      opacity: 1 !important;
    }

    &:hover {
      opacity: 1;
    }

    &:before {
      content: "";
      display: block;
      width: 8.5px;
      height: 8.5px;
      border-radius: 50%;
      padding: 0;
      border: none;
      background: #849eae;
    }
  }

  .BrainhubCarousel__thumbnail {
    outline: 0;
    padding: 10px;
    border: none;
    opacity: 0.5;
    cursor: pointer;

    &.BrainhubCarousel__thumbnail--selected {
      opacity: 1 !important;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.BrainhubCarousel__thumbnail[type="button"] {
  -webkit-appearance: none;
}

.BrainhubCarousel {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  .BrainhubCarousel__trackContainer {
    overflow: hidden;
    .BrainhubCarousel__track {
      display: flex;
      overflow: hidden;
      list-style: none;
      margin: 0;
      padding: 10px 0;

      &.BrainhubCarousel__track--transition {
        transition: transform;
      }
    }
  }
}

.BrainhubCarouselItem {
  display: flex;
  justify-content: center;
  position: relative;
  &.BrainhubCarouselItem--clickable {
    cursor: pointer;
  }
  // &.BrainhubCarouselItem--active {
  // }
  .debug-number {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-shadow: 0px 0px 9px white;
  }
}
