body > * {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: $font-family;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-overflow-scrolling: touch;
}

path:focus, g:focus {
	outline: 0 !important;
}

p {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 14px;
}

input {
	font-family: $font-family;
	border-radius: 0;
}

input:focus, textarea:focus {
	outline: none !important;
}

button {
	font-family: $font-family;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox" i] {
	margin: 0;
	padding: 0;
	display: block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a4a9b2;
  font-weight: lighter;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a4a9b2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a4a9b2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a4a9b2;
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none !important;
	cursor: pointer;
}
h1 {
	font-size: 32px;
	line-height: 1.06;
	letter-spacing: 0;
	text-align: left;
	margin: 0;
	font-weight:normal;
}

h2 {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	line-height: 1.25;
	letter-spacing: 0;
}

h3 {
	font-size: 40px;
	line-height: 1.06;
	letter-spacing: 0;
	margin: 0;
}

h4 {
	margin: 0;
	font-size: 20px;
}

h5 {
	margin: 0;
	font-size: 12px;
	font-weight:lighter;
}
