@import url("https://colupub.colu.com/fonts/703935/A96DF20C3066668FD.css");
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
@import '/node_modules/react-phone-input-2/lib/semantic-ui.css';

/*-------Basic helpers----------*/

@import 'config/config';

/*-------Helpers----------*/
@import 'foundation/foundation';
@import 'foundation/utils';
@import 'components/placeholders/placeholders';
@import 'common';
@import 'resets/resets';


/*---------Components Styles--------*/

@import 'components/Modal';
@import 'components/Root';
@import 'components/Communities';

@import 'components/ImageCropper';
@import 'components/issuance/Issuance';

@import 'components/dashboard/Dashboard';
@import 'components/dashboard/Plugins';
@import 'components/dashboard/JoinBonus';
@import 'components/dashboard/OnRamp';
@import 'components/dashboard/PluginInfoModal';
@import 'components/dashboard/CommunityInfo';
@import 'components/dashboard/Transfer';
@import 'components/dashboard/MintBurn';
@import 'components/dashboard/Settings';
@import 'components/dashboard/Table';
@import 'components/dashboard/ExistingEntity';
@import 'components/dashboard/Header';
@import 'components/dashboard/EntitiesManager';
@import 'components/dashboard/AddUserForm';
@import 'components/dashboard/GenericModal';
@import 'components/dashboard/InviteForm';

@import 'components/navbar';
@import 'components/home/homepage';
@import 'components/home/Templates';
@import 'components/home/Faq';
@import 'components/ProfileDropDown';
@import 'components/community';
@import 'components/footer';
