@include block(activity) {
 
  @include breakpoint(medium up) {
    padding: 1em 0 1em;
    display: flex;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }  
  }

  @include breakpoint(small down) {
    @include xy-grid();
    @include flex-align(justify, null);
    height: 60px;
  }

  @include modifier(selected) {
    background-color: #f3f3f3;
  }

  @include element(activity) {

    @include breakpoint(medium up) {
      flex: 1;
    }
  
    @include breakpoint(small down) {
      @include xy-grid(vertical, false);      
      @include flex-align(justify, null);
      border-radius: 2px;
      border: solid 1px #b2b2b2;
      padding: 10px;
      min-width: 120px;
    }

    @include element(number) {
      flex: 1;
      &:not(:last-child) {
        padding-right: 15px;
      }
    }
  }


  @include element(value) {
    font-size: 25px;
    color: $color-filter-genre;
    text-transform: uppercase;
  }

  @include element(small) {
    font-size: 11px;
    font-weight: 500;
    color: #8c94a8;
    text-transform: uppercase;
    margin-bottom: 7px;

    @include breakpoint(small down) {
      font-size: 9px;      
    }

    span {
      color: $color-negative-text;
    }

    * .fa {
      color: $color-arrow;
    }

    .text-asset {
      color: $color-author;
      text-transform: capitalize;
      font-size: 12px;
      font-weight: bold;
      font-family: $font-family;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.25;
      letter-spacing: normal;
    }
    .id {
      margin-left: 5px;
      cursor: pointer;
      text-transform: none;
      color: $color-negative;
      &:hover {
        cursor: pointer;
      }
    }
  }

  @include block(drop_down) {
    font-size: 11px;
    font-weight: bold;
    color: $color-step;
    position: relative;

    @include element(text) {
      text-transform: uppercase;
      font-weight: bold;
    }

    @include element(additional) {
      position: absolute;
      top: 19px;
      left: -10px;
      right: 40px;
      padding: 5px;
      background-color: $color-white;
      box-shadow: 0 0 7px 0 rgba(179, 185, 200, 0.33);
      border-radius: 3px;
      z-index: 1;
      @media (max-width: $breakpoint-mobile) {
        right: 0;
      }
    }

    @include element(point) {
      padding: 5px 7px;
      color: $color-dropdown-option;

      &:hover,
      &.active-point {
        cursor: pointer;
        background: $color-dropdown-option-bg-hover;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}