@include block(user-form) {
  padding: 1.3em;
  @include xy-grid();

  @include breakpoint(medium down) {
    flex-basis: 100%;
    padding: 1em 1em;
  }

  @include element(wrapper) {
    // @include xy-grid();
  }

  @include element(modal) {
    @include breakpoint(large up) {
      width: 603px !important;
    }
    padding: 0 !important;

    @include breakpoint(medium down) {
      width: 90%;
    }
  }

  @include element(title) {
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    color: $color-primary-dark;
    margin-bottom: 1em;
  }

  @include element(text) {
    text-align: start !important;
    color: $color-primary-dark;
    font-size: 11px;
  }

  @include element(field) {
    @include xy-grid();
    @include flex-align(null, middle);
    width: 100%;
    position: relative;

    > .input-error {
      bottom: -1.3em;
      // margin-left: 36%;
    }

    @include element(label2) {
      font-size: 12px !important;
      color: #a4a4a4 !important;
    }  

    @include element(phone) {
      @include xy-grid(vertical);
      @include flex-align(center, middle);
      flex: 1;
      border-radius: 10px;

      > input {
        width: 100%;
        &:last-child {
          border-radius: 0 0 10px 10px;
        }
        &:first-child {
          border-radius: 10px 10px 0 0;
        }
      }

      @include element(input) {
        border: 1px solid $color-brdr-issuance;
        font-family: $font-family-lato;
        padding: 5px 12px;
        display: block;
        height: 2em;
        font-size: 12px;
        box-sizing: border-box;
        color: $color-primary-dark;
      }
    }

    @include element(input) {
      border-radius: 16px;
      border: 1px solid $color-brdr-issuance;
      font-family: $font-family-lato;
      flex: 1;
      padding: 5px 12px;
      display: block;
      height: 2em;
      font-size: 12px;
      box-sizing: border-box;
      color: $color-primary-dark;
      &::placeholder {
        color: #c0c5d2;
      }
      &:focus {
        // border: 1px solid $color-orange;
      }
    }

    @include element(select) {
      // border-radius: 16px;
      display: inline-block;
      flex: 1;
      @include element(prefix) {
        color: #0a7586 !important;
        font-size: 12px;
        &__control {
          border: 1px solid #dadada !important;
          min-height: auto !important;
          width: 201px !important;
          height: 30px !important;
          border-radius: 0 !important;

          &--is-focused {
            box-shadow: 0 0 0 1px #052235 !important;
          }
        }
        &__value-container {
          height: inherit;
        }
        &__placeholder,
        &__single-value {
          color: #8d95a9 !important;
          font-size: 12px !important;
        }
        &__indicator-separator {
          display: none;
        }
        &__menu {
          border-radius: 0 !important;
        }
        &__option {
          color: #0a7586 !important;
          font-size: 12px !important;
          text-align: start !important;
          background-color: $color-white;
          height: 41px !important;
          padding-top: 14px !important;
          color: #a4a4a4 !important;
          &--is-focused {
            background-color: #f8f8f8 !important;
          }
          &--is-selected {
            background-color: #f8f8f8 !important;
          }
        }
        &__dropdown-indicator {
          &::before {
            content: "";
            display: block;
            position: absolute;
            right: 10px;
            width: 0;
            height: 0;
            top: 13px;
            border-style: solid;
            border-color: #8d95a9 transparent transparent transparent;
            border-width: 6px;
          }
          [class^="css"] {
            display: none;
          }
        }
        
      }
    }

    @include element(underline) {
      &:before {
        border-bottom: 1px solid #dadada !important;
      }
      &:hover:not(.Mui-disabled):before {
        border-bottom: solid 1px #25435A !important;

      }
      &:after {
        border-bottom: solid 1px #25435A !important;
      }
    }

    @include element(error) {
      &:after {
        border-bottom-color: #f44336 !important;
      }
    }

    @include element(label) {
      font-size: 12px;
      font-weight: bold !important;
      color: #052235 !important;
      text-align: start;
    }

    @include modifier(space-bottom) {
      margin-bottom: 1.8em;
    }
  }

  @include element(submit) {
    margin-left: auto;
    margin-top: 2em;
  }

  @include element(label) {
    font-size: 12px;
    font-weight: 500;
    color: #052235;
    display: block;
    margin-bottom: 1em;
    text-align: start;

    @include modifier(no-margin) {
        margin: 0;
    }
  }

  @include element(status) {
    margin-left: 2em;
  }

  @include element(more-info) {
    width: 100%;
    margin-top: 2.6em;
    padding-top: 2em;
    border-top: 1px solid #dadada;
  }
}

@include block(uploader) {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include element(title) {
    margin-right: 5px;
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 500;
    .fa {
      color:  #a4a4a4;
      margin-left: 5px;
      font-size: 1em;
    }
  }

  @include element(input) {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  @include element(label) {
    cursor: pointer;
    width: 114px;
    padding: 5px 10px;
    // height: 23px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    color: #7a7a7a;
    font-size: 12px;

    @include element(value) {
      color: #25435a;
      text-overflow: ellipsis;
      overflow: hidden; 
      // width: 100px;
      white-space: nowrap;
    }
  }
  
}

@include block(input) {

  @include element(root) {
    text-align: start;
    font-size: 12px !important;
    color: #7a7a7a !important;
  }
}