$csspieheight: 100px;

@include block(community_info) {
  @include element(title) {
    font-weight: 500;
    font-size: 1em;
    color: $color-dark;
    margin-bottom: 2em;

    @include breakpoint(medium down) {
      margin-bottom: 1em;      
    }
  }

  @include element(wrapper) {
    border-radius: 5px;
    position: relative;
    padding: 2em;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    background-color: $color-white;
    @include xy-grid(horizontal, false);

    @include breakpoint(medium up) {
      min-height: 271px;
      margin-top: 2em;
    }

    @include breakpoint(small down) {
      @include xy-grid(vertical, false);      
    }
  }

  @include element(general) {
    position: relative;
    @include breakpoint(medium up) {
      flex: .5;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      @include breakpoint(medium up) {
        top: 0;
        border-right: solid 1px #dadada;
        height: 100%;
      }

      @include breakpoint(medium down) {
        bottom: 0;
        border-bottom: solid 1px #dadada;
        width: 100%;
      }
    }
  }

  @include element(content) {
    
    @include breakpoint(medium up) {
      @include xy-grid();

      > div {
        margin-top: 2em;
      }
    }

    @include breakpoint(medium down) {
      @include xy-grid(vertical);      
    }
  }

  @include element(supply_pie) {
    @include xy-grid(vertical, false);
    @include flex-align(justify, middle);
    position: relative;
    font-size: 0.750em;
    color: #a4a4a4;

    @include block(title) {
      font-weight: 500;
      color: $color-light-dark;
      display: inline-block;
      margin-right: 5px;
    }

    @include block(dot) {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 5px;

      @include modifier(fuse) {
        background-image: $color-fuse_gradient;
      }
      @include modifier(main) {
        background-color: #abc3d2;
      }
    }
  
    @include breakpoint(medium up) {
      flex: .5;
    }

    @include breakpoint(medium down) {
      margin-top: 2em;
    }


    @include block(pie) {

      @include element(wrapper) {
        position: absolute;
        top: 0;
        left: 40%;

        @include modifier(container) {
          @include breakpoint(medium down) {
            min-width: 100%;
            min-height: 120px;
          }
        }

        @include breakpoint(medium down) {
          
        }
      }

      &:nth-of-type(1):before,
      &:nth-of-type(1):after {
        background-image: $color-fuse_gradient;
      }

      &:nth-of-type(2):after,
      &:nth-of-type(2):before {
        background-color: #abc3d2;
      }

      position: absolute;
      width: $csspieheight / 2;
      height: $csspieheight;
      overflow: hidden;
      left: $csspieheight * 0.75;
      transform-origin: left center;

      &:before {
        content: "";
        position: absolute;
        width: $csspieheight / 2;
        height: $csspieheight;
        left: -($csspieheight / 2);
        border-radius: ($csspieheight / 2) 0 0 ($csspieheight / 2);
        transform-origin: right center;
     
      }
    }

    @include block(big) {
      width: $csspieheight;
      height: $csspieheight;
      left: $csspieheight / 4;
      transform-origin: center center;

      &:before {
        left: 0px;
      }

      //big pieces need a second semicircle pointed in the opposite direction to hide the first part behind
      &:after {
        content: "";
        position: absolute;
        width: $csspieheight / 2;
        height: $csspieheight;
        left: $csspieheight / 2;
        border-radius: 0 ($csspieheight / 2) ($csspieheight / 2) 0;
      }
    }

    @include block(total__sides) {
      > p {
        line-height: 2.1;
        white-space: nowrap;
      }
    }
  }
}

@include block(title_value) {
  font-size: 0.750em;
  color: $color-gray;
  
  @include breakpoint(medium up) {
    @include xy-grid(vertical);
    height: 50px;
    flex-basis: 50%;
  }

  @include breakpoint(medium down) {
    @include xy-grid(vertical, false);      
    height: 40px;
    margin-bottom: 1.5em;
  }

  @include breakpoint(small down) {
    
  }

  @include element(title) {
    font-weight: 500;
    color: $color-light-dark;
  }

  @include element(value) {
    > strong {
      margin-right: 5px;
    }
  }

  @include block(copy) {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: relative;
    cursor: pointer;

    @include modifier(spaced) {
      margin-left: 5px;
      font-size: 16px;
    }

    .fa-clone {
      font-weight: 400;
      &:hover {
        font-weight: 900;
      }
    }

    .fa {
      display: flex;
      align-items: center;
      font-size: 0.625em;
      justify-content: center;
      padding-top: 4px;
    }
  }
}

//rotate each piece based on starting position
@for $i from 1 through 100 {
  .pie[data-start="#{$i}"] {
    transform: rotate(#{$i * 3.6}deg);
  }
}

//rotate the amount of the pie that's showing (add an extra degree to all but the final piece to fill in gaps)
@for $i from 1 through 99 {
  .pie[data-value="#{$i}"]:before {
    transform: rotate(#{$i * 3.6}deg);
  }
}
