@include block(dashboard) {
  @include block(container) {
    @include breakpoint(large) {
      position: relative;
      @include xy-grid();
    }
  }

  @include block(hamburger) {
    position: absolute;
    z-index: 100;
    padding: 20px;

    .fa {
      z-index: 100;
      font-size: 1.25em;
      color: $color-white;
    }
  }

  @include block(sidebar) {
    padding-bottom: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 106%;
    overflow-y: scroll;
    height: inherit;
    @include element(container) {
      overflow: hidden;
      position: relative;
      min-height: 100%;
      background-color: #051926;
      box-shadow: -1px 0 8px 0 rgba(0, 0, 0, 0.25);

      @include breakpoint(small down) {
        height: auto;
      }

      @include breakpoint(medium down) {
        flex-basis: 20%;
        height: 100%;
      }

      @include breakpoint(medium up) {
        margin: 0;
        padding: 0;
        width: 20%;
        position: fixed;
        height: 100%;
        overflow: auto;
        top: 0;
        left: 0;
        box-sizing: content-box;
      }

      @include breakpoint(xxlarge up) {
        width: 17.5%;
      }

      @include breakpoint(1800) {
        width: 15%;
      }
    }

    @include block(item) {
      padding: 20px;
      font-size: 14px;
      @include xy-grid(horizontal, false);
      @include flex-align(null, middle);
      min-height: 40px;
      color: #d6d6d6;

      @include modifier(hover) {
        &:hover {
          cursor: pointer;
          background-color: #04141e;
        }
      }

      @include modifier(home) {
        color: $color-fuse;
      }

      @include element(icon) {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;

        > img {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }

      @include element(text) {
        text-align: start;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;
      }
    }

    @include block(plugin__header) {
      @include xy-grid();
      @include flex-align(justify, middle);
      padding: 20px 20px 10px;
      font-size: 0.625em;

      @include block(title) {
        color: rgba(214, 214, 214, 0.6);
      }

      @include block(manage) {
        color: #d6d6d6;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    @include block(admin-title) {
      display: block;
      padding-left: 20px;
      padding-top: 20px;
      font-size: 0.625em;
      color: rgba(214, 214, 214, 0.6);
    }
  }

  @include block(content) {
    position: relative;

    @include element(cover_photo) {
      width: 100%;
      position: relative;

      @include block(cover) {
        > img {
          width: 100%;
          height: 200px;
        }
      }
      @include block(logo) {
        position: absolute;
        left: 8.7em;
        bottom: -3em;
        height: 100px;
        width: 100px;
        background-color: $color-white;
        border-radius: 50%;
        display: flex;

        .logo-circle__inner {
          position: unset;
          border-radius: 50%;
        }
      }
    }

    @include element(wrapper) {
      @include breakpoint(large up) {
        width: 80%;
        margin: 5em auto 3em;
      }

      @include breakpoint(2000) {
        width: 70%;
      }

      @include breakpoint(medium only) {
        width: 70%;
        padding-top: 4em;
        margin: auto;
      }

      @include breakpoint(small only) {
        padding: 2em 0.625em 6.125em;
      }
    }

    @include element(container) {
      background-color: #f5f5f5;
      position: relative;
      width: 100%;
      min-height: 100vh;
      height: 100%;

      @include breakpoint(medium up) {
        margin-left: 20%;
      }

      @include modifier(bgImage) {
        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 320px;
          background-image: url(../../assets/images/header-full.png);
          box-shadow: 0 1px 3px 0 rgba(37, 67, 90, 0.6), inset 5px -5px 11px 0 rgba(0, 0, 0, 0.25);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      @include breakpoint(xxlarge up) {
        margin-left: 17.5%;
      }

      @include breakpoint(1800) {
        margin-left: 15%;
      }

      @include breakpoint(small only) {
        height: auto;
      }
    }

    @include element(bridge) {
      margin-top: 2em;

      @include breakpoint(small down) {
        margin: 3em 0.5em 3em;
      }

      .bridge_toggle {
        color: $color-dark;
        font-size: 1.25em;
        margin-bottom: 10px;
        font-weight: 500;
      }

      @include element(title) {
        color: $color-dark;
        font-size: 1.25em;
        margin-bottom: 10px;
        font-weight: 500;
      }

      @include element(wrapper) {
        border-radius: 5px;
        padding: 2em;
        position: relative;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        background: $color-white;
      }

      @include element(container) {
        @include breakpoint(medium up) {
          flex: 1;
        }
        @include xy-grid(horizontal, false);
        @include flex-align(justify, middle);

        @include breakpoint(small down) {
          @include xy-grid(vertical, false);
          @include flex-align(justify, middle);
          flex-direction: column;
        }
      }

      @include block(bridge) {
        @include xy-cell(5, null, 0);
        @include breakpoint(medium down) {
          @include xy-cell(24, null, 0);
        }
        @include block(fuse-logo) {
          background-image: $color-fuse_gradient;
          padding: 2px;
          img {
            width: 28px;
            height: 100%;
          }
        }
        @include block(ethereum-logo) {
          line-height: 60px;
        }

        @include block(network-logo) {
          width: 52px;
          height: 52px;
          border-radius: 50%;
          margin-bottom: 5px;
          > img {
            width: 100%;
            height: 100%;
          }
        }

        @include element(title) {
          text-transform: capitalize;
          font-size: 14px;
          color: $color-dark;
          text-transform: capitalize;
          font-weight: 500;
        }

        @include element(text) {
          color: $color-dark-gray;
          font-weight: 500;
          font-size: 0.9em;
        }

        @include element(more) {
          min-width: 66px;
          height: 14px;
          margin-top: 1em;
          font-size: 0.688em;
          font-weight: 500;
          color: $color-light-blue;

          &:hover {
            text-decoration: underline;
          }
        }

        @include element(arrow) {
          flex: 0.2;
          line-height: 125px;
          text-align: center;
          color: $color-light-gray;

          @include breakpoint(small down) {
            transform: rotate(90deg);
            line-height: 40px;
          }
        }

        @include element(transfer) {
          @include xy-grid(horizontal, false);
          flex: 0.9;

          @include element(form) {
            position: relative;
            display: flex;
            align-items: center;
            height: 50px;
            input {
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              border: solid 1px #dadada;
              font-size: 25px;
              color: $color-dark;
              font-weight: bold;
              width: 100%;
              height: 50px;
              align-items: center;
              padding-left: 16px;
              overflow: hidden;

              &::placeholder {
                color: #92a1ac;
              }

            }

            @include element(currency) {
              position: absolute;
              right: 18px;
              font-size: 25px;
              color: #92a1ac;
              font-weight: bold;
            }

            @include element(btn) {
              border: none;
              min-width: 100px;
              color: $color-dark;
              padding: 9px 20px;
              background: $color-fuse_gradient;
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
              font-size: 0.688em;
              text-transform: uppercase;
              display: inline-block;
              font-weight: bold;
              text-align: center;
              outline: none;
              &:hover {
                cursor: pointer;
              }

              &:disabled {
                cursor: not-allowed;
                opacity: 0.3;
                background: $color-light-dark;
                color: $color-white;
              }
            }
          }

          @include element(title) {
            color: $color-dark;
            font-size: 0.75em;
            font-weight: 500;
            line-height: 2.17;
          }
        }

        @include element(deploy-btn) {
          display: block;
        }
      }
    }
  }
}
