@import "./Donut.scss";

@include block(balances)  {
  @include breakpoint(medium up) {
    @include xy-grid();
    width: 60%;
    padding: 15px;
    background-color: rgba(37, 67, 90, 0.04);
    min-height: 100px;
    max-height: 100px;
    height: 100%;
  }

  @include breakpoint(medium only) {
    width: 100%;     
  }

  @include breakpoint(small down) {
    @include xy-grid(vertical, false);
  }

  @include element(item) {
    @include xy-grid(vertical, false);
    @include flex-align(justify, null);

    @include breakpoint(medium up) {
      flex-basis: 50%;
      &:last-child {
        padding-left: 20px;
      }
    }

    @include breakpoint(small down) {
      height: 60px;
    }

    &:not(:last-child) {
      
      
      @include breakpoint(medium up) {
        border-right: solid 1px rgba(151, 151, 151, 0.34);        
      }

      @include breakpoint(small down) {
        border-bottom: solid 1px rgba(151, 151, 151, 0.34);  
        padding-bottom: 10px;
        margin-bottom: 10px;
        height: 70px;      
      }
    }

    @include breakpoint(medium up) {
     
    }

    @include element(title) {
      font-size: 12px;
      color: $color-primary-dark;
    }

    @include element(value) {
      @include xy-grid();
      @include flex-align(null, middle);
      
      @include element(number) {
        font-size: 14px;
        margin-right: 5px;
      }
      
      @include element(small) {
        font-size: 10px;
      }

      @include element(icon) {
        width: 12px;
        height: 20px;
        margin-right: 5px;
  
        > img {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@include block(Dashboard) {
  height: 100vh;
  @include element(container) {
    @include breakpoint(xlarge) {
      height: 100%;
    }
    @include breakpoint(large) {
      position: relative;
      @include xy-grid();
    }
  }

  @include element(hamburger) {
    position: absolute;
    z-index: 100;
    padding: 20px;

    .fa {
      z-index: 100;
      font-size: 20px;
      color: $color-white;
    }
  }

  @include block(sidebar) {
    flex-basis: 20%;
    @include breakpoint(xxlarge up) {
      flex-basis: 15%;
    }

    box-shadow: -1px 0 8px 0 rgba(0, 0, 0, 0.25);
    height: auto;
    @include breakpoint(large down) {
      height: 100%;
    }
    background-color: #051926;
    
    @include block(item) {
      padding: 20px;
      font-size: 14px;
      @include xy-grid(horizontal, false);
      @include flex-align(null, middle);
      min-height: 40px;
      color: #d6d6d6;

      @include modifier(hover) {
        &:hover {
          cursor: pointer;
          background-color: #04141e;
        }
      }

      @include modifier(home) {
        color: #fae83e;
      }

      @include element(icon) {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;

        > img {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }

      @include element(text) {
        text-align: start;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
        width: 200px;
      }
    }
  }

  @include block(content) {
    position: relative;

    @include breakpoint(large up) {
      width: 80%;
      margin: 4em auto 3em;
    }

    @include breakpoint(xxlarge up) {
      width: 65%;
      margin: 4em auto 3em;
    }

    @include breakpoint(medium only) {
      width: 70%;
      padding-top: 4em;
      margin: auto;
    }

    @include breakpoint(small only) {
      padding: 2em 0.625em 3.125em;
    }

    @include element(container) {
      background-color: #f5f5f5;
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 320px;
        background-image: url(../../assets/images/header-full.png);
        box-shadow: 0 1px 3px 0 rgba(37, 67, 90, 0.6), inset 5px -5px 11px 0 rgba(0, 0, 0, 0.25);
        background-repeat: no-repeat;
        background-size: cover;
      }

      @include breakpoint(large up) {
        position: relative;
        // height: inherit;
        min-height: 90vh;
        width: 100%;
        flex: 1;
      }

      @include breakpoint(large down) {
        min-height: 100vh;
        height: inherit;
      }

      @include breakpoint(small only) {
        height: auto;
      }
    }

    @include element(bridge) {
      margin-top: 2em;

      @include breakpoint(small down) {
        margin: 3em 0.5em 3em;
      }

      @include element(title) {
        color: #7a7a7a;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 500;
      }

      @include element(wrapper) {
        border-radius: 5px;
        padding: 20px 50px;
        position: relative;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        background: $color-white;
      }

      @include element(container) {
        display: flex;
        align-items: center;
        
        @include breakpoint(medium up) {
          flex: 1;
        }

        @include breakpoint(small down) {
          flex-direction: column;
        }
      }

      @include block(bridge) {
        text-align: center;

        @include block(fuse-logo) {
          background-image: linear-gradient(to bottom, #ffea14, #ffea14 31%, #85ffbc);
          padding: 2px;
          img {
            width: 28px;
            height: 100%;
          }
        }
        @include block(ethereum-logo) {
          line-height: 60px;
        }

        @include block(network-logo) {
          width: 52px;
          height: 52px;
          margin: 15px auto;
          border-radius: 50%;

          > img {
            width: 100%;
            height: 100%;
          }
        }

        @include element(title) {
          text-transform: capitalize;
          font-size: 14px;
          color: $color-primary-dark;
          text-align: center;
          text-transform: capitalize;
          margin-bottom: 5px;
          font-weight: 500;
        }

        @include element(text) {
          color: $color-author;
          font-size: 11px;
          text-align: center;
          margin-bottom: 5px;

          > div:first-child {
            line-height: 1.8;
            font-size: 12px;
            text-align: center;
            color: #4a687b;
          }

          span {
            font-weight: 500;
          }
        }

        @include element(more) {
          width: 66px;
          height: 14px;
          font-size: 11px;
          font-weight: 500;
          text-align: center;
          color: #a4a4a4;

          &:hover {
            text-decoration: underline;
          }
          
          // color: $color-primary-dark;
          
          // font-size: 10px;
          // background-color: #f3f3f3;
          // font-weight: 500;
          // border: none;
          // outline: none;
          // margin-top: 10px;
          // padding: 6px 12px;
          // border-radius: 11.5px;
          // &:hover,
          // &:focus:active,
          // &:active {
          //   background: $color-fuse_gradient;
          //   color: $color-primary-dark;
          //   cursor: pointer;
          // }
        }

        @include element(arrow) {
          flex: 0.5;
          line-height: 125px;
          text-align: center;
          color: $color-brdr-issuance;

          @include breakpoint(small down) {
            transform: rotate(90deg);
            line-height: 40px;
          }
        }

        @include element(transfer) {
          text-align: center;
          line-height: 95px;
          color: $color-author;
          font-size: 12px;
          font-weight: normal;
          line-height: 2.17;
          
          @include breakpoint(small down) {
            margin-bottom: 10px;
          }

          @include breakpoint(large) {
            align-self: flex-end;
          }

          @include element(form) {
            border-radius: 25px;
            box-shadow: inset -1px 0 4px 0 rgba(0, 0, 0, 0.23);
            height: 50px;
            display: flex;
            align-items: center;
            padding-right: 10px;
            padding-left: 3px;
            overflow: hidden;
            
            input {
              border: none;
              height: 14px;
              font-size: 25px;
              color: $color-arrow;
              padding: 10px;
              font-weight: bold;
              width: 100%;
            }

            @include element(currency) {
              font-size: 25px;
              color: $color-arrow;
              font-weight: bold;
            }

            @include element(btn) {
              border: none;
              color: $color-primary-dark;
              padding: 9px 20px;
              background: $color-fuse_gradient;
              border-radius: 16px;
              font-size: 11px;
              text-transform: uppercase;
              display: inline-block;
              margin: 0 auto;
              font-weight: bold;
              text-align: center;
              outline: none;
              margin-top: 30px;
              &:hover {
                cursor: pointer;
                // background-color: darken($color-ropsten, 20%);
              }
            }
          }

          @include element(title) {
            color: $color-primary-dark;
            font-size: 12px;
            font-weight: 500;
            line-height: 2.17;
          }
    
        }
        @include element(deploy-btn) {
          display: block;
        }          
      }
    }

    @include element(tabs) {
			@include breakpoint(medium up) {
        margin-top: 2em;
      }
    }
  }
}

.dashboard {
  &-content {
    padding-top: $nav-height;
    overflow: auto;
    height: 100vh;
    background-color: $color-dashboard-bg;
    flex-direction: column;

    @media (max-width: $breakpoint-tablet) {
      padding-top: 70px;
      padding-bottom: 30px;
    }

    .ctrl-btn {
      position: absolute;
      top: 50px;
      right: 45px;
      z-index: 30;
      @media (max-width: $breakpoint-tablet) {
        top: 30px;
        z-index: 30;
        .ctrl-icon {
          font-size: 22px;
        }
      }
      @media (max-width: $breakpoint-mobile) {
        top: 40px;
        right: 35px;
        z-index: 30;
      }
    }
  }
  &-header {
    height: 170px;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 21px 0 rgba(135, 118, 255, 0.39);
    background-image: linear-gradient(to top, #1c1442, #2a2057);
    padding: 0px 50px;
    @media (max-width: $breakpoint-tablet) {
      padding: 0px 30px;
      height: 100px;
    }
  }
  &-logo {
    img {
      height: 50px;
    }
  }

  &-section {
    display: flex;
    flex: 1;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }
  }

  &-bridge {
    border-radius: 10px;
    padding: 25px 50px;
    position: relative;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    background: $color-white;
  }

  &-information {
    margin-left: 20px;
    flex: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: $color-white;
    border-radius: 10px;
    padding: 20px;
    @media (max-width: $breakpoint-mobile) {
      margin-left: 0;
    }
    &-text {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      color: $color-author;
      text-transform: capitalize;
      @media (max-width: $breakpoint-mobile) {
        font-size: 10px;
      }
    }
    &-header {
      border-bottom: 1px solid $color-brdr-issuance;
      padding-bottom: 40px;
      margin-bottom: 20px;
      text-align: center;
      @media (max-width: $breakpoint-mobile) {
        justify-content: space-around;
        margin-bottom: 20px;
      }
      &-content {
        @media (max-width: $breakpoint-tablet) {
          margin-right: 30px;
        }
        @media (max-width: $breakpoint-mobile) {
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }
    &-big-count {
      font-size: 35px;
      color: $color-primary-dark;
      font-weight: bold;
      margin-top: 10px;
      span {
        font-size: 13px;
        margin-left: 10px;
      }
      @media (max-width: $breakpoint-mobile) {
        font-size: 24px;
      }
    }
    &-content {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
      padding-bottom: 30px;

      padding-top: 30px;
      display: flex;
      &-activity {
        flex: 1;

        @media (max-width: $breakpoint-mobile) {
          margin-right: 7px;
        }
      }
      &-number {
        flex: 1;
        &:not(:last-child) {
          padding-right: 15px;
        }
      }
    }
    &-small-text {
      font-size: 11px;
      font-weight: 500;
      color: #8c94a8;
      text-transform: uppercase;
      margin-bottom: 7px;
      span {
        color: $color-negative-text;
        @media (max-width: $breakpoint-mobile) {
          display: block;
        }
      }

      * .fa {
        color: $color-arrow;
      }

      .text-asset {
        color: $color-author;
        text-transform: capitalize;
        font-size: 12px;
        font-weight: bold;
        font-family: $font-family;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.25;
        letter-spacing: normal;
      }
      .id {
        margin-left: 5px;
        cursor: pointer;
        text-transform: none;
        color: $color-negative;
        &:hover {
          cursor: pointer;
        }
      }
      @media (max-width: $breakpoint-mobile) {
        font-size: 10px;
      }
    }
    &-period {
      font-size: 11px;
      font-weight: bold;
      color: $color-step;
      position: relative;
      &-text {
        text-transform: uppercase;
        font-weight: bold;
      }
      .fa-clone {
        margin-left: 10px;
        font-weight: 400;
        font-size: 12px;
        color: $color-arrow;
        &:hover {
          font-weight: 900;
        }
      }
      &-additional {
        position: absolute;
        top: 19px;
        left: -10px;
        right: 40px;
        padding: 5px;
        background-color: $color-white;
        box-shadow: 0 0 7px 0 rgba(179, 185, 200, 0.33);
        border-radius: 3px;
        z-index: 1;
        @media (max-width: $breakpoint-mobile) {
          right: 0;
        }
      }
      &-point {
        padding: 5px 7px;
        color: $color-dropdown-option;

        &:hover,
        &.active-point {
          cursor: pointer;
          background: $color-dropdown-option-bg-hover;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    &-number {
      font-size: 25px;
      color: $color-filter-genre;
      text-transform: uppercase;
    }
    &-footer {
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;

      &.entity-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.19);
        margin-right: 40px;
        margin-left: 40px;
        justify-content: flex-start;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        @media (max-width: $breakpoint-mobile) {
          margin-right: 0;
          margin-left: 0;
        }
      }

      @media (max-width: $breakpoint-mobile) {
        display: block;
      }
    }
  }

  @keyframes ani1 {
    from {
      bottom: 0;
    }
    to {
      bottom: 50px;
    }
  }

  &-network {
    display: flex;
    flex: 1;
    align-items: center;
    &-content {
      text-align: center;
      &.network-arrow {
        flex: 0.5;
        line-height: 125px;
      }
      &.balance-ropsten {
        .dashboard-network-text {
          span {
            color: $color-ropsten;
          }
        }
      }
      &.balance-disabled {
        opacity: 0.3;
        .fuse-logo {
          background: $color-bg-fuse-disabled;
        }
      }
    }
    &-title {
      text-transform: capitalize;
      font-size: 15px;
      color: $color-primary-dark;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 10px;
      font-weight: bold;
    }
    &-logo {
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 8px;
      padding: 5px;
      margin: 15px auto;
      border-radius: 50%;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
      &.fuse-logo {
        background-image: linear-gradient(to bottom, #ffea14, #ffea14 31%, #85ffbc);
        padding: 2px;
        img {
          width: 28px;
          height: 100%;
        }
      }
      &.ethereum-logo {
        line-height: 60px;
      }
    }
    .fa-long-arrow-alt-right {
      font-size: 24px;
      color: $color-arrow;
    }
    &-text {
      color: $color-author;
      font-size: 11px;
      text-align: center;
      margin-bottom: 5px;
      span {
        font-weight: 500;
      }
    }
    &-balance {
      font-size: 11px;
      color: $color-ropsten;
      font-weight: 600;
      span {
        font-weight: 300;
      }
      &.balance-fuse {
        color: $color-close-gray;
      }
    }
    &-btn {
      color: $color-primary-dark;
      font-size: 10px;
      background-color: #f3f3f3;
      font-weight: 500;
      border: none;
      outline: none;
      margin-top: 10px;
      padding: 6px 12px;
      border-radius: 11.5px;
      &:hover,
      &:focus:active,
      &:active {
        background-color: $color-ropsten;
        color: $color-white;
        cursor: pointer;
      }
    }
  }
  &-transfer {
    text-align: center;
    line-height: 95px;
    &-form {
      border-radius: 25px;
      box-shadow: inset -1px 0 4px 0 rgba(0, 0, 0, 0.23);
      height: 50px;
      display: flex;
      align-items: center;
      padding-right: 10px;
      padding-left: 3px;
      overflow: hidden;
      margin-top: 30px;

      input {
        border: none;
        height: 14px;
        font-size: 25px;
        color: $color-arrow;
        padding: 10px;
        font-weight: bold;
        width: 100%;
      }
      &-currency {
        font-size: 25px;
        color: $color-arrow;
        font-weight: bold;
      }
    }
    &-btn {
      border: none;
      color: $color-white;
      padding: 9px 20px;
      background-color: $color-ropsten;
      border-radius: 16px;
      font-size: 11px;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 auto;
      font-weight: bold;
      text-align: center;
      outline: none;
      &:hover {
        cursor: pointer;
        background-color: darken($color-ropsten, 20%);
      }
    }

    &-deploy-btn {
      display: block;
    }

    &-title {
      color: $color-primary-dark;
      font-size: 12px;
      font-weight: 500;
      line-height: 2.17;
    }
    &-text {
      color: $color-author;
      font-size: 12px;
      font-weight: normal;
      line-height: 2.17;
      margin-bottom: 10px;
    }
  }
  &-container {
    z-index: 20;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 20px;
    @media (max-width: $breakpoint-tablet) {
      width: auto;
    }
  }
}

// @include block(transfer-tab) {
//   display: flex;
//   flex-direction: column;
//   position: relative;

//   @include element(balance) {
//     @include block(title) {
//       width: 206px;
//       height: 21px;
//       font-family: $font-family;
//       font-size: 18px;
//       font-weight: 500;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: normal;
//       letter-spacing: normal;
//       color: $color-primary-dark;
//     }

//     @include block(amount) {
//       font-weight: normal;
//       color: rgba(37, 67, 90, 0.8);
//     }

//     @include block(symbol) {
//       font-size: 12px;
//       font-weight: normal;
//       margin-left: 3px;
//       color: rgba(37, 67, 90, 0.8);
//     }
//   }

//   @include element(line) {
//     height: 1px;
//     background-color: $color-brdr-issuance;
//     border: solid 0.1px $color-brdr-issuance;
//     width: 100%;
//     margin: 1em 0;
//   }

//   @include element(content) {
//     padding: 0 1em;
//     position: relative;
//     display: flex;
//     flex-direction: column;

//     @include element(to-field) {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       margin: 2.4em 0;
//       height: 35px;
//       position: relative;
//       @include element(text) {
//         font-family: $font-family;
//         font-size: 14px;
//         min-width: 1em;
//         font-weight: bold;
//         color: $color-primary-dark;
//       }

//       @include element(input) {
//         background: transparent;
//         border: none;
//         width: 96%;
//         border-bottom: 1px solid $color-brdr-issuance;
//       }
//     }

//     @include modifier(activities) {
//       @include breakpoint(small down) {
//         flex-direction: row;
//         justify-content: space-between;
//         padding: 1em 0;
//       }
//     }    

//     @include element(amount) {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       position: relative;
//       @include element(text) {
//         font-family: $font-family;
//         font-size: 14px;
//         font-weight: bold;
//         min-width: 65px;
//         color: $color-primary-dark;
//       }

//       @include element(field) {
//         box-shadow: 0 0 6px 0 #cccccc;
//         border: solid 2px transparent;
//         background-color: #fff;
//         border-radius: 45px;
//         padding: 8px 16px;
//         color: $color-step-title;
//         min-height: 1.5em;
//         font-size: 20px;
//         width: 85%;
//         font-weight: bold;
//         &::placeholder {
//           color: rgba(0, 0, 0, 0.3);
//           font-weight: bold;
//         }

//         &:focus {
//           border: solid 2px $color-step-title;
//           box-shadow: none;
//         }
//       }
//     }

//     @include element(button) {
//       align-self: flex-end;
//       margin: 40px 0 0px;

//       > button {
//         display: inline-block;
//         border-radius: 30px;
//         background-color: $color-fuse_gradient;
//         font-size: 12px;
//         color: $color-white;
//         // padding: 10px 30px;
//         width: 84px;
//         height: 32px;
//         text-transform: uppercase;
//         border: none;
//         font-weight: bold;
//         .symbol-icon {
//           margin-left: 5px;
//         }
//         &:focus,
//         &:active,
//         &:focus:active {
//           outline: none;
//         }
//         &:hover {
//           background-color: darken($color-ropsten, 10%);
//           cursor: pointer;
//         }
//         &[disabled] {
//           color: #fff;
//           cursor: not-allowed;
//           background-color: lighten($color-ropsten, 20%) !important;
//         }
//       }
//     }
//   }

//   @include element(actions) {
//     align-self: flex-start;
//     display: flex;
//     align-items: center;
//     margin: 2.4em 0;
//     width: 140px;
//     height: 35px;

//     > button {
//       &:last-child {
//         border-radius: 0 20px 20px 0;
//       }
//       &:first-child {
//         border-right: 0;
//         border-radius: 20px 0 0 20px;
//       }
//     }

//     @include element(btn) {
//       background-color: #f4f4f4;
//       border: solid 1px #dadada;
//       flex-basis: 50%;
//       color: rgba(37, 67, 90, 0.6);
//       font-size: 12px;
//       height: 100%;
//       outline: none;
//       font-weight: bold;
//       cursor: pointer;

//       @include modifier(active) {
//         background: $color-fuse_gradient;
//       }
//     }
//   }
// }
