@include block(dashboard) {
  @include block(container) {
    @include breakpoint(large) {
      position: relative;
      @include xy-grid();
    }
  }

  @include block(hamburger) {
    position: absolute;
    z-index: 100;
    padding: 20px;

    .fa {
      z-index: 100;
      font-size: 1.250em;
      color: $color-white;
    }
  }

  @include block(sidebar) {
    @include element(container) {
      background-color: #051926;
      box-shadow: -1px 0 8px 0 rgba(0, 0, 0, 0.25);

      @include breakpoint(small down) {
        height: auto;
      }

      @include breakpoint(medium down) {
        flex-basis: 20%;
        height: 100%;
      }

      @include breakpoint(medium up) {
        margin: 0;
        padding: 0;
        width: 20%;
        position: fixed;
        height: 100%;
        overflow: auto;
        top: 0;
        left: 0;
        overflow-y: scroll;
        padding-right: 16px;
        box-sizing: content-box;
      }

      @include breakpoint(xxlarge up) {
        width: 17.5%;
      }

      @include breakpoint(1800) {
        width: 15%;
      }
    }
    
    @include block(item) {
      padding: 20px;
      font-size: 14px;
      @include xy-grid(horizontal, false);
      @include flex-align(null, middle);
      min-height: 40px;
      color: #d6d6d6;

      @include modifier(hover) {
        &:hover {
          cursor: pointer;
          background-color: #04141e;
        }
      }

      @include modifier(home) {
        color: $color-fuse;
      }

      @include element(icon) {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;

        > img {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }

      @include element(text) {
        text-align: start;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
        width: 200px;
      }
    }

    @include block(plugin__header) {
      @include xy-grid();
      @include flex-align(justify, middle);
      padding: 20px 20px 10px;
      font-size: 0.625em;

      @include block(title) {
        color: rgba(214, 214, 214, 0.6)
      }

      @include block(manage) {
        color: #d6d6d6;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    @include block(admin-title) {
      display: block;
      padding-left: 20px;
      padding-top: 20px;
      font-size: 0.625em;
      color: rgba(214, 214, 214, 0.6)
    }
  }

  @include block(content) {
    position: relative;

    @include element(wrapper) {
      @include breakpoint(large up) {
        width: 80%;
        margin: 4em auto 3em;
      }
  
      @include breakpoint(2000) {
        width: 70%;
        margin: 4em auto 3em;
      }
  
      @include breakpoint(medium only) {
        width: 70%;
        padding-top: 4em;
        margin: auto;
      }
  
      @include breakpoint(small only) {
        padding: 2em 0.625em 6.125em;
      }
    }

    @include element(container) {
      background-color: #f5f5f5;
      @include breakpoint(medium up) {
        position: relative;
        width: 100%;
        margin-left: 20%;
        min-height: 100vh;
        height: 100%;
      }

      @include breakpoint(medium down) {
        height: auto;
        position: relative;
        width: 100%;

        // flex-basis: 20%;
        // box-shadow: -1px 0 8px 0 rgba(0, 0, 0, 0.25);
        // height: auto;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 320px;
        background-image: url(/assets/images/header-full.png);
        box-shadow: 0 1px 3px 0 rgba(37, 67, 90, 0.6), inset 5px -5px 11px 0 rgba(0, 0, 0, 0.25);
        background-repeat: no-repeat;
        background-size: cover;
      }

      @include breakpoint(xxlarge up) {
        margin-left: 17.5%;
      }

      @include breakpoint(1800) {
        margin-left: 15%;
      }

      @include breakpoint(small only) {
        height: auto;
      }
    }

    @include element(bridge) {
      margin-top: 2em;

      @include breakpoint(small down) {
        margin: 3em 0.5em 3em;
      }

      @include element(title) {
        color: $color-gray;
        font-size: 1.250em;
        margin-bottom: 10px;
        font-weight: 500;
      }

      @include element(wrapper) {
        border-radius: 5px;
        padding: 20px 50px;
        position: relative;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        background: $color-white;
      }

      @include element(container) {
        display: flex;
        align-items: center;
        
        @include breakpoint(medium up) {
          flex: 1;
        }

        @include breakpoint(small down) {
          flex-direction: column;
        }
      }

      @include block(bridge) {
        text-align: center;

        @include block(fuse-logo) {
          background-image: $color-fuse_gradient;
          padding: 2px;
          img {
            width: 28px;
            height: 100%;
          }
        }
        @include block(ethereum-logo) {
          line-height: 60px;
        }

        @include block(network-logo) {
          width: 52px;
          height: 52px;
          margin: 15px auto;
          border-radius: 50%;

          > img {
            width: 100%;
            height: 100%;
          }
        }

        @include element(title) {
          text-transform: capitalize;
          font-size: 14px;
          color: $color-dark;
          text-align: center;
          text-transform: capitalize;
          margin-bottom: 5px;
          font-weight: 500;
        }

        @include element(text) {
          color: $color-dark-gray;
          font-size: 0.688em;
          text-align: center;
          margin-bottom: 5px;

          > div:first-child {
            line-height: 1.8;
            font-size: 0.9em;
            text-align: center;
            color: $color-light-dark;
          }

          span {
            font-weight: 500;
          }
        }

        @include element(more) {
          min-width: 66px;
          height: 14px;
          font-size: 0.688em;
          font-weight: 500;
          text-align: center;
          color: #a4a4a4;

          &:hover {
            text-decoration: underline;
          }
        }

        @include element(arrow) {
          flex: 0.5;
          line-height: 125px;
          text-align: center;
          color: $color-light-gray;

          @include breakpoint(small down) {
            transform: rotate(90deg);
            line-height: 40px;
          }
        }

        @include element(transfer) {
          text-align: center;
          line-height: 95px;
          color: $color-dark-gray;
          font-weight: normal;
          line-height: 2.17;
          flex: .9;
          
          @include breakpoint(small down) {
            margin-bottom: 10px;
          }

          @include breakpoint(large) {
            align-self: flex-end;
          }

          @include element(form) {
            position: relative;
            display: flex;
            align-items: center;
            height: 50px;

            input {
              border: 1px solid transparent;
              font-size: 25px;
              color: $color-dark;
              font-weight: bold;
              width: 100%;
              border-radius: 25px;
              box-shadow: inset -1px 0 4px 0 rgba(0, 0, 0, 0.23);
              height: 50px;
              align-items: center;
              padding-left: 16px;
              overflow: hidden;

              &::placeholder {
                color: #92a1ac;
              }

              &:focus {
                border: solid 1px $color-dark;
              }
            }

            @include element(currency) {
              position: absolute;
              right: 18px;
              font-size: 25px;
              color: #92a1ac;
              font-weight: bold;
            }

            @include element(btn) {
              border: none;
              color: $color-dark;
              padding: 9px 20px;
              background: $color-fuse_gradient;
              border-radius: 16px;
              font-size: 0.688em;
              text-transform: uppercase;
              display: inline-block;
              margin: 0 auto;
              font-weight: bold;
              text-align: center;
              outline: none;
              margin-top: 30px;
              &:hover {
                cursor: pointer;
              }

              &:disabled {
                cursor: not-allowed;
                opacity: 0.3;
                background: $color-light-dark;
                color: $color-white;
              }
            }
          }

          @include element(title) {
            color: $color-dark;
            font-size: 0.750em;
            font-weight: 500;
            line-height: 2.17;
          }
    
        }

        @include element(deploy-btn) {
          display: block;
        }          
      }
    }
  }
}