@include block(entities) {
  @include element(wrapper) {
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: $color-white;
    border-radius: 5px;

    @include breakpoint(medium up) {
      min-height: 390px;
      height: 390px;  
    }
  }

  @include element(container) {
    @include xy-grid();
    @include flex-align(justify, null);
    padding-top: 20px;
  }

  @include element(actions) {
    @include xy-grid();
    @include flex-align(null, middle);
    width: 100%;
    margin-bottom: 2em;
    padding: 0 50px;
    justify-content: space-between;


    @include element(buttons) {

      @include element(wrapper) {
        @include xy-grid();
        @include flex-align(center, middle);
        flex-basis: 40%;
      }

      @include xy-grid();
      @include flex-align(center, middle);

      > button {
        &:last-child {
          border-radius: 0 20px 20px 0;
        }
        &:first-child {
          border-right: 0;
          border-radius: 20px 0 0 20px;
        }
      }

      @include element(btn) {
        padding: 10px;
        min-width: 110px;
        min-height: 2em;
        background-color: #f4f4f4;
        border: solid 1px #dadada;
        flex-basis: 50%;
        color: rgba(37, 67, 90, 0.6);
        font-size: 0.8em;
        height: 100%;
        outline: none;
        font-weight: bold;
        cursor: pointer;

        @include modifier(active) {
          background-color: $color-light-green;
          color: white;
        }
      }
    }

    @include element(add) {
      
      @include element(wrapper) {
        font-size: 0.688em;
        @include xy-grid();
        @include flex-align(justify, middle);
        flex-basis: 30%;
        
        > div {
          @include xy-grid();
          @include flex-align(null, middle);
        }
      }

      @include element (community) {
        > span {
          margin-left: 5px;
        }
      }
      
      > span {
        width: 20px;
        height: 20px;
        display: inline-block;
        cursor: pointer;
        margin-right: 5px;
        margin-left: auto;

        .fa {
          font-size: 1.250em;
        }

        > a {
          height: 100%;
          width: 100%;
          display: block;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  @include element(search) {
    height: 100%;
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
    width: 100%;
    margin: 0 50px 20px;

    @include breakpoint(medium down) {
      margin-left: 20px;
      margin-right: 20px;
      @include flex-align(null, null);
      
      > div {
        @include xy-grid();
        height: 2em;
      }
    }

    @include breakpoint(medium up) {
      @include xy-grid();
      @include flex-align(null, middle);
  
      min-height: 41px;
      max-height: 41px;
    }

    @include modifier(user) {
      border-radius: 3px;
      border: solid 1.3px #dedede;
    }
    
    @include modifier(business) {
      width: 100%;
      border-radius: 20.5px;
      border: solid 1.3px #dedede;
      background-color: $color-white;
    }

    @include element(filter) {
      position: relative;
      cursor: pointer;
      z-index: 1;
      height: 100%; 
      @include breakpoint(xxlarge up) {
        flex-basis: 20%;
      }
      @include breakpoint(xxlarge down) {
        flex-basis: 30%;
      }
      @include breakpoint(medium only) {
        flex-basis: 45%;
      }

      @include modifier(border) {
        @include breakpoint(medium up) {
          border-right: solid 1.3px #dedede;          
        }

        @include breakpoint(small down) {
          border-bottom: solid 1.3px #dedede;          
        }
      }

      @include element(value) {
        display: flex;
        font-size: 0.750em;
        height: 100%;
        align-items: center;
      }

      &:hover {
        .filter-options {
          @include xy-grid()
        }
      }

      @include block(filter-options) {
        position: absolute;
        display: none;
        @include flex-align(left, middle);
        width: 188px;
        border-radius: 5px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
        background-color: $color-white;

        @include block(options) {
          position: relative;
          width: 100%;
          height: 100%;
          margin: 0;
          list-style: none;
          padding: 0;
          @include xy-grid(vertical);
          @include flex-align(spaced);
          font-size: 0.750em;
          cursor: initial;

          @include element(item) {
            @include xy-grid();
            @include flex-align(justify, middle);
            cursor: pointer;
            padding: 10px;
            &:not(:last-child) {
              border-bottom: solid 1px #e2e2e2;
            }

            input {
              position: absolute;
              opacity: 0;
              display: none;
              cursor: pointer;
            }

            > label {
              display: block;
              position: relative;
              padding-left: 2em;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;

              > input:checked + span {
                background-color: $color-light-green;
              }
              > input:checked + span::after{
                display: block;
              }
              > span {
                position: absolute;
                top: 0;
                left: 0;
                height: 18px;
                width: 18px;
                background-color: #d0d0d0;
                border-radius: 50%;

                &:after {
                  top: 5px;
                  left: 4.5px;
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  background: white;
                }

                &:after {
                  content: '';
                  position: absolute;
                }
              }
            }
          }
        }
      }
    }

    @include block(selected) {
      border-radius: 12px;
      font-size: 0.688em;
      padding: 5px 20px;
      background-color: #f6f6f6;
    }

    @include element(field) {
      @include element(icon) {
        color: $color-dark-gray;
        font-weight: bold;
        border: none;
        background: none;
        outline: none;
        font-size: 0.750em;
        padding: 8px 10px;
  
        &:hover,
        &:focus,
        &:focus:active {
          color: darken($color-dark-gray, 10%);
        }
        &[disabled] {
          cursor: not-allowed !important;
          background-color: transparent !important;
          box-shadow: 0 0 6px 0 rgba(95, 221, 187, 0.77);
          &:hover,
          &:focus,
          &:focus:active {
            cursor: not-allowed;
          }
        }
      }
      > input {
        border: none;
        font-size: 0.750em;
        font-weight: 500;
        &::placeholder {
          font-weight: 500;
        }
      }
    }
  }

  @include element(loader) {
    text-align: center;
    
    @include block(loader) {
      height: 60px;
      width: 180px;
    }
    
  }

  @include element(items) {
    width: 100%;
    max-height: 500px;
    overflow: auto;
    padding: 5px 50px 30px;

    @include breakpoint(medium down) {
      padding: 5px 20px 30px;      
    }

    @include element(empty) {
      color: $color-white;
      font-size: 16px;
    }
  }

  @include element(header) {
    @include xy-grid();
    @include flex-align(justify, middle);
    color: $color-white;

    @include breakpoint(medium up) {
      margin-top: 10em;
      margin-bottom: 1.5em;
    }

    @include breakpoint(small down) {
      margin-top: 4em;
    }

    @include element(title) {
      font-size: 1.625em;
      font-weight: 500;
    }

    @include element(add) {
      > div {
        font-size: 0.688em;
        cursor: pointer;
          > span {
          width: 15px;
          height: 12px;
          display: inline-block;
          margin-right: 5px;
          margin-left: auto;

          .fa {
            font-size: 14px;
          }

          > a {
            height: 100%;
            width: 100%;
            display: block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }

  @include element(empty-list) {
    text-align: center;
    height: inherit;
    width: 100%;
    @include xy-grid(vertical);
    @include flex-align(center, middle);

    @include breakpoint(small down) {
      min-height:300px;
      padding: 2em;
    }

    @include block(loader) {
      width: 80px;
    }

    @include element(image) {
      width: 150px;
      height: 150px;
    }

    @include element(title) {
      color: $color-dark;
      font-size: 1.3em;
      margin: 10px 0;
    }
    @include element(text) {
      color: $color-dark-gray;
      font-size: 0.750em;
      margin-bottom: 20px;
    }

    @include element(btn) {
      border: none;
      color: $color-white;
      padding: 9px 20px;
      background-color: $color-light-dark;
      border-radius: 6px;
      font-size: 0.688em;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      outline: none;
      &:hover {
        cursor: pointer;
        background-color: $color-dark;
      }
    }
  }
}