@include block (generic-modal) {

  @include element(image) {

  }

  @include element(container) {

  }

  @include element(title) {
    font-size: 20px;
    color: $color-text-gray;
    font-weight: 500;
    line-height: 1.25;
    margin: 20px 0;
  }

  @include element(text) {
    color: #7a7a7a;
    margin-bottom: 20px;
  }

  @include element(button) {
    border: none;
    color: $color-white;
    width: 89px;
    height: 34px;
    padding: 9px 20px;
    background-color: #4a687b;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    outline: none;
    cursor: pointer;
    &:hover {
			background-color: #052235;
		}
  }
}