@include block(community_header) {
  @include xy-grid();

  @include breakpoint(small only) {
    padding: 2em 0;
    @include xy-grid(horizontal, false);
  }

  @include element(image) {
    display: inline-block;
    width: 54px;
    height: 54px;
    margin-right: 10px;

    > div {
      max-width: inherit;
      min-width: inherit;
      max-height: inherit;
      min-height: inherit;
    }
  }

  @include element(content) {
    color: $color-dark;
    @include xy-grid(vertical);
    @include flex-align(spaced, null);
    > div:first-child {
      @include breakpoint(medium up) {
        @include xy-grid();
      }
    }

    @include block(address) {
      font-size: 14px;

      .fa-clone {
        font-weight: 400;
        color: $color-light-gray;
        &:hover {
          cursor: pointer;
          font-weight: 900;
        }
      }

      > span {
        margin-right: 10px;
      }
    }

    @include block(name) {
      font-size: 24px;
      font-weight: 500;
      color: $color-gray;

      @include element(wrapper) {
        width: max-content;
      }

      @include breakpoint(small down) {
        font-size: 14px;
        display: inline;
      }

      @include element(status) {
        font-size: 13px;
        align-self: flex-end;
        line-height: 1.7;

        @include breakpoint(small down) {
          font-size: 0.688em;
        }
      }

      @include element(line) {
        margin: auto 0;
        height: 80%;
        background-color: $color-white;
        border: solid 1px $color-white;
        width: 2px;
      }
    }
  }

  @include element(button) {
    margin-left: auto;
    margin-top: auto;

    > button {
      background-color: $color-light-dark;
      padding: 0 15px;
      height: 33px;
      border-radius: 16.3px;
      color: $color-white;
      font-size: 0.85em;

      &:hover {
        background-color: $color-primary-dark;
      }

      > img {
        padding-right: 5px;
      }
    }
  }
}
