@include block(plugin-info) {
  @include breakpoint(medium up) {
    width: 795px;
    height: 596px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }

  @include breakpoint(medium down) {
    width: 90%;
  }
  padding: 0;
  display: block;
  width: 49.688em;
  height: 100%;
  min-width: 18.875em;
  min-height: 37.25em;
  max-height: 37.25em;
  font-size: 16px;
  border-radius: 5px;
  background-color: $color-white;

  @include element(image) {
    position: relative;
    width: 100%;
    padding-top: 211 / 795 * 100%;

    @include element(container) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  @include element(content) {
    text-align: start;
    height: 100%;
    @include breakpoint(medium up) {
      padding: 2.500em;
    }

    @include breakpoint(medium down) {
      padding: 1.125em;
    }

    @include modifier(disabled) {
      opacity: 0.4;
    }
  }

  @include element(title) {
    display: block;
    height: 26px;
    font-size: 1.125em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #4a687b;

  }

  @include element(text) {
    width: 551px;
    font-size: 0.8em;
    line-height: 1.54;
    letter-spacing: normal;
    color: #7a7a7a;
  }

  @include element(btn) {
    @include xy-grid();
    @include flex-align(spaced, middle);
    margin-left: auto;
    margin-top: 3em;
    width: 77px;
    height: 30px;
    border-radius: 4px;
    background-color: $color-primary-dark;
    color: $color-white;
    font-size: 0.813em;
    font-weight: 500;
    line-height: 2;

    > img {
      width: 13px;
      height: 13px;
    }
  }
}
