@include block(settings) {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  background-color: $color-white;
  border-radius: 5px;
  position: relative;
  padding: 2em;
  width: fit-content;

  @include block(actions) {
    @include xy-grid();
    @include flex-align(justify, middle);
  }

  @include block(button) {
    margin-left: auto;
    margin-top: 1em;
  }

  .issuance__wizard {
    padding-bottom: 0;
  }

  @include element(header) {
    color: $color-white;
    @include xy-grid();
    @include flex-align(justify, middle);

    @include breakpoint(small down) {
      margin-top: 4em;
    }

    @include breakpoint(medium up) {
      margin-top: 10em;
      margin-bottom: 1.5em;
    }

    @include element(title) {
      font-size: 1.625em;
      font-weight: 500;
    }
  }

  @include element(form) {
    max-width: 620px;
  }
}
