@include block(table) {
  height: 318px;

  @include element(wrapper) {
    display: block;
    border: solid 1px #ddd;
    border-radius: 5px;
    background-color: $color-white;
  }

  @include element(actions) {
    height: 40px;
    padding: 0 8px;
    @include xy-grid();
    @include flex-align(null, middle);
    @include element(search) {
      @include breakpoint(medium up) {
        flex: 0.7;
      }
      @include element(icon) {
        color: $color-dark-gray;
        font-weight: bold;
        border: none;
        background: none;
        outline: none;
        font-size: 0.75em;
        padding: 8px 10px;
      }

      @include element(input) {
        border: none;
        font-size: 0.75em;
        color: #92a1ac;
      }
    }

    @include element(button) {
      border: none;
      color: $color-white;
      padding: 9px 10px;
      background-color: $color-light-dark;
      border-radius: 6px;
      font-size: 0.688em;
      display: inline-block;
      text-align: center;
      margin-left: auto;
      &:hover {
        cursor: pointer;
        background-color: $color-dark;
      }
    }
  }

  @include element(header) {
    border: solid 1px #ececec;
    background-color: #f5f5f5;
    height: 35.4px;

    @include element(cell) {
      font-size: 0.688em;
      // font-weight: bold;
      color: $color-gray;

      @include element(sort) {
        margin-left: 5px;
      }
    }
  }

  @include element(body) {
    height: 283px;
    overflow-y: auto;
    overflow-x: hidden;

    @include element(row) {
      position: relative;
      height: 47px;
      border-bottom: solid 0.5px #efefef;

      &:hover {
        border-bottom: none;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
      }

      @include modifier(just-added) {
        border-bottom: none;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
      }
    }

    @include element(cell) {
      font-size: 0.688em;
      color: $color-gray;

      @include block(link) {
        &:hover {
          text-decoration: underline;
        }
      }

      .fa-clone {
        color: $color-dark-gray;
        cursor: pointer;
        font-weight: 300;

        &:hover {
          font-weight: 900;
        }
      }

      @include block(row_checkbox) {
        display: none;
        margin-left: 10px;
        &:hover {
          display: none;
        }
        &:checked ~ .check {
          border: 2px solid #969696;
        }

        &:checked ~ .check::before {
          background: #969696;
        }

        &:checked ~ label {
          color: #969696;
        }
      }

      @include block(label) {
        display: block;
        font-weight: 300;
        font-size: 1.35em;
        height: 20px;
        width: 60px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
      }
      @include block(check) {
        display: block;
        position: absolute;
        border: solid 1px #c5c5c5;
        border-radius: 100%;
        margin-left: 10px;
        height: 20px;
        width: 20px;
        top: 10px;
        left: 20px;
        z-index: 5;
        transition: border 0.25s linear;
        -webkit-transition: border 0.25s linear;

        &:hover {
          border: 2px solid #969696;
        }

        &:before {
          display: block;
          position: absolute;
          content: "";
          border-radius: 100%;
          height: 14px;
          width: 14px;
          top: 1px;
          left: 1px;
          margin: auto;
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear;
        }
      }

      @include element(more) {
        position: relative;
        padding-right: 10px;
        display: flex;
        color: $color-dark;
        font-size: 0.75em;

        @include element(toggler) {
          margin-left: auto;
        }

        &:hover {
          .more {
            display: flex;
          }
        }

        @include block(more) {
          font-size: 16px;
          position: absolute;
          display: none;
          right: 8px;
          top: 0px;
          z-index: 1;
          @include flex-align(left, middle);
          min-width: 120px;
          width: max-content;
          height: auto;
          border-radius: 5px;
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
          background-color: $color-white;

          @include element(options) {
            list-style: none;
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 3px 0;
            @include xy-grid(vertical);
            @include flex-align(spaced);
            font-size: 0.688em;
            cursor: initial;

            @include element(item) {
              padding: 10px;
              cursor: pointer;

              &:hover {
                background-color: darken($color: white, $amount: 10%);
              }

              &:not(:last-child) {
                border-bottom: solid 1px #e2e2e2;
              }
            }
          }
        }
      }
    }
  }

  @include element(pagination) {
    @include xy-grid();
    @include flex-align(spaced, middle);
    font-size: 0.688em;
    color: rgba(122, 122, 122, 0.5);
    margin-right: 1em;

    > select {
      width: 40px;
      border: none;
    }

    @include element(wrapper) {
      height: 35px;
      border-radius: 3px;
      border: solid 1px #ececec;
      background-color: #f5f5f5;

      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
