@import './Donut.scss';

.dashboard {
  &-content {
    display: flex;
    margin-top: 100px;
    overflow: auto;
    height: calc(100vh - 100px);
    background-color: $color-dashboard-bg;
    flex-direction: column;

    .ctrl-btn {
      position: absolute;
      top: 50px;
      right: 45px;
      z-index: 30;
      @media (max-width: $breakpoint-tablet) {
        top: 30px;
        z-index: 30;
        .ctrl-icon {
          font-size: 22px;
        }
    	}
      @media (max-width: $breakpoint-mobile) {
        top: 40px;
        right: 35px;
        z-index: 30;
    	}
    }
  }
  &-header {
    height: 170px;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 21px 0 rgba(135, 118, 255, 0.39);
    background-image: linear-gradient(to top, #1c1442, #2a2057);
    padding: 0px 50px;
    @media (max-width: $breakpoint-tablet) {
      padding: 0px 30px;
      height: 100px;
  	}
  }
  &-logo {
    img {
      height: 50px;
    }
  }

  &-sidebar {
    width: 270px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: $color-step-text;
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      margin-bottom: 40px;
      padding: 20px;
  	}
    .coin-logo {
      width: 80px;
      margin: 0 auto;
      @media (max-width: $breakpoint-mobile) {
        width: 50px;
        margin-bottom: 20px;
    	}
    }
    .coin-content {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      span {
        font-size: 10px;
        &:not(:last-child) {
          margin-right: 7px;
        }
      }
      .coin-currency {
        color: $color-step-text;
        font-weight: 500;
        &-type {
          color: #6e6d9f;
          font-weight: bold;
        }
      }
      &-type {
        &:not(:last-child) {
          margin-right: 25px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            right: -15px;
            top: 9px;
            width: 4px;
            height: 4px;
            background-color: #5fddbb;
            border-radius: 50%;
          }
        }
      }
    }
  }

  &-title {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;
    text-transform: capitalize;
    color: $color-bg-gray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-brdr-issuance;
    margin-bottom: 5px;
  }

  &-section {
    display: flex;
    flex: 1;
  }

  &-progress {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
    [class^='dashboard-progress-bar'] {
      width: 40px;
      height: 40px;
      border: 10px solid $color-donut-bg;
      border-radius: 50%;
      position: relative;
      &-donut {
        width: 20px;
        height: 20px;
        background-color: $color-step-text;
      }
      &:after {
        width: 20px;
        height: 20px;
        background-color: $color-step-text;
        position: absolute;
        content: '';
        top: 10px;
        left: 10px;
        z-index: 3;
        border-radius: 50%;
      }
    }
    &-bar-20 {
      @include donutChart(20, $color-orange);
    }
    &-bar-40 {
      @include donutChart(40, $color-orange);
    }
    &-bar-60 {
      @include donutChart(60, $color-orange);
    }
    &-bar-80 {
      @include donutChart(80, $color-orange);
    }
    &-bar-100 {
      @include donutChart(100, $color-orange);
    }

    &-content {
      padding-left: 15px;
    }

    &-title {
      font-size: 12px;
      color: $color-step;
      line-height: 16px;
    }
    &-percent {
      line-height: 16px;
      font-size: 16px;
      color: $color-filter-text;
    }
    &-text {
      margin-bottom: 10px;
      .progress-text-content {
        font-size: 12px;
      }
      &.text-positive {
        .progress-text-content {
          color: $color-btn-control;
        }
        .fa {
          color: $color-orange;
          font-size: 10px;
          margin-right: 10px;
        }
      }
      &.text-negative {
        .progress-text-content {
          color: $color-negative-text;
          text-decoration: underline;
        }
        .fa {
          color: $color-negative;
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }
  }

  &-information {
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: $color-step-text;
    border-radius: 10px;
    padding: 20px;
    @media (max-width: $breakpoint-tablet) {
      margin-left: 0;
  	}
    &-text {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      color: $color-author;
      text-transform: capitalize;
      @media (max-width: $breakpoint-mobile) {
        font-size: 10px;
      }
    }
    &-header {
      border-bottom: 1px solid $color-brdr-issuance;
      padding-bottom: 40px;
      margin-bottom: 20px;
      text-align: center;
      @media (max-width: $breakpoint-mobile) {
        justify-content: space-around;
        margin-bottom: 20px;
    	}
      &-content {
        @media (max-width: $breakpoint-tablet) {
          margin-right: 30px;
      	}
        @media (max-width: $breakpoint-mobile) {
          margin-bottom: 10px;
          text-align: center;
      	}
      }
    }
    &-big-count {
      font-size: 35px;
      color: $color-filter-text;
      font-weight: bold;
      margin-top: 10px;
      span {
        font-size: 13px;
        margin-left: 10px;
      }
      @media (max-width: $breakpoint-mobile) {
        font-size: 24px;
      }
    }
    &-content {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      display: flex;
      &-activity {
        flex: 1;

        @media (max-width: $breakpoint-mobile) {
          margin-right: 7px;
        }
      }
      &-number {
        flex: 1;
        &:not(:last-child) {
          padding-right: 15px;
        }
      }
    }
    &-small-text {
      font-size: 11px;
      font-weight: 500;
      color: #8c94a8;
      text-transform: uppercase;
      margin-bottom: 7px;
      span {
        color: $color-negative-text;
      }
      .text-asset {
        color: $color-author;
        text-transform: capitalize;
        font-size: 12px;
        font-weight: bold;
      }
      form {
        display: inline-block;
      }
      textarea {
        white-space: nowrap;
        width: 100%;
        min-width: 333px;
        color: $color-negative;
        resize: none;
        border: none;
        height: 14px;
        font-size: 12px;
        margin-left: 7px;
        padding: 0;
        position: relative;
        top: 3px;

        @media (max-width: $breakpoint-mobile) {
          margin-left: 0;
          min-width: 320px;
        }
      }

      @media (max-width: $breakpoint-mobile) {
        font-size: 10px;
      }
    }
    &-period {
      font-size: 11px;
      font-weight: bold;
      color: $color-orange;
      position: relative;
      &-text {
        text-transform: uppercase;
        font-weight: bold;
      }
      .fa-clone {
        margin-left: 10px;
        font-weight: 400;
        font-size: 12px;
        &:hover {
          font-weight: 900;
        }
      }
      &-additional {
        position: absolute;
        top: 19px;
        left: -10px;
        right: 40px;
        padding: 5px;
        background-color: $color-step-text;
        box-shadow: 0 0 7px 0 rgba(179, 185, 200, 0.33);
        border-radius: 3px;
        z-index: 1;
        @media (max-width: $breakpoint-mobile) {
          right: 0;
        }
      }
      &-point {
        padding: 5px 7px;
        color: $color-dropdown-option;

        &:hover,
        &.active-point {
          cursor: pointer;
          background: $color-dropdown-option-bg-hover;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    &-number {
      font-size: 25px;
      color: $color-filter-genre;
      text-transform: uppercase;
    }
    &-footer {
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;

      &.entity-footer {
        margin-top: 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.19);
        justify-content: flex-start;
      }

      @media (max-width: $breakpoint-mobile) {
        display: block;
      }
    }
  }
  &-notification {
    position: absolute;
    width: 100px;
    height: 40px;
    padding: 11px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    color: $color-step-text;
    margin-left: -50px;
    text-align: center;
    left: 50%;
    font-size: 14px;
    animation: ani1 1s alternate infinite;
  }

  @keyframes ani1{
    from{
      bottom: 0;
    }
    to {
      bottom: 50px;
    }
  }

  &-network {
    display: flex;
    flex: 1;
    align-items: center;
    &-content {
      text-align: center;
      flex: 1;
      &.network-arrow {
        flex: 0.5;
      }
    }
    &-title {
      font-size: 15px;
      color: $color-filter-text;
      text-align: center;
      text-transform: capitalize;
    }
    &-logo {
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 8px;
      padding: 5px;
      margin: 15px auto;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
      &.fuse-logo {
        background-image: linear-gradient(to bottom, #ffea14, #ffea14 31%, #85ffbc);
        padding: 11px;
        img {
          width: 28px;
        }
      }
    }
    .fa-long-arrow-alt-right {
      font-size: 24px;
      color: $color-arrow;
    }
    &-text {
      color: $color-author;
      font-size: 11px;
      text-align: center;
      margin-bottom: 5px;
    }
    &-balance {
      font-size: 11px;
      color: $color-orange;
      font-weight: 600;
      span {
        font-weight: 300;
      }
      &.balance-fuse {
        color: $color-close-gray;
      }
    }
    &-btn {
      color: $color-filter-text;
      font-size: 10px;
      background-color: $color-community-bg;
      border: none;
      outline: none;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 6px 12px;
      border-radius: 3px;
      &:hover,
      &:focus:active,
      &:active {
        background-color: $color-orange;
        color: $color-step-text;
        cursor: pointer;
      }
    }
  }
  &-transfer {
    margin-top: 60px;
    text-align: center;
    &-form {
      box-shadow: inset -1px 0 4px 0 rgba(0, 0, 0, 0.23);
      border-radius: 3px;
      height: 50px;
      display: flex;
      align-items: center;
      padding-right: 10px;
      padding-left: 3px;
      overflow: hidden;
      margin-bottom: 45px;
      input {
        border: none;
        height: 14px;
        font-size: 25px;
        color: $color-arrow;
        padding: 10px;
        font-weight: bold;
        width: 100%;
      }
      &-currency {
        font-size: 25px;
        color: $color-arrow;
        font-weight: bold;
      }
    }
    &-btn {
      border: none;
      color: $color-step-text;
      padding: 15px 20px;
      background-color: $color-orange;
      border-radius: 3px;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 auto;
      font-weight: bold;
      text-align: center;
      outline: none;
      &:hover {
        cursor: pointer;
        background-color: lighten($color-orange, 10%);
      }
    }
  }
  &-container {
    z-index: 20;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: $breakpoint-tablet) {

  	}
    @media (max-width: $breakpoint-mobile) {

  	}
    &.ropsten {
      .dashboard {
        &-progress {
          &-bar-20 {
            @include donutChart(20, $color-ropsten);
          }
          &-bar-40 {
            @include donutChart(40, $color-ropsten);
          }
          &-bar-60 {
            @include donutChart(60, $color-ropsten);
          }
          &-bar-80 {
            @include donutChart(80, $color-ropsten);
          }
          &-bar-100 {
            @include donutChart(100, $color-ropsten);
          }
          &-text {
            &.text-positive {
              .fa {
                color: $color-ropsten;
              }
            }
          }
        }
        &-information {
          &-period {
            color: $color-ropsten;
            &-text {
              color: $color-ropsten;
            }
          }
        }
        &-transfer {
          &-btn {
            background-color: $color-ropsten;
            &:hover {
              background-color: lighten($color-ropsten, 10%);
            }
          }
        }
        &-network {
          &-balance {
            color: $color-ropsten;
            &.balance-fuse {
              color: $color-close-gray;
            }
          }
          &-btn {
            &:hover,
            &:focus:active,
            &:active {
              background-color: $color-ropsten;
            }
          }
        }
      }
    }
  }
}
