.dashboard {
  &-entity-container {
    position: absolute;
    top: 200px;
    left: 170px;
    right: 170px;
    bottom: 0;
    z-index: 20;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @media (max-width: $breakpoint-desktop) {
      left: 130px;
      right: 80px;
  	}
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      align-items: inherit;
      left: 100px;
      right: 30px;
      top: 25px;
  	}
    @media (max-width: $breakpoint-mobile) {
      top: 20px;
      left: 20px;
      right: 20px;
  	}
  }
  }
