.dashboard {
  &-entity {
    &-container {
      width: 650px;
      margin: 50px auto 0;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      &.flex-end {
        justify-content: flex-end;
      }
    }
    &-loader {
      text-align: center;
      margin-top: 40px;
      .loader {
        height: 60px;
        width: 180px;
      }
    }
    &-search {
      color: $color-step-text;
      font-size: 16px;
      font-weight: 500;
      display: flex;
    }
  }
}

.btn-entity-search {
  color: #ff4a7b;
  font-size: 13px;
  font-weight: bold;
  border: none;
  background: none;
  outline: none;
  padding: 6px 12px;
  position: relative;
  top: -4px;
  &:hover,
  &:focus,
  &:focus:active {
    cursor: pointer;
    color: darken(#ff4a7b, 10%);
  }
  &[disabled] {
    cursor: not-allowed !important;
    background-color: transparent !important;
    box-shadow: 0 0 6px 0 rgba(95, 221, 187, 0.77);
    &:hover,
    &:focus,
    &:focus:active {
      cursor: not-allowed;
    }
  }
}

.btn-entity-adding {
  color: $color-step-field;
  font-size: 13px;
  font-weight: bold;
  border: none;
  background: none;
  outline: none;
  padding: 6px 12px;
  &:hover,
  &:focus,
  &:focus:active {
    cursor: pointer;
    color: darken($color-step-field, 10%);
  }
  &[disabled] {
    cursor: not-allowed !important;
    background-color: transparent !important;
    box-shadow: 0 0 6px 0 rgba(95, 221, 187, 0.77);
    &:hover,
    &:focus,
    &:focus:active {
      cursor: not-allowed;
    }
  }
}

.emptyText {
  color: $color-step-text;
  font-size: 16px;
}

.entities {
  &-logo {
    color: $color-step-text;
    font-size: 32px;
    font-weight: 500;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    padding-top: 3px;
    text-align: center;
    img {
      margin-right: 7px;
      position: relative;
      top: 5px;
      height: 30px;
      width: 30px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &-header {
    background-color: $color-step-field;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 50;
    height: 84px;
    padding: 0 30px;

    &-profile {
      display: flex;
      align-items: center;
      font-size: 14px;

      .profile-icon {
        width: 45px;
        height: 45px;
        box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.13);
        line-height: 52px;
        text-align: center;
        margin-right: 15px;
        border-radius: 50%;
        background-color: $color-step-text;
        img {
          display: inline-block;
        }
      }
      .profile-balance {
        color: $color-step-text;

        .balance-address {
          width: 180px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
      }
      .top-nav-balance {
        font-size: 14px;

        .balance-text {
          font-size: 11px;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.6);
        }

        .balance-number {
          font-size: 12px;
          color: $color-step-text;
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }

    &-content {
      display: flex;
      padding-top: 18px;
    }

    &-nav {
      display: flex;
      &-link {
        color: rgba(255, 255, 255, 0.93);
        font-size: 14px;
        font-weight: 500;
        display: block;
        padding: 20px 25px 30px 25px;
        border-bottom: 3px solid transparent;
        text-transform: uppercase;
        &.active-link {
          color: $color-step-text;
          border-bottom: 3px solid $color-step-text;
        }
        &:hover {
          cursor: pointer;
          color: $color-step-text;
          border-bottom: 3px solid $color-step-text;
        }
        &-name {
          background-color: #53c9a9;
          color: rgba(255, 255, 255, 0.93);
          font-size: 14px;
          font-weight: 500;
          display: block;
          position: relative;
          top: -20px;
          padding: 39px 25px 47px 25px;
          text-transform: uppercase;
          .fa {
            font-size: 17px;
            margin-left: 15px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.entity {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(284deg, #262451, #343166);
  &-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-step-text;
    line-height: 52px;
    font-size: 40px;
    color: $color-step-field;
    margin-right: 15px;
    text-align: center;
  }
  &-name {
    color: $color-step-text;
    font-size: 15px;
    margin-bottom: 7px;
  }
  &-subtitle {
    color: #8d8cac;
    font-size: 11px;
    font-weight: 500;
  }
  &-modal {
    width: 1000px !important;
    display: flex;
    padding: 0;
    margin: 0 auto;
    @media (max-width: $breakpoint-tablet) {
      width: 575px !important;
      flex-direction: column;
    }
    @media (max-width: $breakpoint-mobile) {
      width: 100% !important;
      padding: 30px 20px;
      display: block;
    }
    &-title {
      padding-top: 0 !important;
      padding-bottom: 10px !important;
    }
    &-business-name {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #e2e2e2;
      padding: 15px 0;
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: 500;
      color: #1a2b59;
      width: 100%;
      &::placeholder {
        font-size: 17px;
        color: #b3b9c8;
        font-style: italic;
      }
    }
    &-media {
      width: 225px;
      padding: 30px;
      background-color: #eceff6;
      text-align: left;
      @media (max-width: $breakpoint-tablet) {
        width: 100%;
        padding: 20px;
      }
      &-title {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.16;
        letter-spacing: -0.2px;
        color: #25435a;
      }
      &-img {
        width: 226px;
        height: 435px !important;
        position: absolute;
        bottom: -1px;
        left: 0;
        @media (max-width: $breakpoint-tablet) {
          display: none;
        }
      }
    }
    &-content {
      background-color: $color-step-text;
      padding: 40px;
      text-align: left;
      flex: 1;
      @media (max-width: $breakpoint-tablet) {
        padding: 20px;
      }
      &-upload {
        color: #0a7586;
        border-radius: 3px;
        padding: 30px 0;
        font-size: 11px;
        margin-bottom: 20px;
        background: linear-gradient(to right, #c0c5d2 50%, rgba(255, 255, 255, 0) 0%),
                    linear-gradient(#c0c5d2 50%, rgba(255, 255, 255, 0) 0%),
                    linear-gradient(to right, #c0c5d2 50%, rgba(255, 255, 255, 0) 0%),
                    linear-gradient(#c0c5d2 50%, rgba(255, 255, 255, 0) 0%);
        background-position: top, right, bottom, left;
        background-repeat: repeat-x, repeat-y;
        background-size: 15px 1px, 1px 15px;
        &-text {
          text-align: center;
          .fa {
            color: #e1e3ea;
            font-size: 32px;
            display: block;
            margin-bottom: 5px;
          }
        }
      }
      &-select {
        border-radius: 3px;
        background-color: rgba(10, 117, 134, 0.08);
        display: inline-block;
        min-width: 180px;
        &-prefix {
          color: #0a7586 !important;
          font-size: 12px;
          &__value-container {
            padding: 4px 8px !important;
          }
          &__control {
            background: none !important;
            border: 1px solid rgba(10, 117, 134, 0.08) !important;
            min-height: auto !important;
            box-shadow: none !important;
          }
          &__placeholder,
          &__single-value {
            color: #0a7586 !important;
            font-size: 12px !important;
          }
          &__indicator-separator {
            display: none;
          }
          &__option {
            color: #0a7586 !important;
            font-size: 12px !important;
            &--is-focused {
              background-color: rgba(10, 117, 134, 0.53) !important;
            }
            &--is-selected {
              background-color: rgba(10, 117, 134, 0.08) !important;
            }
          }
          &__dropdown-indicator {
            &::before {
              content: '';
              display: block;
              position: absolute;
              right: 10px;
              width: 0;
              height: 0;
              top: 16px;
              border-style: solid;
              border-color: #0a7586 transparent transparent transparent;
              border-width: 6px;
            }
            [class^='css'] {
              display: none;
            }
          }
        }
        &.active-business-select {
          .entity-modal-content-select-prefix__control {
            border: 1px solid rgba(10, 117, 134, 0.53) !important;
            position: relative;
            &:after {
              position: absolute;
              z-index: 3;
              top: -3px;
              left: 0;
              width: 3px;
              height: 6px;
              content: '';
              display: block;
              border: solid $color-step-text;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
            &:before {
              position: absolute;
              z-index: 2;
              width: 14px;
              height: 14px;
              content: '';
              display: block;
              border-radius: 50%;
              top: -5px;
              left: -5px;
              background: #0a7586;
            }
          }
        }
      }
      &-type {
        border-radius: 3px;
        background-color: rgba(10, 117, 134, 0.08);
        display: inline-block;
        padding: 10px;
        color: #0a7586;
        font-size: 12px;
        margin-bottom: 5px;
        margin-right: 7px;
        border: 1px solid rgba(10, 117, 134, 0.08);

        &.active-business-type {
          border: 1px solid rgba(10, 117, 134, 0.53);
          position: relative;
          &:after {
            position: absolute;
            z-index: 3;
            top: -3px;
            left: 0;
            width: 3px;
            height: 6px;
            content: '';
            display: block;
            border: solid $color-step-text;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
          &:before {
            position: absolute;
            z-index: 2;
            width: 14px;
            height: 14px;
            content: '';
            display: block;
            border-radius: 50%;
            top: -5px;
            left: -5px;
            background: #0a7586;
          }
        }
      }
      hr {
        border: none;
        border-top: 1px solid #e2e2e2;
      }
      &-title {
        font-size: 12px;
        font-weight: 500;
        color: #1a2b59;
      }
      &-label {
        font-family: $font-family-lato;
        font-size: 12px !important;
        font-weight: bold !important;
        line-height: 4 !important;
        letter-spacing: normal !important;
        color: #1a2b59;
        position: relative;
        span {
          color: #b3b9c8;
          font-weight: normal;
          &.fa {
            color: $color-orange;
            font-weight: 900;
          }
        }
        &-type {
          font-size: 13px;
          line-height: 3.38;
          color: #8d95a9;
          position: absolute;
          top: 2px;
          right: 0;
        }
      }
      &-form-control {
        border-radius: 4px;
        border: 1px solid #e2e2e2;
        font-family: $font-family-lato;
        width: 100%;
        padding: 5px 12px;
        margin-bottom: 20px;
        display: block;
        font-size: 12px;
        box-sizing: border-box;
        color: #1a2b59;
        &-label {
          font-size: 11px !important;
          font-weight: bold !important;
          line-height: 3 !important;
          color: #8d95a9 !important;
        }
        &::placeholder {
          font-size: 13px;
          color: #c0c5d2;
          font-style: italic;
        }
        &:focus {
          border: 1px solid $color-orange;
        }
      }
    }
  }
  &-profile {
    display: flex;
    background-color: #1f193f;
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    &-container {
      width: 995px;
      margin: 50px auto 0;
      @media (max-width: $breakpoint-tablet) {
        width: 565px;
        margin: 80px auto 0;
      }
      @media (max-width: $breakpoint-mobile) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &-content {
      border-radius: 5px;
      box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
      background-image: linear-gradient(305deg, #262451, #343166);
      padding: 15px;
      margin-bottom: 20px;
      &-point {
        color: $color-step-text;
        font-size: 12px;
        line-height: 2.25;
        a {
          color: $color-step-text;
          &:hover,
          &:focus,
          &:active {
            color: darken($color-step-text, 3%);
          }
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        .fa {
          box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.28);
          margin-right: 10px;
          color: #555280;
          font-size: 16px;
          min-width: 18px;
        }
      }
    }
    &-media {
      border-radius: 5px;
      box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
      overflow: hidden;
      &-img {
        height: 200px;
        background-size: cover;
        background-color: $color-step-text;
        background-position: center;
      }
      &-content {
        background-image: linear-gradient(326deg, #262451, #343166);
        padding: 70px 20px 20px;
        position: relative;
      }
    }
    &-logo {
      width: 100px;
      height: 100px;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.21);
      background-color: $color-step-text;
      border-radius: 50%;
      color: $color-step-field;
      position: absolute;
      top: -50px;
      text-align: center;
      font-size: 85px;
      left: 50%;
      margin-left: -50px;
    }
    &-title {
      color: $color-step-text;
      line-height: 1.53;
      font-size: 17px;
      text-align: center;
      margin-bottom: 10px;
    }
    &-type {
      color: #8d8cac;
      line-height: 2.08;
      text-align: center;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
    &-link {
      font-size: 12px;
      color: #5fddbb;
      line-height: 2.17;
      text-align: center;
      text-decoration: underline;
    }
  }
}

.btn-add-entity {
  border-radius: 4px;
  background-color: $color-orange;
  color: $color-step-text;
  display: block;
  width: 100%;
  padding: 6px 12px;
  outline: none;
  border: none;
  margin-top: 20px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  &:hover,
  &:focus,
  &:focus:active,
  &:active {
    outline: none;
    cursor: pointer;
    background-color: darken($color-orange, 10%);
  }
}

$columns: 12;

@mixin col-x-list {
  @for $i from 1 through $columns {
    .col-#{$i} {
      width: $i * 100/$columns * 1%
    }
  }
}

@include col-x-list;

div[class^='col'] {
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px;
  &.justify-center {
    justify-content: center;
  }
  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}
