@import './settings';
@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-visibility-classes;
@include foundation-flex-classes;

@include foundation-xy-grid-classes(
    $base-grid:        true,
    $margin-grid:      true,
    $padding-grid:     true,
    $block-grid:       true,
    $collapse:         true,
    $offset:           true,
    $vertical-grid:    true,
    $frame-grid:       true
);
