.breadcrumbs {
  background-color: $color-dashboard-bg;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;

  &-title {
    color: $color-primary-dark;
    font-size: 12rem;
    padding-right: 20px;
    position: relative;
    &:after {
      content: '>';
      position: absolute;
      right: 6px;
    }
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &-text {
    color: $color-primary-dark;
    font-size: 12rem;
    font-weight: bold;
    text-transform: capitalize;
  }
}
