@include block(community) {
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  @include xy-grid();

  &:hover {
    cursor: pointer;
    background-color: #f3f3f3;
  }

  @include breakpoint(large) {
    min-width: 242px;
    min-height: 100px;
  }

  @include element(logo) {
    padding: 5px;
    margin: auto 2px;
  }

  @include element(content) {
    @include xy-grid(vertical);
    @include flex-align(center, null);
    margin-left: 10px;
  
    @include element(title) {
      font-size: 14px;
      color: $color-primary-dark;
    }

    @include element(members) {
      font-size: 10px; 

      > span {
        margin-left: 5px;
				font-weight: bold;
				color: $color-close-gray;
      }
    }
  }
}