.logo-img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: relative;
}

@include block(communities) {
	position: relative;
	&:before {
    content: "";
    display: block;
    position: absolute;
    width: 35%;
    height: 30%;
    right: 0;
    background-image: url(/assets/images/pattern.png);
    background-size: contain;
    background-repeat: no-repeat;
		background-position: top right;
		
		@include breakpoint(medium down) {
			width: 65%;
      height: 200px;		
		}
	}
	&:after {
    height: 100%;
  }
	@include breakpoint(small down) {
		margin-bottom: 70px;
	}

  @include element(wrapper) {
		padding: 100px 0 10px;
	}

	@include element(banner) {
		color: $color-primary-dark;

		@include breakpoint(small down) {
			padding: 20px
		}

		@include element(content) {
			@include xy-grid(vertical);
			@include flex-align(justify, null);
		}

		@include element(title) {
			font-weight: bold;
			
			@include breakpoint(large) {
				font-size: 35px;
			}

			@include breakpoint(medium down) {
				font-size: 24px;
			}
		}

		@include element(text) {
			@include breakpoint(medium up) {
				font-size: 17px;
			}
	
			padding: 0 0 20px;
			
			@include modifier(space) {
				padding-top: 20px;
			}
		}

		@include element(image) {
			img {
				background-size: contain;
				background-repeat: no-repeat; 
			}
	
			@include modifier(second) {
				margin: auto;
				@include breakpoint(medium) {
				}

					@include breakpoint(small down) {
					margin: auto;
				}
			}
		}
	}
	
	@include element(list) {
		@include element(wrapper) {
			background-color: #f5f5f5;
			padding-bottom: 5em;
		}

		@include element(items) {
			padding: 10px 0;

			> div {
				border-radius: 8px;
			}
			
			@include element(item) {
				@include padding(null, 2, null, 2);
				@include margin(null, null, 2, null);
			}
		}
	}

	@include element(search) {
		@include element(wrapper) {
			padding: 30px 0;
			position: sticky;
			top: 70px;
			background-color: #f5f5f5;
			z-index: 10;
		}

		display: flex;
		border: 1px solid $color-light-gray;
		max-height: 40px;
		min-width: 255px;
		border-radius: 20px;
		overflow: hidden;

		input {
			padding: 15px 0;
			background-color: $color-white;
			color: $color-dark-gray;
			flex: 1.7;
			border: none;
			&::placeholder {
				color: $color-light-gray;
			}
		}

		@include element(icon) {
			background-color: $color-white;
			padding: 6px 12px;
			color: $color-dark-gray;
			outline: none;
			border: none;
			cursor: default;
		}
	}
}
