.logo-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: relative;
}

.communities {
	&-banner {
		&-wrapper {
			background-color: $color-primary-dark;
			position: relative;
		}
		font-family: $font-family;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
		width: 100%;
		display: flex;
		&-content {
			max-width: 675px;
		}
		&-img {
			position: absolute;
			right: 0;
			overflow: hidden;
			height: 300px;
			text-align: right;
			img {
				height: 100%;
				margin-right: -125px;
			}
		}
		&-text {
			padding: 20px 0;
			color: $color-white;
			font-size: 17rem;
			line-height: 1.55;
  		letter-spacing: -0.4px;
		}
		&-title {
			color: $color-white;
			font-size: 40rem;
			line-height: 1.25;
  		letter-spacing: -0.5px;
		}
		&-issuance {
			padding: 10px;
			background: $color-ropsten;
			border: none;
			font-size: 12rem;
			text-transform: uppercase;
			color: $color-white;
			font-weight: bold;
			text-align: center;
			border-radius: 16px;
			
			&:focus,
			&:focus:active,
			&:active {
				outline: none;
			}
			&:hover {
				cursor: pointer;
				background: darken($color-ropsten, 10%);
			}
			@media (max-width: $breakpoint-tablet) {
				margin-left: 0;
			}
		}
		@media (max-width: $breakpoint-tablet) {
			background: $color-primary-dark !important;
		}
		@media (max-width: $breakpoint-mobile) {
			display: none;
		}
	}
	&-list {
	  flex-direction: column;
	  right: 0px;
	  width: 100%;
		top: $nav-height;
		height: 100%;
		padding-bottom: 100px;
		overflow: auto;
		margin-top: $nav-height;
		background-color:  #f7f8fc;

		&-title {
			font-size: 32rem;
 			letter-spacing: -0.7px;
			font-weight: bold;
			color: $color-primary-dark;

			@include breakpoint(medium down) {
				font-size: 24rem;
			}
		}

		&-container {
		}

		&-content {
			padding: 30px 0;
		}

		&-search {
			display: flex;
			border: 1px solid #c0c5d2;
			max-height: 40px;
			min-width: 255px;
			border-radius: 20px;
			overflow: hidden;

			input {
				padding: 15px 20px;
		    background-color: $color-white;
		    color: $color-btn-control;
		    flex: 1.7;
		    border: none;
				&::placeholder {
  				color: #c0c5d2;
  			}
			}
			.search-btn {
				background-color: $color-white;
				padding: 6px 12px;
				color: $color-orange;
				outline: none;
		    border: none;
		    flex: 0.3;
			}
		}

		@media (max-width: $breakpoint-tablet) {
			bottom: 0;
			top: auto;
			justify-content: flex-start;
	    align-items: center;
			margin-top: 70px;
		}
		@media (max-width: $breakpoint-mobile) {
			padding-top: 20px;
			align-items: normal;
		}
	}
}

.list-item {
	@include padding(null, 2, null, 2);
	@include margin(null, null, 2, null);
	.coin-footer-close {
		display: none;
		@media (max-width: $breakpoint-mobile) {
			padding-top: 15px;
			text-align: center;
			color: #b6b5d8;
			font-size: 13rem;
			.fa {
				margin-right: 5px;
			}
			&:hover {
				cursor: pointer;
				color: $color-step-field;
			}
		}
	}

	.coin-wrapper {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  	background-color: $color-white;
		border-radius: 10px;
		box-sizing: content-box;
		overflow: hidden;
		@media (max-width: $breakpoint-tablet) {
			height: auto !important;
		}

		.coin-details {
			position: relative;
		}

		.coin-name {
			font-size: 15rem;
			color: $color-primary-dark;
			text-align: center;
      font-weight: 400;
			text-transform: capitalize;
			margin-bottom: 7px;
			text-align: left;
		}

		.coin-total {
			font-size: 10rem;
			font-weight: bold;
			text-transform: uppercase;
			color: $color-step;
			display: flex;
			padding-bottom: 13px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.19);
			.total-text {
				margin-left: 5px;
				font-weight: bold;
				width: 80px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				color: $color-close-gray;
			}
			@media (max-width: $breakpoint-mobile) {
				border-bottom: none;
				padding-bottom: 0;
			}
		}

		.coin-header {
			display: flex;
			padding: 30px 27px;
			h1 {
				font-size: 18rem;
				margin-bottom: 2px;
				text-transform: uppercase;
				font-weight: bold;
			}
			.price-wrapper {
				font-size: 14rem;
				h2 {
					-webkit-margin-before: 0;
						-webkit-margin-after: 0;
					font-size: 14rem;
				}
			}
			@media (max-width: $breakpoint-mobile) {
				margin-top: 0;
				padding: 15px;
			}
		}

		&.open {
			height: 100vh !important;
			.coin-header {
				padding: 32px;
			}
		}

		.coin-footer {
			background-image: linear-gradient(to bottom, #1a193f, #282654);
			padding: 16px 20px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			min-height: 90px;

			.total-content {
				font-size: 10rem;
				font-weight: bold;
				text-transform: uppercase;
				color: $color-step;
				padding-bottom: 10px;
			}

			.total-supply {
				font-size: 19rem;
				font-weight: 500;
				text-align: center;
				color: $color-step-field;
			}

			.coin-content {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				align-items: flex-start;
			}

			.coin-reverse {
				font-weight: 500;
				font-size: 30rem;
				color: $color-step-field;
			}

			.coin-currency-type {
				color: $color-step;
				font-size: 10rem;
				font-weight: bold;
				text-transform: uppercase;
				margin-right: 10px;
			}

			.coin-currency {
				color: $color-white;
				font-size: 10rem;
				font-weight: bold;
				text-transform: uppercase;
			}
			@media (max-width: $breakpoint-tablet) {
				min-height: auto;
			}
			@media (max-width: $breakpoint-mobile) {
				display: none;
			}
		}

		.coin-total {
			border-bottom: 1px solid rgba(255, 255, 255, 0.19);
			padding-bottom: 15px;
		}
	}
	&:hover {
		cursor: pointer;
		.coin-wrapper {
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
		}
	}
}

.ropsten {
  .communities-list-search .search-btn {
    color: $color-ropsten;
  }
}

.main {
  .communities-list-search .search-btn {
    color: $color-mainnet;
  }
}

.fuse {
  .communities-list-search .search-btn {
    color: $color-fuse;
  }
}
