@include block(modal) {
  @include block(overlay) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.65);
  }

  @include element(container) {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    text-align: center;
  }

  @include element(content) {
    position: relative;
    height: auto;
    outline: 0;
    border-radius: 20px;
    background-color: $color-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 2em;
    max-height: 90%;
    overflow-y: auto;
    box-sizing: content-box;

		@include breakpoint(small down) {
      width: 90%;
      max-height: 95%;
		}

    @include element(close) {
      position: absolute;
      right: 16px;
      top: 16px;
      color: $color-dark !important;
      cursor: pointer;
      z-index: 1;
      img {
        height: 13px !important;
        width: 13px !important;
        min-width: 13px !important;
      }
    }
  }
}

@include block(modal-body) {
  @include element(title) {
    color: $color-dark;
		font-size: 1.250em;
		margin-bottom: 2.5em;
  }

  @include element(content) {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    background-color: #f2f6f6;
    border: solid 1px #cdcdcd;
    margin: 30px 0;
    padding: 50px 26px 40px;
    position: relative;

    @include element(icon) {
      position: absolute;
      top: -21%;
      left: calc(50% - 30px);
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

    @include element(text) {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.86;
      letter-spacing: 0;
      color: #3d3d3d;
      text-align: center;
    }
  }
}
