@include block(profile) {
  cursor: initial;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  
  @include breakpoint(medium up) {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #c8c8c8;
    background-color: $color-white;
    min-width: 346px;
  }

  @include breakpoint(small only) {
  }

  @include element(switch) {
    color: $color-light-blue;
    font-size: 0.7em;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    .fa {
      margin-right: 1em;
    }
  }

  @include element(account) {
    padding: 10px;
    text-align: center;
    @include element(avatar) {
      .fa {
        font-size: 50px;
      }
    }

    @include element(address) {
      margin-top: 10px;
      height: 14px;
      line-height: 0.88;
      letter-spacing: normal;
      color: $color-gray;

      > div {
        margin: 0 !important;
      }

      .fa-clone {
        font-weight: 500;
        font-size: 0.688em;
        margin-left: 10px;
      }

      .fa-clone:hover {
        cursor: pointer;
        font-weight: 900;
      }
    }
  }

  @include element(communities) {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #e5e5e5;
    color: $color-gray;

    > span {
      font-size: 0.625em;
      margin-bottom: 10px;
    }
  }

  @include element(card) {
    padding: .5em 0;
    font-size: 1em;
    &:hover {
      cursor: pointer;
      > .profile__card__arrow {
        display: inline-block;
      }
    }
    @include element(logo) {
      margin-right: 0.5em;
    }

    @include element(content) {
      height: 34px;
      font-size: 0.938em;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      letter-spacing: normal;
      color: $color-gray;
    }

    @include element(title) {
    }

    @include element(arrow) {
      display: none;
    }

    @include element(balance) {

      > span {
        &:nth-child(1) {
          font-weight: normal;
          color: $color-light-gray;        
        }

        &:nth-child(2) {
          font-weight: normal;     
        } 

        &:nth-child(3) {
          font-size: 9px;
          font-weight: normal;
        } 
      }
    }
  }
}