.other-details {
	font-size: 15px;
	text-align: center;
	color: $color-orange;
	line-height: 50px;
	font-weight: 500;
	text-decoration: underline;
	&:hover {
		cursor: pointer;
		color: darken($color-orange, 10%);
	}
}
