.issuance {
	&-form-wrapper {
		background-image: $color-issuance-bg;
	}
	&-container {
		background-image: $color-issuance-bg;
	}
	&-control {
		&.issuance-control-sticky {
			.ctrl-btn {
				top: 18px;
    		z-index: 51;
				position: fixed;
			}
		}
	}
}


.step {
	display: inline-block;
	color: $color-step;
	position: relative;
	margin-left: 20px;
  margin-right: 20px;
	width: 105px;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 500;
	@media (max-width: $breakpoint-mobile) {
		font-size: 11px;
		margin-left: 5px;
		margin-right: 5px;
	}
	&:not(:last-child) {
		&::before {
			content: '';
			height: 2px;
			width: 130px;
			position: absolute;
			top: -25px;
			margin-top: -1px;
			left: 59px;
			background-color: $color-author;
			box-shadow: 0 0 9px 0 rgba(192, 149, 255, 0.23);
			@media (max-width: $breakpoint-mobile) {
				top: -19px;
				width: 70px;
			}
		}
	}
	&::after {
		content: '';
		position: absolute;
		top: -35px;
		left: 50%;
		margin-left: -9px;
		border-radius: 50%;
		width: 17px;
	  height: 17px;
	  background-color: $color-issuance-bg;
	  border: 2px solid $color-author;

		@media (max-width: $breakpoint-mobile) {
			width: 13px;
		  height: 13px;
			top: -27px;
		}
	}
	&.done-step {
		&::before {
			background-color: $color-ropsten;
		}
	}
	&.active-step {
		color: $color-ropsten;
		&::after {
		  border: solid 2px $color-ropsten;
			background-color: $color-ropsten;
			box-shadow: 0 0 0 0 $color-ropsten,
	            		inset $color-issuance-bg 0 0 1px 4px,
		}
		&:before {
			background-color: $color-author;
		}
	}
	&.done-step {
		.done-check {
			position: absolute;
			color: $color-step-text;
			top: -30px;
	    left: 50%;
	    margin-left: -4px;
	    z-index: 50;
	    font-size: 11px;
			@media (max-width: $breakpoint-mobile) {
				top: -23px;
		    margin-left: -5px;
		    font-size: 10px;
			}
		}
		&::after {
			box-shadow: 0 0 0 0 $color-ropsten;
	  	background-color: $color-ropsten;
	  	border: solid 2px $color-ropsten;
		}
	}
	&s-container {
		text-align: center;
		padding-top: 110px;
		height: 180px;
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: $breakpoint-mobile) {
			&.step-with-sticky {
				padding-bottom: 68px;
			}
		}
		.steps-indicator {
			&.step-sticky {
				background-image: linear-gradient(to top, #162a39, #25435a);
  			box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.37);
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				padding-top: 50px;
				padding-bottom: 7px;
				z-index: 50;
				.step {
					color: transparent;
					font-size: 0;
					&:not(:last-child) {
						&::before {
							top: -27px;
						}
					}
					.done-check {
						display: none;
					}
					&::after {
						width: 12px;
					  height: 12px;
					}
					&.active-step {
						&::after {
							background-color: $color-home-banner-bg;
							box-shadow: 0 0 3px 0 #c095ff;
						}
					}
				}
			}
		}
	}
	&-content {
		background: $color-step-text;
		min-height: calc(100vh - 180px);
		padding-top: 50px;
    padding-bottom: 50px;
		@media (max-width: $breakpoint-mobile) {
			padding-top: 35px;
			padding-bottom: 30px;
		}
		.loader {
			height: 60px;
			width: 180px;
		}
		&-community {
			width: 380px;
			margin: 0 auto;
			text-align: center;
			padding-top: 90px;
			display: flex;
			flex-direction: column;
			align-items: center;
			@media (max-width: $breakpoint-mobile) {
				padding-top: 0;
			}
		}
		&-title {
			font-size: 30px;
  		font-weight: bold;
			line-height: 1.29;
			text-transform: capitalize;
			color: $color-step-title;
			margin-bottom: 40px;
			@media (max-width: $breakpoint-mobile) {
				width: 90%;
				font-size: 18px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&-symbol {
		
			margin: 0 auto;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			&-field {
				min-width: 300px;
				max-width: 400px;
				border-radius: 5px;
				font-size: 106px;
  			font-weight: bold;
				text-align: center;
  			color: $color-orange;
				padding: 10px;
				margin-bottom: 40px;
				text-transform: uppercase;
				position: relative;
				height: 160px;
				border: 1px solid #0a7586;

				> div:first-child {
					background-color: rgba(147, 197, 255, 0.11);
					width: 100%;
					height: 100%;
				}
				@media (max-width: $breakpoint-mobile) {
					height: auto;
				}
				&-label {
					font-size: 13px;
					color: #BCB9C8;
					position: absolute;
					top: 50%;
					margin-top: -7px;
					left: 0;
					right: 0;
					text-transform: none;
				}
				@media (max-width: $breakpoint-mobile) {
					width: 270px;
					margin-left: auto;
					margin-right: auto;
					font-size: 80px;
					margin-bottom: 25px;
					input {
						font-size: 80px;
					}
				}
			}
			@media (max-width: $breakpoint-mobile) {
				width: 100%;
			}
		}
		&-details {
			width: 60%;
			margin: 0 auto;
			@media (max-width: $breakpoint-tablet) {
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
			}
			@media (max-width: $breakpoint-mobile) {
				width: 94%;
				padding: 0;
			}
			&-block {
				display: flex;
				flex-direction: row;
				align-items: center;
				border-bottom: solid 2px $color-brdr-issuance;
				padding-bottom: 65px;
				margin-bottom: 65px;
				min-height: 220px;
				@media (max-width: $breakpoint-tablet) {
					flex-direction: column;
				}
			}
			&-title {
				font-size: 1.1em;
				font-weight: bold;
				color: $color-text-gray;
				min-width: 230px;
				@media (max-width: $breakpoint-tablet) {
					margin-bottom: 20px;
					text-align: center;
					font-size: 21px;
					font-weight: bold;
					line-height: 1.29;
					text-transform: capitalize;
					color: $color-text-gray;
				}
			}
			&-logo {
				border-radius: 5px;
			  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
				border: 2px solid rgba(226, 226, 226, 0.49);
				height: 175px;
				display: flex;
		    flex-direction: column;
		    width: 220px;
		    align-items: center;
				margin-right: 20px;
				font-size: 11px;
  			font-weight: 500;
				color: $color-text-gray;
				justify-content: space-evenly;
				position: relative;
				&:hover {
					border: solid 2px $color-step-title;
					cursor: pointer;
				}
				&.chosen-type {
					border: solid 2px $color-step-title;
				}
				.type-img {
					@media (max-width: $breakpoint-mobile) {
						width: 70px;
					}
				}

				&-text {
					text-transform: capitalize;
					font-size: 1.3em;
				}
			}


			&-type {
				border-radius: 5px;
			  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
				border: 2px solid rgba(226, 226, 226, 0.49);
				height: 175px;
				display: flex;
		    flex-direction: column;
		    width: 210px;
		    align-items: center;
				font-size: 11px;
  			font-weight: 500;
				color: $color-text-gray;
				justify-content: center;
				text-transform: uppercase;
				position: relative;
				&:hover {
					border: solid 2px $color-step-title;
					cursor: pointer;
				}
				&.chosen-type {
					border: solid 2px $color-step-title;
				}
				
				.symbol-text {
					font-size: 19px;
  				font-weight: bold;
					text-align: center;
  				color: $color-step-text;
					position: absolute;
					top: 50%;
					margin-top: -10px;
					left: 0;
    			right: 0;
					z-index: 3;
					@media (max-width: $breakpoint-mobile) {
						font-size: 10px;
						margin-top: -6px;
					}
				}
				&.number-type {
					width: 180px;
 					height: 50px;
					font-size: 19px;
  				font-weight: 500;
					text-align: center;
  				color: $color-orange;
				}
				@media (max-width: $breakpoint-mobile) {
					height: 97px;
					width: 107px;
					font-size: 8px;
					margin-right: 5px;
				}
			}
			&-container {
				display: flex;

				> div:not(:last-child) {
					margin-right: 2em;
				}

				&.total-container {
					@media (max-width: $breakpoint-tablet) {
						flex-direction: column;
						width: 50%;
	    			align-items: center;
						.number-type {
							margin-right: 0;
							font-size: 16px;
							width: 100%;
							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}
					}
					@media (max-width: $breakpoint-mobile) {
						flex-direction: column;
						width: 80%;
	    			align-items: center;
						.number-type {
							margin-right: 0;
							font-size: 16px;
							width: 100%;
							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
		&-summary {
			margin-top: 30px;
			@media (max-width: $breakpoint-mobile) {
				width: 90%;
				margin-bottom: 40px;
				margin-left: auto;
				margin-right: auto;
			}
			&-header {
				padding: 18px 20px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
			&-footer {
				border-top: 1px dotted rgba(255, 255, 255, 0.15);
				padding-top: 20px;
				padding-bottom: 20px;
				margin: 20px 20px 0 20px;
				.footer-supply {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
				}
			}
			&-status {
				font-size: 11px;
  			font-weight: bold;
				color: $color-step-text;
				text-transform: uppercase;
				&-point {
					width: 5px;
  				height: 5px;
  				background-color: #ff4a7b;
					display: inline-block;
					border-radius: 50%;
					margin-right: 10px;
				}
			}
			&-container {
				background-image: linear-gradient(348deg, #262451, $color-step-container-logo);
				box-shadow: 0 -4px 18px 0 rgba(0, 0, 0, 0.12);
				position: relative;
				padding-top: 60px;
			}
			&-title {
				font-size: 15px;
				color: $color-step-text;
				text-align: center;
				text-transform: capitalize;
				margin-bottom: 10px;
			}
			&-total {
				color: $color-step-field;
				font-size: 25px;
				font-weight: 500;
				width: 230px;
				white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
				&-title {
					font-size: 10px;
	  			font-weight: bold;
					text-transform: uppercase;
					color: $color-step;
					padding-bottom: 10px;
				}
				@media (max-width: $breakpoint-mobile) {
					width: 180px;
				}
			}
			&-logo {
				width: 100px;
				height: 100px;
				background: $color-step-container-logo;
				border-radius: 50%;
				position: relative;
				display: flex;
    		flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				top: -40px;
		    left: 50%;
		    margin-left: -50px;
				position: absolute;
				@media (max-width: $breakpoint-mobile) {
					width: 85px;
					height: 85px;
					top: -35px;
				}
				.symbol-text {
					font-size: 16px;
  				font-weight: bold;
					text-align: center;
  				color: $color-step-text;
					position: absolute;
					top: 50%;
					margin-top: -10px;
					text-transform: uppercase;
				}
			}
      .list-item {
        display: block;
        margin: 0 auto;
      }
		}
	}
	&-symbol-title {
		font-size: 30px;
		color: $color-step;
		text-transform: capitalize;
		margin-bottom: 20px;
		line-height: 1.29;
		font-weight: normal;
		@media (max-width: $breakpoint-mobile) {
			font-size: 16px;
			margin-bottom: 5px;
		}
	}
	&-community-symbol {
		label {
			line-height: normal;
			text-transform: none;
			font-style: italic;
		}
		input {
			background-color: transparent;
			font-size: 106px;
			font-weight: bold;
			color: $color-ropsten;
			text-transform: uppercase;
			box-shadow: none;
			outline: none;
			border: none;
			width: 100%;
			text-align: center;
			height: 120px;
			&:focus {
				box-shadow: none;
				outline: none;
				border: none;
			}

			&::-webkit-input-placeholder {
				line-height: normal;
			}
			&::placeholder {
				color: $color-step-title;
    		font-size: 13px;
				line-height: normal;
				text-transform: none;
				font-style: italic;
    	}
			@media (max-width: $breakpoint-mobile) {
				font-size: 80px;
				height: 88px;
			}
		}
	}
	&-community-name {
		input {
  		background-color: $color-step-text;
  		border: solid 1px $color-step-title;
			border-radius: 10px;
			padding: 8px 16px;
			font-size: 13px;
			color: $color-step-title;
			line-height: 1.92;
			width: 420px;
			&::placeholder {
				color: $color-step-title;
				font-style: italic;
			}
			@media (max-width: $breakpoint-mobile) {
				border-radius: 5px;
			}
		}

		&-total {
  		input {
				box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
				border: solid 2px transparent;
				background-color: #fff;
				border-radius: 45px;
				padding: 8px 16px;
				color: $color-step-title;
				line-height: 1.92;
				min-height: 2.5em;
				font-size: 20px;
				width: 570px;
				font-weight: bold;
				&::placeholder {
					color: rgba(0, 0, 0, 0.3);
					font-weight: bold;
					font-size: 20px;
				}
				
				&:focus {
					border: solid 2px $color-step-title;
					box-shadow: none;
				}
			}
		}
	}
}
