.next {
	&-button {
		background-color: $color-ropsten;
		padding: 13px 19px;
		margin-top: 40px;
		border: none;
		color: $color-step-text;
		border: none;
		border-radius: 50%;
		font-size: 30px;
		&:disabled,
		&[disabled] {
			background-color: lighten($color-ropsten, 20%) !important;
			color: $color-step-text;
			cursor: not-allowed;
		}
		&:focus,
		&:active,
		&:focus:active {
			outline: none;
		}
		&:hover {
			background-color: darken($color-ropsten, 10%);
			cursor: pointer;
		}
	}
}
