.next {
	&-button {
		background-color: $color-orange;
 		box-shadow: 0 0 8px 0 $color-orange;
		padding: 10px 13px;
		margin-top: 40px;
		border: none;
		color: $color-step-text;
		border: none;
		border-radius: 50%;
		font-size: 22px;
		&:disabled,
		&[disabled] {
			background-color: lighten($color-orange, 20%) !important;
	    box-shadow: 0 0 8px 0 $color-orange;
	    margin-top: 40px;
	    padding: 10px 13px;
	    color: $color-step-text;
			cursor: not-allowed;
		}
		&:focus,
		&:active,
		&:focus:active {
			outline: none;
		}
		&:hover {
			background-color: darken($color-orange, 10%);
			cursor: pointer;
		}
	}
}
