.summary {
	padding: 45px 30px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px 30px;
    height: 100%;
    overflow-y: scroll;
  }
	h4 {
		color: #5a5959;
	}
	h5 {
		font-size: 12rem;
		font-weight: 500;
		line-height: 2.17;
		letter-spacing: 0;
		text-align: left;
		color: #5a5959;
	}
	p {
		font-size: 14rem;
		font-weight: 300;
		line-height: 1.86;
		letter-spacing: 0;
		color: $dark-grey;
		text-align: left;
	}

  .icon {
    width: 30px;
    height: 30px
  }

	.summary-prices-wrapper {
		@include flex-box();
		flex-direction: column;
		border-radius: 4px;
		background-color: #f2f6f6;
		border: solid 1px #cdcdcd;
		margin: 30px 0;

		.summary-price {
			flex:1;
			padding: 23px 23px 33px;
			@include flex-box();
			flex-direction: column;
    		align-items: center;
    		justify-content: center;
			&:nth-child(3) {
				border-top: solid 1px #cbd1d3;
				padding: 33px 23px 23px;
			}
			.price {
				font-size: 30rem;
				font-weight: 300;
				line-height: 1.33;
				letter-spacing: -0.2px;
				text-align: center;
				color: #251783;
				span {
					font-size: 14rem;
    				font-weight: 500;
    				margin-left: 5px;
				}
			}
		}

		.right-arrow {
			border-radius: 50%;
			background-color: $color-white;
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
			width: 50px;
			height: 50px;
			position: absolute;
			@include flex-box();
    		justify-content: center;
    		align-items: center;
    		left: calc(50% - 25px);
    		margin-top: 94px;

			img {
				width:24px;
				min-width: 22px;
				height: 12px;
				transform: rotate(90deg);
			}
		}
	}
	.line {
		width:100%;
		height: 2px;
		border: solid 1px #cdcdcd;
		margin: 15px 0 18px;
	}
	button {
		margin-top: 40px;
		@include button($colu-green);
		color: white;
		width: 100%;
		height:40px;
	}
}

.step-content-summary {
	.coin-wrapper {
		.btn-calculator {
			@media (max-width: $breakpoint-mobile) {
				display: block;
			}
		}
		.coin-status {
			@media (max-width: $breakpoint-mobile) {
				position: relative;
				margin-top: 10px;

				.coin-status-text {
					display: inline-block;
				}
			}
		}
		.coin-footer {
			@media (max-width: $breakpoint-mobile) {
				display: block !important;
			}
		}
	}
}


.wallet-container {
	padding-top: 40px;
}

.checkbox {
  margin-bottom: 10px;
  &-content {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    &-flex {
      display: flex;
      justify-content: space-between;
    }
  }

  &-label {
    position: relative;
    padding-left: 33px;
    &::before {
      position: absolute;
      content: '';
      height: 22px;
      width: 22px;
      left: 0;
			top: -3px;
      border: 1px solid #E9ECF6;
      border-radius: 3px;
      background-color: $color-white;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    }
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
    &:checked + .checkbox-label::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 8px;
      width: 6px;
      height: 10px;
      border: solid $color-white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:checked + .checkbox-label::before {
      background-color: $color-orange;
    }
  }
}
