$font-family: 'Gotham SSm A', 'Gotham SSm B', 'icomoon';
$font-family-lato: 'Lato', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-disabled: #9b9da4;

$color-fuse: #fae83e;
$color-fuse_gradient: linear-gradient(96deg, #98faac, #fae83e);

$color-yellow:#F6E943;
$color-green: #99FAAB;
$color-light-green: #34d080;
$color-primary-dark: #05283e;
$color-dark: #25435a;
$color-light-dark: #4a687b;
$color-gray: #7a7a7a;
$color-dark-gray: #92a1ac;
$color-light-gray: #bbb;
$color-lighter-gray: #E2E2E2;
$color-light-blue: #0091ff;