$font-family: "Gotham SSm A", "Gotham SSm B", "icomoon";
$font-family-lato: "Lato", sans-serif;

$color-white: #fff;
$color-black: #000;
$color-disabled: #9b9da4;

$color-fuse: #fefd86;
$color-fuse_gradient: linear-gradient(96deg, #b1fdc0, #e6fd99, #fefd86);

$color-yellow: #f6e943;
$color-green: #99faab;
$color-light-green: #34d080;
$color-primary-dark: #05283e;
$color-dark: #25435a;
$color-light-dark: #4a687b;
$color-gray: #7a7a7a;
$color-dark-gray: #92a1ac;
$color-light-gray: #bbb;
$color-lighter-gray: #e2e2e2;
$color-light-blue: #0091ff;
