.store-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $breakpoint-tablet) {
     background-size: auto;
  }
}
.appstore {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-step-text;
  overflow: auto;
  &-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    @media (max-width: $breakpoint-tablet) {
       padding: 50px;
    }
    @media (max-width: $breakpoint-mobile) {
  	   padding: 50px 30px;
  	}
    &-content {
      max-width: 500px;
    }
    &-title {
      font-size: 63px;
      font-weight: 500;
      color: $color-step-text;
      @media (max-width: $breakpoint-tablet) {
    	   font-size: 40px;
    	}
      @media (max-width: $breakpoint-mobile) {
    	   font-size: 35px;
    	}
    }
    &-text {
      margin-top: 20px;
      font-size: 17px;
      color: $color-step-text;
      line-height: 1.35;
      letter-spacing: -0.4px;
      @media (max-width: $breakpoint-mobile) {
    	   font-size: 15px;
    	}
    }
    img {
      max-width: 565px;
    }
  }
  &-content {
    width: 966px;
    margin: 40px auto;
    @media (max-width: $breakpoint-tablet) {
  	   width: 576px;
  	}
    @media (max-width: $breakpoint-mobile) {
  	   width: 100%;
  	}
  }
  &-filter {
    text-align: center;
    &-text {
      color: $color-filter-text;
      font-size: 17px;
      font-weight: 500;
      margin-right: 10px;
      @media (max-width: $breakpoint-mobile) {
    	   display: block;
         margin: 0 auto 20px;
    	}
    }
    &-genre {
      margin-right: 10px;
      margin-left: 10px;
      text-transform: capitalize;
      font-weight: 500;
      color: $color-filter-genre;
      display: inline-block;
      &::first-letter {
        text-transform: uppercase;
      }
      &.active-genre {
        color: $color-orange;
        position: relative;
        &:before {
          position: absolute;
          content: '';
          width: 6px;
          height: 6px;
          background-color: $color-orange;
          top: -10px;
          border-radius: 50%;
          right: 50%;
          margin-right: -3px;
        }
      }
      &:hover {
        color: $color-orange;
        cursor: pointer;
      }
    }
  }
  &-genre {
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 0 14px 0 rgba(140, 148, 168, 0.17);
    background-color: $color-step-text;
    width: calc(33% - 30px);
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    &:not(:nth-child(3n)) {
      margin-right: 30px;
      @media (max-width: $breakpoint-tablet) {
    	   margin-right: 0;
    	}
    }
    &:nth-child(3) {
      @media (max-width: $breakpoint-tablet) {
    	   margin-right: 0;
    	}
    }
    &:not(:nth-child(2n)) {
      @media (max-width: $breakpoint-tablet) {
    	   margin-right: 20px;
    	}
      @media (max-width: $breakpoint-mobile) {
    	   margin-right: 0;
    	}
    }
    @media (max-width: $breakpoint-tablet) {
  	   width: calc(50% - 20px);
       margin-bottom: 0;
  	}
    @media (max-width: $breakpoint-mobile) {
  	   width: 100%;
       text-align: left;
  	}
    &s {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      @media (max-width: $breakpoint-mobile) {
    	   padding-left: 20px;
         padding-right: 20px;
    	}
    }
    &-content {
      @media (max-width: $breakpoint-mobile) {
    	   display: flex;
    	}
    }
    &-logo {
      width: 64px;
      height: 64px;
      box-shadow: 0 0 6px 0 rgba(179, 185, 200, 0.5);
      border-radius: 50%;
      display: block;
      margin: 0 auto 20px;
      background-color: $color-step-text;
      @media (max-width: $breakpoint-mobile) {
    	   margin-right: 20px;
         margin-left: 0;
    	}
    }
    &-title {
      font-size: 15px;
      font-weight: bold;
      color: $color-text-gray;
      margin-bottom: 10px;
    }
    &-author {
      font-size: 12px;
      font-weight: 500;
      color: $color-author;
      margin-bottom: 15px;
      span {
        text-decoration: underline;
      }
    }
    &-category {
      padding: 5px 12px;
      border-radius: 13px;
      background-color: rgba(0, 164, 190, 0.1);
      color: #0a7586;
      font-size: 11px;
      display: inline-block;
      margin-bottom: 40px;
      position: relative;
      text-transform: capitalize;
      span {
        text-transform: capitalize;
      }
      &:after {
        content: '';
        position: absolute;
        width: 55px;
        height: 1px;
        background-color: #e2e2e2;
        bottom: -20px;
        right: 50%;
        margin-right: -27px;
        @media (max-width: $breakpoint-mobile) {
      	   content: none;
      	}
      }
      @media (max-width: $breakpoint-mobile) {
         margin-bottom: 20px;
      }
      .fa {
        display: inline-block;
        color: $color-step-text;
        padding: 5px 8px;
        border-radius: 50%;
        background-color: #0a7586;
        font-size: 10px;
        margin-right: 10px;
      }
    }
    &-description {
      font-size: 12px;
      color: #0d2d45;
      line-height: 1.42;
      @media (max-width: $breakpoint-mobile) {
         padding-top: 20px;
         border-top: 1px solid #e2e2e2;
      }
    }
  }
}

.appstore-modal {
  &.modal-dialog-div {
    background-color: $color-step-text;
  }
  &-img {
    width: 64px !important;
    min-width: 64px !important;
    height: 64px  !important;
    background-color: $color-step-text;
    padding: 10px;
    border-radius: 50%;
    margin-top: -50px;
    margin-bottom: 10px;
  }
  &-description {
    background-color: #d25b3f;
    margin: 0 -20px -20px -20px;
    padding: 20px;
  }
  &-social {
    margin-right: 10px;
    display: inline-block;
    margin-top: 10px;
    &:hover {
      cursor: pointer;
      .fab {
        color: $color-orange;
      }
    }
  }
}
.text-left {
  text-align: left
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
