.buy-sell-top {
	background-color: #f2f6f6;
	padding: 45px 30px;
	border-radius: 4px;
	.max-amount {
		width: 150px;
    	position: absolute;
    	cursor: pointer;
    	right: 30px;
    	font-size: 10px;
    	font-weight: 300;
    	line-height: 2.2;
    	letter-spacing: 0;
    	color: #251783;
    	border-radius: 4px;
    	background-color: #f2f6f6;
    	border: solid 1px #251783;
    	margin-top: -94px;
    	&.error {
    		border-color: #ff5705;
    	}
	}

}

.arrows {
	background-color: white;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
    margin-top: -20px;
    margin-left: 23px;
    @include flex-box();
    justify-content: center;
    align-items: center;
	img {
		width:27px;
		min-width: 27px;
		height: 23px;
	}
}

.open {
	.minimum-coin-symbol {
		display: block;
		margin-top: 80px;
	}
	.price-change-percent {
		display: block;
		margin-top: 174px;
	}
	.price-limit-cln {
		display: block;
		margin-top: 267px;
	}
}

.buy-sell-tab {
	@include flex-box();
	flex-direction: row;
	width: 100%;
	height: 34px;
	border-radius: 4px;
	border: solid 1px #4dd9b4;
	.buy-tab {
		width: 50%;
		@include flex-box();
		justify-content: center;
		align-items: center;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		color: #8d9293;
		cursor: pointer;
		&.active {
			background-color: $colu-green;
			color: white;
		}
	}
}

.buy-sell-input {
	input {
    font-size: 30px;
		font-weight: 300;
		line-height: 1.33;
		letter-spacing: 0;
		color: #251783;
		background: transparent;
		width: 100%;
		border: none;
		border-bottom: solid 1px #cdcdcd;
		margin: 40px 0 26px;
		transition: all 300ms ease;
		&::placeholder {
    		font-size: 14px;
    	}
		@media (max-width: $breakpoint-tablet) {
			font-size: 16px;
		}
		&:focus {
			border-bottom: solid 1px #251783;
		}
	}
	.input-feedback {
		font-size: 14px;
		letter-spacing: 0;
		color: #ff5705;
		text-align: left;
		position: absolute;
		margin-top: -18px;
	}
	&.error input {
		border-color: #ff5705;
	}
}


.buy-sell-bottom {
	background-color: white;
	padding: 5px 30px 45px;
	border-radius: 4px;
	.advanced-settings {
		@include flex-box();
		flex-direction: column;
		align-items:flex-start;
		border-radius: 4px;
		border: solid 1px #cdcdcd;
		margin-top:10px;
		@include easeOut();
		height: 30px;

    .advanced-header {
			@include flex-box();
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 30px;
      cursor: pointer;

			h5 {
				font-size: 14px;
				font-weight: 300;
				line-height: 1.86;
				letter-spacing: 0;
				color: #8d9293;
				width: 100%;
				text-align: left;
				padding: 0 9px;
			}

			img {
				@include easeOut();
				width: 11px;
				min-width: 11px;
				height: 6px;
				margin-right: 9px;
			}
		}

		.contact-field-wrapper {
			display: none;
			align-items: flex-start;
    		flex-direction: column;
    		margin-bottom: 36px;
    		padding: 9px;
    		position: relative;
    		width: 100%;
		}

		.contact-field-wrapper:nth-child(2) {
			margin-top: 20px;
		}

		.contact-field-wrapper:nth-child(6) {
			margin-bottom: 5px;
		}

		label {
    		@include label();
    		color: #8d9293;
    	}
    	input {
    		@include input();
    		width: 100%;
    		//color: #8d9293;
    		border-color: #cbd1d3;
    		transition: all 300ms ease;
    		&:focus {
  				border-bottom: solid 1px $colu-green;
  			}
    	}

    	.input-feedback {
    		@include input-feedback();
    	}

    	.annotation {
    		font-size: 9px;
			font-weight: 300;
			line-height: 2.2;
			letter-spacing: 0;
			color: $dark-grey;
			padding: 9px;
			display: none;
    	}

		&.open {
			height: 330px;
			.contact-field-wrapper {
				@include flex-box();
			}
			.annotation {
				display: block;
			}
			img {
				transform: rotate(180deg);
			}
		}
	}
	button {
		margin-top: 40px;
		@include button($colu-green);
		color: white;
		width: 100%;
		height:40px;
		&:disabled {
			background-color: #cbd1d3 !important;
			color: white;
		}
	}
}

.input-coin-symbol {
	position: absolute;
  right: 30px;
	margin-top: -50px;
	color: #251783;
}
