.logo-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: relative;
	&:after {
		content: '';
		width: 66px;
		height: 33px;
		transform: rotate(-45deg);
		position: absolute;
		bottom: 12px;
		right: -4px;
		z-index: 1;
		border-bottom-left-radius: 66px;
		border-bottom-right-radius: 66px;
	}
	&:before {
		content: '';
		width: 66px;
		height: 33px;
		transform: rotate(-45deg);
		position: absolute;
		top: 12px;
		left: -4px;
		border-top-left-radius: 66px;
		border-top-right-radius: 66px;
	}
	&.CoinIcon1\.svg {
		background-image: linear-gradient(to bottom, #496a7f, #05283e);
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.59);
		&:before {
			background-color: #05283e;
		}
		&:after {
			background-color: rgba(255, 255, 255, 0.18);
		}
	}
	&.CoinIcon2\.svg {
		background-image: linear-gradient(to bottom, #ff9a70, #fc6e4c);
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.59);
		&:before {
			background-color: #fc6e4c;
		}
		&:after {
			background-color: rgba(255, 255, 255, 0.18);
		}
	}
	&.CoinIcon3\.svg {
		background-image: linear-gradient(to bottom, #06a1af, #0a7586);
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.59);
		&:before {
			background-color: #0a7586;
		}
		&:after {
			background-color: #3d929f;
		}
	}
	@media (max-width: $breakpoint-mobile) {
		width: 50px;
		height: 50px;

		&:before {
			width: 40px;
			height: 20px;
			border-top-left-radius: 40px;
			border-top-right-radius: 40px;
			top: 7px;
			left: -3px;
		}
		&:after {
			width: 40px;
			height: 20px;
			bottom: 8px;
			right: -2px;
			border-bottom-left-radius: 40px;
			border-bottom-right-radius: 40px;
		}
	}
}

.communities {
	&-banner {
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
		background-position: right;
		background-repeat: no-repeat;
		width: 100%;
		background-color: $color-home-banner-bg;
		&-content {
			max-width: 665px;
		}
		&-text {
			padding: 20px 0;
			color: $color-step-text;
			font-size: 17px;
			line-height: 1.35;
  		letter-spacing: -0.4px;
		}
		&-title {
			color: $color-step-text;
			font-size: 63px;
			line-height: 1.13;
  		letter-spacing: -0.5px;
			span {
				background: linear-gradient(to bottom, #ffea14, #ffea14 31%, #85ffbc);
				-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
			}
		}
		@media (max-width: $breakpoint-tablet) {
			background: $color-home-banner-bg !important;
		}
		@media (max-width: $breakpoint-mobile) {
			display: none;
		}
	}
	&-list {
		display: flex;
	  flex-direction: column;
	  right: 0px;
	  width: 100%;
		top: $nav-height;
		padding-bottom: 100px;
		overflow: auto;
		margin-top: 100px;
		background-color:  #f7f8fc;

		&-title {
			font-size: 20px;
			line-height: 2.35;
 			letter-spacing: -0.4px;
			font-weight: bold;
			color: $color-filter-text;

			@media (max-width: $breakpoint-tablet) {
				font-size: 20px;
			}
			@media (max-width: $breakpoint-mobile) {
				font-size: 20px;
			}
		}

		&-container {
			width: 1250px;
			margin: 0 auto;
			@media (max-width: 1250px) {
				width: 840px;
			}
			@media (max-width: $breakpoint-tablet) {
				width: auto;
			}
		}

		&-content {
			justify-content: space-between;
			padding: 20px 15px;
			margin: 0 auto;
			display: flex;
			@media (max-width: $breakpoint-tablet) {
				display: block;
				padding: 20px 0
			}
		}

		&-search {
			display: flex;
			border: 1px solid $color-btn-control;
			border-radius: 8px;
			overflow: hidden;

			input {
				padding: 15px 20px;
		    background-color: $color-step-text;
		    color: $color-btn-control;
		    flex: 1.7;
		    border: none;
				&::placeholder {
  				color: $color-btn-control;
  			}
			}
			.search-btn {
				background-color: $color-step-text;
				padding: 6px 12px;
				color: $color-orange;
				outline: none;
		    border: none;
		    flex: 0.3;
			}
		}

		@media (max-width: $breakpoint-tablet) {
			bottom: 0;
			top: auto;
			justify-content: flex-start;
	    align-items: center;
			margin-top: 70px;
		}
		@media (max-width: $breakpoint-mobile) {
			padding-top: 20px;
			align-items: normal;
		}
	}
}

.list-item {
	height: auto;
	width: 395px;
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 10px;
	margin-left: 10px;

	.coin-footer-close {
		display: none;
		@media (max-width: $breakpoint-mobile) {
			padding-top: 15px;
			text-align: center;
			color: #b6b5d8;
			font-size: 13px;
			.fa {
				margin-right: 5px;
			}
			&:hover {
				cursor: pointer;
				color: $color-step-field;
			}
		}
	}

	.coin-wrapper {
		box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  	background-color: $color-step-text;
		border-radius: 10px;
		box-sizing: content-box;
		overflow: hidden;
		@media (max-width: $breakpoint-tablet) {
			height: auto !important;
		}

		.coin-details {
			position: relative;
		}

		.coin-name {
			font-size: 15px;
			color: $color-bg-gray;
			text-align: center;
      font-weight: 400;
			text-transform: capitalize;
			margin-bottom: 7px;
			text-align: left;
		}

		.coin-total {
			font-size: 10px;
			font-weight: bold;
			text-transform: uppercase;
			color: $color-step;
			display: flex;
			padding-bottom: 13px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.19);
			.total-text {
				margin-left: 5px;
				font-weight: bold;
				width: 80px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				color: $color-close-gray;
			}
			@media (max-width: $breakpoint-mobile) {
				border-bottom: none;
				padding-bottom: 0;
			}
		}

		.coin-header {
			display: flex;
			padding: 30px 27px;
			h1 {
				font-size: 18px;
				margin-bottom: 2px;
				text-transform: uppercase;
				font-weight: bold;
			}
			.price-wrapper {
				font-size: 14px;
				h2 {
					-webkit-margin-before: 0;
						-webkit-margin-after: 0;
					font-size: 14px;
				}
			}
			@media (max-width: $breakpoint-mobile) {
				margin-top: 0;
				padding: 15px;
			}
		}

		&.open {
			height: 100vh !important;
			.coin-header {
				padding: 32px;
			}
		}

		.coin-footer {
			background-image: linear-gradient(to bottom, #1a193f, #282654);
			padding: 16px 20px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			min-height: 90px;

			.total-content {
				font-size: 10px;
				font-weight: bold;
				text-transform: uppercase;
				color: $color-step;
				padding-bottom: 10px;
			}

			.total-supply {
				font-size: 19px;
				font-weight: 500;
				text-align: center;
				color: $color-step-field;
			}

			.coin-content {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				align-items: flex-start;
			}

			.coin-reverse {
				font-weight: 500;
				font-size: 30px;
				color: $color-step-field;
			}

			.coin-currency-type {
				color: $color-step;
				font-size: 10px;
				font-weight: bold;
				text-transform: uppercase;
				margin-right: 10px;
			}

			.coin-currency {
				color: $color-step-text;
				font-size: 10px;
				font-weight: bold;
				text-transform: uppercase;
			}
			@media (max-width: $breakpoint-tablet) {
				min-height: auto;
			}
			@media (max-width: $breakpoint-mobile) {
				display: none;
			}
		}

		&.coin-show-footer {
			@media (max-width: $breakpoint-mobile) {
				& + .coin-footer-close {
					display: block;
				}
				.coin-header {
					padding: 15px;
				}
				.coin-status {
					position: relative;
					margin-top: 15px;
					&-text {
						display: inline-block;
					}
				}
				.coin-logo {
					height: 80px;
					.logo-img {
						width: 80px;
						height: 80px;
						&:after {
							content: '';
							width: 66px;
							height: 33px;
							transform: rotate(-45deg);
							position: absolute;
							bottom: 12px;
							right: -4px;
							z-index: 1;
							border-bottom-left-radius: 66px;
							border-bottom-right-radius: 66px;
						}
						&:before {
							content: '';
							width: 66px;
							height: 33px;
							transform: rotate(-45deg);
							position: absolute;
							top: 12px;
							left: -4px;
							border-top-left-radius: 66px;
							border-top-right-radius: 66px;
						}
					}
					.symbol-text {
						font-size: 14px;
					}
				}
				.coin-total {
					border-bottom: 1px solid rgba(255, 255, 255, 0.19);
					padding-bottom: 15px;
				}
				.btn-calculator {
					display: block;
					top: auto;
					bottom: -10px;
				}
				.coin-footer {
					display: flex;
				}
			}
		}
	}
	@media (max-width: $breakpoint-tablet) {
		display: block;
		margin-right: 0;
	}
	@media (max-width: $breakpoint-mobile) {
		width: 100%;
		margin-left: 0;
		&:not(:nth-child(3n)) {
			margin-right: 0;
		}
	}
	&:hover {
		cursor: pointer;
		.coin-wrapper {
			box-shadow: 0 2px 16px 0 rgba(252, 110, 76, 0.2);
		}
	}
}
