.personal {
  &-sidebar {
    position: fixed;
    top: 100px;
    width: 350px;
    right: 0;
    bottom:0;
    box-shadow: 0 0 10px 0 rgba(135, 118, 255, 0.15);
    background:  #f7f8fc;
    min-height: 493px;
    overflow: auto;

    @media (max-width: $breakpoint-mobile) {
      top: 0;
      width: 100%;
  	}

    &-shadow {
       background-color: rgba(0, 0, 0, 0.54);
       position: fixed;
       left: 0;
       top: 100px;
       right: 350px;
       bottom: 0;
       @media (max-width: $breakpoint-mobile) {
         display: none;
     	}
    }

    &-close {
      background-color: transparent;
      outline: none;
      border: none;
      color: #BCB9C8;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 16px;

      &:hover,
      &:active,
      &:focus:active {
        color: $color-step-text;
        cursor: pointer;
      }
    }

    &-top {
      padding: 20px 40px;
      box-shadow: 0 0 10px 0 rgba(135, 118, 255, 0.15);
      background: $color-home-banner-bg;
      text-align: center;
      @media (max-width: $breakpoint-mobile) {
        padding: 15px 40px;
     }
    }

    .balance-address {
      width: 190px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      color: $color-step-text;
      margin: 0 auto;
      font-size: 14px;
    }
    .balance-text {
      font-size: 11px;
      font-weight: bold;
      color: #9390a6;
      text-transform: uppercase;
    }
    .balance-number {
      font-size: 12px;
      color: #5fddbb;
      margin-left: 10px;
      font-weight: bold;
    }
    &-search {
      display: flex;
      background-color: $color-step-text;
      box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
      input {
        padding: 15px 0 15px 20px;
        background-color: $color-step-text;
        color: $color-bg-gray;
        flex: 1.7;
        border: none;
        &::placeholder {
  				color: $color-bg-gray;
  			}
      }
      .search-btn {
        background-color: $color-step-text;
        border:none;
        padding: 6px 12px;
        color: $color-orange;
        outline: none;
        border: none;
        flex: 0.3;
      }
    }
    &-content {
      padding: 20px 0 20px 20px;
      &-community {
        overflow: auto;
        margin-bottom: 20px;
        padding-right: 20px;
      }
    }
    &-title {
      font-size: 10px;
      font-weight: bold;
      color: $color-filter-text;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    .coin-content {
      display: flex;
      justify-content: center;
      border-top: 1px solid rgba(110, 109, 159, 0.45);
      padding-top: 10px;
      margin-top: 10px;
      span {
        font-size: 10px;
        &:not(:last-child) {
          margin-right: 7px;
        }
      }
      .coin-currency {
        color: $color-step-text;
        font-weight: 500;
        &-type {
          color: #6e6d9f;
          font-weight: bold;
        }
      }
      &-type {
        &:not(:last-child) {
          margin-right: 25px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            right: -15px;
            top: 4px;
            width: 4px;
            height: 4px;
            background-color: #5fddbb;
            border-radius: 50%;
          }
        }
      }
    }
  }
  &-community {
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    background: $color-step-text;
    margin-bottom: 15px;

    &-content {
      &-balance {
        color: #6e6d9f;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        span {
          font-size: 11px;
          color: #5fddbb;
        }
      }
    }

    .coin-logo {
      width: 50px;
      height: 50px;
      margin-right: 10px;

      .logo-img {
        width: 50px;
        height: 50px;
        margin-top: 0;
        &:before {
          width: 40px;
          height: 20px;
          border-top-left-radius: 40px;
          border-top-right-radius: 40px;
          top: 7px;
          left: -3px;
        }
        &:after {
          width: 40px;
          height: 20px;
          bottom: 8px;
          right: -2px;
          border-bottom-left-radius: 40px;
          border-bottom-right-radius: 40px;
        }
      }
      .symbol-text {
        font-size: 9px;
        margin-top: -6px;
      }
    }
  }
}

.btn-dashboard {
	position: absolute;
	top: 30px;
  right: 15px;
	background-color: $color-orange;
	border-radius: 4px;
	width: 23px;
	height: 22px;
	text-align: center;
	border: none;
	font-size: 11px;
	line-height: 20px;
  padding: 1px 7px 2px 5px;
	color: $color-step-text;

	&:focus, &:active, &:focus:active {
		outline: none;
	}
	&:hover {
		background-color: darken($color-orange, 10%);
		cursor: pointer;
	}
}


.profile-icon-big {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 85px;
  text-align: center;
  margin-bottom: 20px;
  img {
    width: 23px;
    height: 30px;
  }
}

.profile-icon-big:hover {
  cursor: pointer;
}

.no-items {
  color: #6e6d9f;
}
