.personal {
  &-sidebar {
    position: fixed;
    top: $nav-height;
    width: 300px;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 10px 0 rgba(135, 118, 255, 0.15);
    background:  $color-dashboard-bg;
    min-height: 493px;
    z-index: 50;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-top: 10px solid $color-home-banner-bg;
      position: absolute;
      top: 0;
      right: 50%;
      margin-right: -10px;
      z-index: 51;
      display: block;
    }

    @media (max-width: $breakpoint-mobile) {
      top: 0;
      width: 100%;
  	}

    &-shadow {
       background-color: rgba(0, 0, 0, 0.54);
       position: fixed;
       left: 0;
       top: $nav-height;
       right: 300px;
       bottom: 0;
       @media (max-width: $breakpoint-mobile) {
         display: none;
     	}
    }

    &-close {
      background-color: transparent;
      outline: none;
      border: none;
      color: #BCB9C8;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 16px;

      &:hover,
      &:active,
      &:focus:active {
        color: $color-step-text;
        cursor: pointer;
      }
    }

    &-top {
      padding: 20px 40px;
      box-shadow: 0 0 10px 0 rgba(135, 118, 255, 0.15);
      background: $color-home-banner-bg;
      text-align: center;
      @media (max-width: $breakpoint-mobile) {
        padding: 15px 40px;
     }
    }

    .balance-address {
      width: 190px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      color: $color-step-text;
      margin: 0 auto;
      font-size: 14px;
    }
    .balance-text {
      font-size: 11px;
      font-weight: bold;
      color: #9390a6;
      text-transform: uppercase;
    }
    .balance-number {
      font-size: 12px;
      color: #5fddbb;
      margin-left: 10px;
      font-weight: bold;
    }
    &-search {
      display: flex;
      background-color: $color-step-text;
      box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
      border-radius: 16.5px;
      overflow: hidden;
      margin-bottom: 25px;
      margin-right: 15px;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 15px;
      input {
        padding: 7px 5px 7px 9px;
        background-color: $color-step-text;
        color: $color-bg-gray;
        flex: 1.7;
        border: none;
        font-size: 12px;
        &::placeholder {
  				color: $color-bg-gray;
          font-size: 10px;
  			}
      }
      .search-btn {
        background-color: $color-step-text;
        border:none;
        color: $color-orange;
        outline: none;
        border: none;
        flex: 0.25;
        padding: 0;
        font-size: 12px;
      }
    }
    &-content {
      padding-top: 25px;
      max-height: calc(100vh - 80px - 10px); // height minus heiader and small gap
      overflow: auto;
      &-community {
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 15px;
        padding-left: 15px;
      }
      @media (max-width: $breakpoint-mobile) {
        max-height: calc(100vh - 155px - 46px);
     }
    }
    &-title {
      font-size: 10px;
      font-weight: bold;
      color: $color-filter-text;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }
  &-community {
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    background: $color-step-text;
    margin-bottom: 15px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    &-content {
      &-balance {
        color: $color-balance;
        font-size: 11px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    .coin-name {
      text-transform: capitalize;
      font-size: 11px;
      color: $color-home-banner-bg;
      line-height: 2.45;
    }
  }
}

.btn-dashboard {
	position: absolute;
	top: 30px;
  right: 15px;
	background-color: $color-orange;
	border-radius: 4px;
	width: 23px;
	height: 22px;
	text-align: center;
	border: none;
	font-size: 11px;
	line-height: 20px;
  padding: 1px 7px 2px 5px;
	color: $color-step-text;

	&:focus, &:active, &:focus:active {
		outline: none;
	}
	&:hover {
		background-color: darken($color-orange, 10%);
		cursor: pointer;
	}
}

.no-items {
  color: #6e6d9f;
}

.ropsten {
  .personal-sidebar-search .search-btn,
  .personal-community-content-balance span {
    color: $color-ropsten;
  }
}

.main {
  .personal-sidebar-search .search-btn,
  .personal-community-content-balance span {
    color: $color-mainnet;
  }
}

.fuse {
  .personal-sidebar-search .search-btn,
  .personal-community-content-balance span {
    color: $color-fuse;
  }
}
