.top-navigator {
	@include flex-box();
	height: $nav-height;
	width: 100%;
	align-items: center;
	top: 0;
	justify-content: space-between;
	padding: 10px 30px;
	position: fixed;
	z-index: 200;
	background: $color-home-banner-bg;
	@media (max-width: $breakpoint-tablet) {
		height: $nav-height-mobile;
		padding: 10px 28px;
		position: fixed;
		background: $color-home-banner-bg;
	}
	.top-nav-logo {
		color: $color-step-text;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    text-align: center;
		position: relative;
    top: -4px;
    img {
      margin-right: 7px;
      position: relative;
      top: 2px;
      height: 30px;
      width: 30px;
    }
    &:hover {
      cursor: pointer;
    }
	}
	.top-nav-issuance {
		width: 180px;
	  height: 40px;
	  border-radius: 3px;
	  background: $color-orange;
	  border: none;
		font-size: 12px;
		text-transform: uppercase;
		color: $color-step-text;
		margin-left: 30px;
		font-weight: 500;
		text-align: center;
		&-plus {
			margin-right: 5px
		}
		&:focus,
		&:focus:active,
		&:active {
			outline: none;
		}
		&:hover {
			cursor: pointer;
			background: darken($color-orange, 10%);
		}
		@media (max-width: $breakpoint-tablet) {
			margin-left: 0;
		}
	}
	.burger-menu {
		display: none;
		@media (max-width: $breakpoint-tablet) {
			display: inline-block;
			float: right;
			margin-top: 10px;
			font-size: 16px;
			color: $color-step-text;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.top-nav-currency {
		flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
		@media (max-width: $breakpoint-tablet) {
			 flex-direction: column;
			 background: darken($color-home-banner-bg, 5%);
			 padding: 20px 28px;
			 align-items: center;
			 width: 100%;
			 margin-top: 30px;
		}
	}
	.top-nav-links {
		@include flex-box();
		justify-content: space-between;
		align-items: center;
		height: 100%;
		flex: 1;
		&.hide-nav-links {
			@media (max-width: $breakpoint-tablet) {
				display: none;
			}
		}
		.separator {
			display: none;
		}
		.separator-vertical {
			width: 2px;
			height: 44px;
			background-color: $color-step-text;
			margin: 0 10px;
		}
		.top-nav-text {
			@include flex-box();
			align-items: center;
			color: #BCB9C8;
			font-size: 12px;
			font-weight: 400;
			line-height: 25px;
			margin: 0 12px;
			position:relative;
			justify-content: center;
			&:after {
				content: "";
				position: absolute;
				bottom: -17px;
				right:0;
				width: 100%;
				height: 10px;
				background-color: $colu-green;
				opacity: 0;
				transition: opacity 0.2s ease-in;
			}
			.profile {
				&-icon {
					line-height: 14px;
					img {
						width: 25px;
						height: 32px;
					}
					@media (max-width: $breakpoint-tablet) {
						width: 75px;
						height: 75px;
						line-height: 91px;
						display: block;
						margin-bottom: 30px;
						text-align: center;
						img {
							width: 25px;
							height: 32.4px;
						}
					}
				}

        &-icon:hover {
          cursor: pointer;
        }

				&-balance {
					margin-left: 15px;
					@media (max-width: $breakpoint-tablet) {
						margin-left: 0;
					}
				}
			}
			&.profile {
				color: $color-step-text;
				&:after {
					display: none;
				}
			}
			&:hover {
				color: $color-step-text;
				cursor: pointer;
			}
			.balance-address {
				width: 150px;
				white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
				display: block;
				@media (max-width: $breakpoint-tablet) {
					width: auto;
					text-align: center;
				}
				@media (max-width: $breakpoint-mobile) {
					width: 325px;
				}
			}
		}
		.top-nav-balance {
			font-size: 14px;
			color: $dark-grey;
			img {
				width: 9px;
				height: 14px;
				margin-right: 2px;
				margin-left: 8px;
			}
			.balance-text {
				font-size: 11px;
				font-weight: bold;
				color: #9390a6;
				text-transform: uppercase;
			}
			.balance-number {
				font-size: 12px;
				color: $color-step-text;
				margin-left: 10px;
				font-weight: bold;
			}
		}
		@media (max-width: $breakpoint-tablet) {
			@include flex-direction(column);
			position: absolute;
			background: $color-home-banner-bg;
			top: $nav-height-mobile;
			right: 0;
			width:100%;
			height: auto;
			align-items: center;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

			.separator {
				display: block;
			}
			.separator-vertical {
				display: none;
			}
			&.hide {
				display: none;
			}
			.top-nav-text {
				line-height: 1;
				margin: 0;
				padding: 20px 0;
				text-align: left;
				font-size: 14px;
				width: 100%;
				&:after {
					display: none;
				}
				&.profile {
					order: -1;
					flex-direction: column;
				}
				&:hover {
					cursor: pointer;
				}
			}
			.top-nav-balance {
				margin-top: 10px;
				position: relative;
				padding-bottom: 40px;
				text-align: center;
				&:after {
					position: absolute;
					content: '';
					width: 100px;
				  height: 1px;
				  background: $color-step-text;
					bottom: 10px;
			    left: 50%;
			    margin-left: -50px;
				}
			}
		}
	}
	&.hide-nav-links {
		.top-nav-links {
			@media (max-width: $breakpoint-tablet) {
				display: none;
			}
		}
	}
	img {
		height: 40px;
		width: 40px;
		margin-top: 3px;
	}

	.mobile-menu-icon {
		height: 25px;
		width: auto;
	}

	&.navigator-appstore {
		background: transparent;
		box-shadow: none;
		position: absolute;
		& + .appstore-container {
			padding-top: 100px;
			@media (max-width: $breakpoint-tablet) {
				padding-top: 70px;
			}
		}
		.top-nav-issuance {
			box-shadow: none;
    	background: none;
			&:hover {
				border: 1px solid $color-step-text
			}
		}
		.top-nav-links {
			.top-nav-text {
				color: $color-step-text;
				font-weight: 500;
				.profile-icon {
					background: $color-orange-store;
					box-shadow: none;
					width: auto;
					height: auto;
					line-height: 1;
					img {
						width: 25px;
  					height: 32px;
					}
				}
				&:hover {
					color: rgba(255, 255, 255, 0.62);
				}
			}
			.top-nav-balance {
				.balance-text {
					color: rgba(255, 255, 255, 0.62);
				}
				.balance-number {
					color: $color-step-text;
				}
			}
		}
		.separator-vertical {
			background: $color-step-text;
		}
	}
}
