@include block(faq) {
  font-size: 16px;
  line-height: 25px;
  padding: 5px 0px;
  width: 100%;

  @include element(wrapper) {
    margin-top: 2em;
    @include xy-grid(vertical);
    border-radius: 10px;
    // padding-left: 25px;
    // padding-right: 25px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
    background-color: $color-white;
    // padding-top: 25px;
    // padding-bottom: 25px;
    // background: linear-gradient(to bottom, #f5f5f5 23%, white 0%);
    min-height: 300px;
    // max-height: 320px;

    @include breakpoint(medium down) {
      margin-top: 1em;
    }

    > div:first-child {
      height: 60px;
      background: #f5f5f5;
      width: inherit;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  @include element(questions) {
    width: 100%;
    padding: 2em;
  }

  @include element(title) {
    font-weight: 500;
    color: $color-dark;
    font-size: 1.125em;
  }

  @include element(content) {
    color: #808080;
    font-size: 0.75em;
    > div:first-child {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 90%;
      white-space: nowrap;
      line-height: 1.67;
    }
  }

  @include element(read) {
    color: #57b4fe;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @include element(action) {
    font-size: 1.025em;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    color: $color-dark;

    &:hover {
      text-decoration: underline;
    }
  }
}
