@include block(no_communities) {
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  @include xy-grid();
  @include flex-align(center, middle);

  @include block(content) {
    @include xy-grid(vertical);
    @include flex-align(center, middle);

    font-size: 1em;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #35617b;
    padding: 1em;

    > img {
      margin-top: 0.5em;
    }
  }

  @include block(title) {
  }

  @include block(empty) {
    font-size: 0.75em;
    font-weight: normal;
    color: #848484;
    margin-bottom: 0.5em;
  }
}
