@include block(login-modal) {
  width: 100%;

  @include element(title) {
    font-weight: bold;
    color: #42687d;
    background-color: #f4f4f4;
    padding: 15px 0px;
    text-align: center;
  }

  @include element(button) {
    display: flex;
    flex-direction: row;
    background-color: #42687d;
    padding: 10px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    img { 
      padding: 5px;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 5px;
    }

    div {
      font-size: 0.8em;
      color: white;
      font-weight: bold;
      padding: 0px 22px;
      margin: auto;
    }
  }

  @include element(bottom) {
    font-size: 0.7em;
    text-align: center;
    margin: 10px;
    a {
      color: #1457ff;
    }
  }

}