@import url("https://www.colu.com/fonts/354639/B6EF1FBC1ECBDE833.css");

$dark-grey: #3d3d3d;
$light-grey: #f8f8f8;
$colu-green: #4dd9b4;
$colu-purple: #301eaa;
$nav-height: 60px;
$page-width: 1024px;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin flex-box() {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-direction($direction) {
	-webkit-flex-direction: $direction;
	-ms-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin  transformTranslate($x,$y){
	-ms-transform: translate($x,$y); /* IE 9 */
	-webkit-transform: translate($x,$y); /* Chrome, Safari, Opera */
	transform: translate($x,$y);
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'icomoon';
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none !important;
	color: white !important;
}
h1 {
	font-size: 32px;
	line-height: 1.06;
	letter-spacing: 0;
	text-align: left;
	margin: 0;
	font-weight:lighter;
}

h2 {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	line-height: 1.25;
	letter-spacing: 0;
}

h3 {
	font-size: 42px;
	line-height: 1.06;
	letter-spacing: 0;
	margin: 0;
}

h4 {
	margin: 0;
}

.flex {
	@include flex-box();
}
.column {
		@include flex-direction(column);
	}
.center {
		justify-content: center;
		align-items: center;
	}

.switch-wrapper {
	position: relative;
}

.switch-wrapper > div {
	position: absolute;
}

.sidebar {
	position: absolute;
	top: $nav-height;
	bottom: 0;
	//right: calc((100vw - 1024px)/2);
	right: 0;
}

.main-container {
	//max-width: $page-width;
	height: 100%;
	width: 100%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	.map-wrapper {
		height: calc(100vh + 20px);
		width: 100%;
		//margin: 10px -10px -10px -10px; 
		transition: all 1s cubic-bezier(0,.52,.28,.94);
		transform: scale(1);
		filter: blur(7px);
		&.active {
			filter: none;
			transform: scale(1);
		}
	}
}


@mixin button {
	@include flex-box();
	border-radius: 2px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.welcome-wrapper {
	position: absolute;
	z-index: 10;
	@include flex-box();
	@include flex-direction(column);
	justify-content: center;
	align-items: center;
	//opacity: 0;
	transition: all 0.4s ease-in-out;
	animation: appear 3s linear;
	&.hide {
		opacity: 0;
	}
	&.out {
		display: none;
	}
	h3 {
		color: white;
		text-align: center;
	}
	h4 {
		color: white;
		text-align: center;
		margin: 20px;
	}
	.button {
		@include button();
		text-align: center;
		width: 207px;
		height: 40px;
		color: white;
		border: 1px white solid;
		margin-top: 30px;
	}
}

.communities-list {
	position: absolute;
	z-index: 11;
	right: 0;
}
.community-sidebar {
	background-color: #ffffff76;
	height: calc(100vh - 60px);
	width: 500px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	overflow: scroll;
	.header {
		background-color: #52586d;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
		padding: 32px;
		.sidebar-close {
			position: absolute;
			right: 16px;
			top: 16px;
		}
		.coin-header {
			@include flex-box();
			img {
				height: 90px;
				width: 90px;
			}
			.coin-details {
				margin-left: 16px;
				h1 {
					color: white;
					margin: 12px 0;
					width: 100%;
				}
				h2 {
					text-align: left;
					color: #414058;
					margin: 8px 0;
				}
				
			}
		}
		.header-buttons {
			@include flex-box();
			justify-content: space-between;
			margin-top: 30px;
			.header-button {
				width: 207px;
				height: 40px;
				@include button();
				background-color: #cbd1d3;
			}
		}
	}
	.community-data-wrapper {
		padding: 32px;
		overflow: scroll;
		.box {
			background-color: #ffffff76;
			border-radius: 4px;
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
			overflow: hidden;
			.box-header {
				background-color: #ebf0f2;
				padding: 14px 22px;
				font-size: 14px;
				font-weight: 500;
				line-height: 1.43;
				letter-spacing: 0;
				text-align: left;
				color: #301eaa;
			}
			.box-info {
				@include flex-box();
				padding: 10px 22px;
				.box-title {
					width: 130px;
					color: #404040;
				}
			}
			&:nth-child(2) {
				margin-top: 22px;
			}
		}
	}
}

.top-navigator {
	@include flex-box();
	height: $nav-height;
	background-color: $colu-green;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
	position: absolute;
	z-index: 3;
	.top-nav-links {
		@include flex-box();
		.top-nav-text {
			color: white;
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
			margin: 0 14px;
		}
	}
	img {
		height: 40px;
		width: 40px;
	}
	&.active {

	}
}

.marker {
	width: 120px;
	height: 124px;
	overflow: visible;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	transform-origin: bottom center;

	@include flex-box();
	.e-marker__circle {
		fill: none;
	}
	.e-marker__marker {
		fill: #50E3C2;
		&.purple {
			fill: $colu-purple;
		}
	}

	.e-marker__icon {
		//margin-top: -30px;
	}



	.community-label {
		font-color: white;
		@include flex-box();
		flex-direction: column;
		opacity: 0;
		transition: all 0.3s ease-in;
		font-size: 16px;
		font-weight: 500;
		text-decoration: none;
		//margin-left: 50px;
		&.community-label-active {
			opacity: 1;
		}

		.coin-label-name {

		}

		.coin-label-price {
			margin-left: 10px;
		}
	}
}

 .particles {
		position: relative;
		width:30px;
		height:30px;
		margin-left: -15px;
		margin-top: -15px;
		z-index: 3;
		transition: all 2s ease-in;
		&.bubbles {
		&:before {
			content: ' ';
			top: 15px;
			left:15px;
			position: absolute;
			z-index: 2;
			width: 7px;
			height: 7px;
			transition: all 0.3s ease-in;
			border-radius: 50%;
			background: rgba(255,255,255,1);
			box-shadow: inset 0px 0px 20px 12px rgba(255,255,255,0.9),
						0px 0px 40px 6px rgba(255,255,255,1);
		}
		>.particle {
			transition: all 0.3s ease-in;
			opacity:0.3;
			position: absolute;
			background-color:rgba(77,217,180,0.5);
			animation: bubbles 2s ease-in infinite;
			border-radius:100%;
			box-shadow: 5px 4px 17px 0px rgba(77,217,180, 0.1);
		 }
		>.particle2 {
			transition: all 0.3s ease-in;
			opacity:0.3;
			position: absolute;
			background-color:rgba(77,217,180,0.5);
			animation: bubbles2 2s ease-in infinite;
			border-radius:100%;
			box-shadow: 5px 4px 17px 0px rgba(203, 255, 241, 0.1);
		}
		 }
		&.grow {
		width:120px;
		height:120px;
		margin-left: -60px;
		margin-top: -60px;
		transition: all 2s ease-in;
		transform: scale(1.1);

		&.bubbles {
			&:before {
				width: 20px;
				height: 20px;
				top: 50px;
				left:50px;
				box-shadow: inset 0px 0px 10px 12px rgba(255,255,255,0.9),
						0px 0px 40px 12px rgba(255,255,255,1);
			}
			>.particle, .particle2 {
				background-color:rgba(77,217,180,0.8);
				box-shadow: 5px 4px 17px 2px rgba(77,217,180, 0.3);
			}
		}
		&:before {
			top: 60px;
			left:60px;
		}
		}
		&:hover {
		transform: scale(1.1);
		transition: transform 0.2s linear;
		&.bubbles {
		&:before {
			width: 8px;
			height: 8px;
			box-shadow: inset 0px 0px 20px 12px rgba(255,255,255,0.9),
						0px 0px 60px 16px rgba(255,255,255,1);
		}
		>.particle, .particle2 {
			background-color:rgba(77,217,180,0.8);
			box-shadow: 5px 4px 17px 2px rgba(77,217,180, 0.3);
		}
		}
	}
}

@keyframes appear {
	 0% {
		opacity: 0;
	 }
	 100% {
		opacity: 1;
	 }
}

@-webkit-keyframes pulse {
	0% {
	background: rgba(255,255,255,1);
	box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
						0px 0px 40px 2px rgba(105,135,255,1);
	}
	100% {
	background: rgba(255,255,255,0);
	box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
						0px 0px 30px 2px rgba(105,135,255,0.3);
	}
}

@keyframes bubbles {
	 0% {
		opacity: 0.1;
	 }
	 20% { //show and hint at moving
		opacity: 1;
		transform:translate(0, -20%);
	 }
	 100% {
		opacity: 0.1;
		transform:translate(0, -100%); //Big bubbles move faster
	 }
}


@keyframes bubbles2 {
	 0% {
		opacity: 0.1;
	 }
	 20% { //show and hint at moving
		opacity: 1;
		transform:translate(0, 20%);
	 }
	 100% {
		opacity: 0.1;
		transform:translate(0, 100%); //Big bubbles move faster
	 }
}



