@include block(logo-circle) {
	
	@include element(outer) {
		position: relative;
		@include modifier (small) {
			height: 100%;
			width: 100%;
			max-width: 50px;
			min-width: 50px;
			min-height: 50px;
			max-height: 50px;
			margin-right: 10px;

			> span {
				font-size: 7px !important;
				margin-top: -5px;
			}
		}

		@include modifier(normal) {
			height: 100%;
			width: 100%;
			max-width: 80px;
			min-width: 80px;
			min-height: 80px;
			max-height: 80px;
			margin: auto;
		}

		@include modifier (big) {
			height: 100%;
			width: 100%;
			max-width: 100px;
			min-height: 100px;
			max-height: 100px;
			min-width: 100px;
		}

		@include modifier(CoinIcon1\.svg) {
			@include modifier(ropsten) {
				> span {
					color: $color-primary-dark;
				}
			}

			@include modifier(main) {
				> span {
					color: $color-primary-dark;
				}
			}
		}

		@include modifier(CoinIcon2\.svg) {
			> span {
				color: $color-white;
			}
		}

		@include modifier(CoinIcon3\.svg) {
			@include modifier(ropsten) {
				> span {
					color: $color-ropsten;
				}
			}

			@include modifier(main) {
				> span {
					color: $color-mainnet;
				}
			}
		}
	}

	@include element (inner){
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	@include element (name) {
		@extend %logo-symbol;
	}
}

@include block (tab){

	@include element(wrapper) {
		margin-left: 20px;
		flex: 1;
		border-radius: 10px;
	}
	
	@include element(list) {
    width: 100%;
    padding: 0;
    list-style: none;
		margin: 0;
    display: flex;
    align-items: center;
		justify-content: space-between;
		position: relative;
		border-radius: 10px 10px 0 0 ;
		background: inherit;
	}

	@include element(item) {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
		border-radius: 10px 10px 0 0;

		> span {
			position: relative;
			background-color: #f8f8f8;
			padding: .7em 3.5em;
			text-decoration: none;
			color: rgba(37, 67, 90, 0.6);
			width: 100%;
			text-align: center;
			font-weight: 500;
			border-radius: 10px 10px 0 0;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		}

		
		@include modifier(active) {
			z-index: 2;
			> span {
				background: $color-white;
				color: $color-filter-text;
				box-shadow: 0px -7px 10px -6.3px rgba(0, 0, 0, 0.2);

			}
		}
	}

	@include element(content) {
		height: 90%;
		padding: 25px;
		background: $color-white;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    position: relative;
	}

}

@include block(button) {
	background-color: $color-ropsten;
	color: $color-white;
	font-weight: bold;
	text-align: center;
	height: 42px;
	border-radius: 20.5px;
	border: none;

	.fa {
		margin-left: 4px;
	}

	@include modifier(normal){
		width: 105px;
		font-size: 13px;
	}

	@include modifier(big) {
		width: 160px;
		font-size: 15px;
	}

	&:focus,
	&:active,
	&:focus:active {
		outline: none;
	}

	&:hover {
		cursor: pointer;
		background-color: #2eba72;
	}

	&:disabled,
		&[disabled] {
			opacity: 0.3;
			background-color: #34d080;;
			color: $color-white;
			cursor: not-allowed;
		}
}

.hide {
	display: none;
	//opacity:0 !important;
}


.flex {
	@include flex-box();
	&.between {
		@media (max-width: $breakpoint-tablet) {
			display: block;
		}
	}
}

.column {
	@include flex-direction(column);
}

.center {
	justify-content: center;
	align-items: center;
}

.capitalize {
  text-transform: capitalize;
}

.fullscreen {
	height: 100vh;
	&.open-mobile-nav {
		z-index: 2;
		@media (max-width: $breakpoint-tablet) {
			.top-nav-links.hide-nav-links {
				display: block;
			}
		}
	}
}

.mobile-screen {
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

.tablet {
	height: calc(100vh - 90px);
}

.positive-number {
  color: $color-step-field;
  font-size: 10px;
  font-weight: bold;
}

.hide-nav-links {
	@media (max-width: $breakpoint-tablet) {
		display: none;
	}
}

.sidebar-close {
	position: absolute;
	right: 16px;
	top: 16px;
	color: $dark-grey !important;
	cursor: pointer;
	img {
		height: 13px !important;
		width:13px !important;
		min-width: 13px !important;
	}
}

.separator {
	background-color: #e1dedc;
	height: 1px;
	width:100%;
}

.coin-header {
	@include flex-box();
	padding:32px;

	.coin-details {
		margin-left: 23px;
		width:100%;
		@include flex-box();
		@include flex-direction(column);
		justify-content: center;
		h1 {
			color: $dark-grey;
			margin: 12px 0;
			width: 100%;
			font-weight: bold;
			@media (max-width: $breakpoint-tablet) {
				font-size: 20px;
				margin: 0;
			}
		}

		h1 {
			font-size: 18px;
			margin-bottom: 2px;
			text-transform: uppercase;
			font-weight: bold;
		}

		.price-wrapper {
      padding: 3px 0px;
			font-size: 14px;
			@include flex-box();
			align-items: center;
			h2 {
				-webkit-margin-before: 0;
   				-webkit-margin-after: 0;
				font-size: 14px;
				text-align: left;
				color: #696868;
				margin: 0;
				font-weight: lighter;
			}

      .info {
        width: 14px;
        height: 14px;
        min-width: 14px;
        margin: 0 10px 0 3px;
      }

			p {
				color: $colu-green;
				font-weight: 500;
				max-width: 120px;
				white-space: nowrap;
				padding-left: 6px;
				overflow:hidden !important;
				text-overflow: ellipsis;
			}
			@media (max-width: $breakpoint-tablet) {
        padding: 1px 0px;
				font-size: 12px;
				margin: 0;
			}
		}
		.separator {
			margin: 5px 0 8px;
		}
	}
}

.info-price {
	@include flex-box();
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
	color: #8d9293;
	img {
		width: 14px;
		height: 14px;
		min-width: 14px;
		margin: 0 10px 0 3px;
	}
	div {
		font-size: 10px;
		//line-height: 2.6;
		letter-spacing: 0.2px;
		color: #8d9293;
		display: flex;
    	align-items: center;
	}
	.cc-to-cln {
		font-size: 10px;
		//line-height: 2.6;
		letter-spacing: 0.2px;
		color: #8d9293;
		margin-left: 60px;
	}
}

.transaction-in-progress {
	@extend .summary;
	padding: 45px 30px;
	p {
		text-align: center;
	}
	.summary-prices-wrapper {
		flex-direction: column;
		padding: 50px 20px 30px;
		.line {
			width:100%;
			height: 2px;
			border: solid 1px #cdcdcd;
			margin: 15px 0 18px;
		}
		.tx-link {
			font-size: 14px;
			font-weight: 300;
			line-height: 2.57;
			letter-spacing: -0.1px;
			color: #00bd94;
			text-align: left;
			text-decoration:underline !important;
			white-space: nowrap;
  		overflow: hidden !important;
  		text-overflow: ellipsis;
		}
		.status {
   			font-size: 14px;
   			font-weight: 700;
   			line-height: 2.57;
   			letter-spacing: -0.1px;
   			color: #00bd94;
   			text-align: left;
   			white-space: nowrap;
   			overflow: hidden !important;
   			text-overflow: ellipsis;
   			&.failure {
   				color: #ff5705;
   			}
   		}
	}
	.metamask-icon {
		border-radius: 50%;
		height: 60px;
		width: 60px;
		min-width: 60px;
		position:absolute;
		left: calc(50% - 30px);
		margin-top: -84px;
		background-color: #301ea9;
	}
}

.text-center {
	text-align: center;
}

.symbol-btn {
	border-radius: 30px;
  background-color: $color-ropsten;
	font-size: 1em;
	color: $color-white;
	padding: 16px 40px;
	text-transform: uppercase;
	border: none;
	font-weight: bold;
	min-width: 200px;
	.symbol-icon {
		margin-left: 5px;
	}
	&:focus,
	&:active,
	&:focus:active {
		outline: none;
	}
	&:hover {
		background-color: darken($color-ropsten, 10%);
		cursor: pointer;
	}
	&[disabled] {
		color: #fff;
		cursor: not-allowed;
		background-color: lighten($color-ropsten, 20%) !important;
	}

	@media (max-width: $breakpoint-tablet) {
		margin-top: 20px;
	}
}

.modal-dialog-div.issued-popup {
	width: 945px !important;
	padding: 0;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(135, 118, 255, 0.49);
	@media (max-width: $breakpoint-tablet) {
		width: 560px !important;
	}

	@media (max-width: $breakpoint-mobile) {
		width: 100% !important;
    overflow-y: auto;
	}
}

.form-control {
	display: flex;
	margin-bottom: 30px;
	label {
		color: $color-text-gray;
		line-height: 40px;
		width: 150px;
		font-weight: bold;
		&.checkbox-label {
			width: auto;
		}
	}
	&-with-error {
		display: flex;
		flex-direction: column;
		flex: 1;
		.error-text {
			margin-top: 5px;
			color: $color-red;
			font-size: 12px;
		}
	}
	input {
		border-radius: 5px;
  	box-shadow: 0 0 1px 0 rgba(10, 117, 134, 0.44);
		flex: 1;
		padding: 6px 12px;
		border: 1px solid #92a1ac;
		&:focus {
			box-shadow: 0 0 6px 0 rgba(10, 117, 134, 0.44);
		}
		&::placeholder {
			color: $color-filter-genre;
			font-style: italic;
		}
		&.form-control-error {
			border-color: $color-red;
		}
	}
	select {
		box-shadow: 0 0 1px 0 rgba(10, 117, 134, 0.44);
		border-radius: 5px;
		background-color: $color-white;
		box-sizing: border-box;
		flex: 1;
		padding: 6px 12px;
		&::placeholder {
			color: $color-filter-genre;
			font-style: italic;
		}
	}
	@media (max-width: $breakpoint-mobile) {
		flex-direction: column;
		margin-bottom: 15px;
		position: relative;
	}
}

.coin-status {
	font-size: 10px;
	color: $color-white;
	text-transform: uppercase;
	padding-left: 20px;
	position: relative;
	margin-top: 15px;
	text-align: left;
	font-weight: bold;
	&-indicator {
		width: 5px;
		height: 5px;
		position: absolute;
		top: 3px;
		left: 3px;
		border-radius: 50%;
		z-index: 5;
	}
 	&-active {
		.coin-status-indicator {
			background-color: #82bcff;
			&:after {
				animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
				border-radius: 50%;
				background-color: deepskyblue;
				width: 11px;
				height: 11px;
				position: absolute;
				opacity: 0;
				top: -3px;
				right: -3px;
				content: '';
				z-index: 3;
			}
		}
	}
	&-close {
		.coin-status-indicator {
			background-color: #ff4a7b;
		}
	}
	&-text {
		@media (max-width: $breakpoint-mobile) {
			display: none;
		}
	}
	@media (max-width: $breakpoint-mobile) {
		top: 0;
		right: 0;
		position: absolute;
		margin-top: 0;
	}
}

.add-btn {
	font-family: $font-family-lato;
	font-size: 11px;
  font-weight: bold;
	color: $color-symbol-field-brdr;
	text-decoration: underline;
	text-transform: uppercase;
	.add-icon {
		width: 26px;
	  height: 26px;
	  background-color: #51ccab;
		text-align: center;
		line-height: 26px;
		border-radius: 50%;
	  box-shadow: 0 0 8px 0 $color-shadow;
		margin-left: 10px;
		display: inline-block;
		color: white;
		font-size: 14px;
	}
	&:hover {
		color: $color-hover-details;
		cursor: pointer;
	}
}
.btn-reload {
	width: 26px;
	height: 26px;
	background-color: #b68cf3;
	box-shadow: 0 0 8px 0 $color-shadow;
	border-radius: 50%;
	text-align: center;
	border: none;
	padding: 0;
	line-height: 28px;
	&:focus,
	&:active,
	&:focus:active {
		outline: none;
	}
	&:hover {
		background-color: #a277e1;
		cursor: pointer;
	}
}
.btn-download {
	font-size: 13px;
	text-align: center;
 	color: $color-text-gray;
	text-decoration: underline;
	background: none;
	border: none;
	&:focus,
	&:active,
	&:focus:active {
		outline: none;
	}
	&:hover {
		color: $color-orange;
		cursor: pointer;
	}
}

.btn-adding {
	text-transform: uppercase;
	color: $color-white;
	font-size: 12px;
	border-radius: 3px;
	padding: 6px 12px;
	background: $color-step-field;
	border: none;
  border-image: none;
  border-image-width: 0px;
	outline: none;
	&:hover {
		cursor: pointer;
		background-image: linear-gradient(to bottom, #5c5895, #39366e);
	}
	&.big-adding-btn {
		padding: 15px 25px;
		@media (max-width: $breakpoint-mobile) {
			padding: 6px 12px;
		}
	}
}
