@import url("https://colupub.colu.com/fonts/703935/A96DF20C3066668FD.css");
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

/*-------Basic helpers----------*/

@import 'variables';
@import 'mixins';

/*-------Helpers----------*/

@import 'elements';
@import 'common';


/*---------Components Styles--------*/

@import 'components/App';
@import 'components/BuySell';
@import 'components/CalculatorModal';
@import 'components/Communities';
@import 'components/Modal';
@import 'components/Root';
@import 'components/TopNav';
@import 'components/PersonalSidebar';
@import 'components/AppStore';

@import 'components/oven/SimpleExchangeModal';

@import 'components/issuance/IssuanceBtn';
@import 'components/issuance/IssuanceWizard';
@import 'components/issuance/DetailsStep';
@import 'components/issuance/NameStep';
@import 'components/issuance/SummaryStep';
@import 'components/issuance/SymbolStep';
@import 'components/issuance/IssuedPopup';

@import 'components/dashboard/Dashboard';
@import 'components/dashboard/EntityDirectory';



.minimum-coin-symbol, .price-change-percent, .price-limit-cln {
	right: 40px;
	font-size:14px;
	color: $dark-grey;
	position: absolute;
	display: none;
}

.loader {
	height: 10px;
	width: 30px;
	&.image {
		height: 70px;
		width: 70px;
	}
	&.input {
		position: absolute;
    	margin-top: -45px;
    	left: 30px;
	}
}

 @keyframes scaleIn {
	from {
		transform: scale(.5, .5);
		opacity: .5;
	}
	to {
		transform: scale(2.5, 2.5);
		opacity: 0;
	}
}

@keyframes appear {
	 0% {
		opacity: 0;
	 }
	 100% {
		opacity: 1;
	 }
}

@keyframes load-box {
	 0% {
		opacity: 0;
	 }
	 100% {
		opacity: 1;
	 }
}

@-webkit-keyframes pulse {
	0% {
	background: rgba(255,255,255,1);
	box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
						0px 0px 40px 2px rgba(105,135,255,1);
	}
	100% {
	background: rgba(255,255,255,0);
	box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
						0px 0px 30px 2px rgba(105,135,255,0.3);
	}
}
