@import url("https://www.colu.com/fonts/354639/B6EF1FBC1ECBDE833.css");
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');

$dark-grey: #3d3d3d;
$light-grey: #f8f8f8;
$colu-green: #4dd9b4;
$colu-purple: #301eaa;
$disabled: #979797;

$nav-height: 100px;
$nav-height-mobile: 70px;
$page-width: 1024px;

$color-step: #6e6d9f;
$color-active-step: #c095ff;
$color-step-line: #271d53;
$color-step-border: #4b3b80;
$color-step-text: #fff;
$color-issuance: #1c1442;
$color-issuance-bg: linear-gradient(to bottom, rgba(60, 45, 119, 0.25), $color-issuance);
$color-step-bg: #241c4a;
$color-symbol-field-brdr: #b6b5d8;
$color-shadow: rgba(0, 0, 0, 0.3);
$color-step-field: #5fddbb;
$color-step-container-logo: #343166;
$font-family-lucida: 'Lucida Grande';
$font-family-lato: 'Lato', sans-serif;
$color-hover-details: #7effdc;
$color-shadow-btn: rgba(22, 14, 58, 0.34);
$color-top-nav-bg: #2a2057;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 1024px;

body > * {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin flex-box() {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-direction($direction) {
	-webkit-flex-direction: $direction;
	-ms-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin  transformTranslate($x,$y){
	-ms-transform: translate($x,$y); /* IE 9 */
	-webkit-transform: translate($x,$y); /* Chrome, Safari, Opera */
	transform: translate($x,$y);
}

@mixin easeOut {
	transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin input() {
    font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	color: $dark-grey;
	border: none;
	border-bottom: solid 1px $disabled;
	margin-top: 12px;
	@media (max-width: $breakpoint-tablet) {
		font-size: 16px;
	}
}

@mixin label() {
    font-size: 12px;
	font-weight: 500;
	letter-spacing: 0;
	color: #5a5959;
}

@mixin input-feedback() {
    font-size: 14px;
	color: #ff5705;
	position: absolute;
	bottom: -20px;
}

@font-face {
  font-family: "Lucida Grande";
  src: url("/assets/fonts/lucidagrande.ttf") format("opentype")
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'icomoon';
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-overflow-scrolling: touch;
}
path:focus, g:focus {
	outline: 0 !important;
}
p {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 14px;
}
input {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'icomoon';
	border-radius: 0;
}
button {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'icomoon';
}

input:focus, textarea:focus {
	outline: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a4a9b2;
  font-weight: lighter;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a4a9b2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a4a9b2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a4a9b2;
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none !important;
	cursor: pointer;
}
h1 {
	font-size: 32px;
	line-height: 1.06;
	letter-spacing: 0;
	text-align: left;
	margin: 0;
	font-weight:normal;
}

h2 {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	line-height: 1.25;
	letter-spacing: 0;
}

h3 {
	font-size: 40px;
	line-height: 1.06;
	letter-spacing: 0;
	margin: 0;
}

h4 {
	margin: 0;
	font-size: 20px;
}

h5 {
	margin: 0;
	font-size: 12px;
	font-weight:lighter;
}
.hide {
	display: none;
	//opacity:0 !important;
}

.map-element {

}

.flex {
	@include flex-box();
}

.column {
	@include flex-direction(column);
}
.center {
	justify-content: center;
	align-items: center;
}
.hide-nav-links {
	@media (max-width: $breakpoint-tablet) {
		display: none;
	}
}
.fullscreen {
	height: 100vh;
	&.open-mobile-nav {
		z-index: 2;
		@media (max-width: $breakpoint-tablet) {
			.top-nav-links.hide-nav-links {
				display: block;
			}
		}
	}
}

.mobile-screen {
	//height: calc(200% - 100vh);
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

.issuance-screen {
	height: 327px;
	z-index: 0;
	min-height: 310px;
	justify-content: start;
}

.tablet {
	height: calc(100vh - 90px);
}

.switch-wrapper {
	position: relative;
}

.switch-wrapper > div {
	position: absolute;
}

button:disabled, button[disabled] {
	background-color: rgb(151, 151, 151) !important;
}

#root {
	height: 100%;
	&>div {
		height: 100%;
	}
}

.main-container {
	height: 100%;
	width: 100%;
	position:relative;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	.map-wrapper {
		height: 100%;
		width: 100%;
		background-color: #1d1737;
		overflow: hidden;
		//transition: all 1s cubic-bezier(0,.52,.28,.94);
		//transform: scale(1);
		.map-element > div {
			background-color: rgb(36, 35, 52) !important;
			a {
				text-decoration: none !important;
				color: white !important;
			}
		}
		&.active {
			filter: none;
			transform: scale(1);
		}
	}
}

.sidebar-close {
	position: absolute;
	right: 16px;
	top: 16px;
	color: $dark-grey !important;
	cursor: pointer;
	img {
		height: 13px !important;
		width:13px !important;
		min-width: 13px !important;
	}
}

@mixin button($background) {
	@include flex-box();
	border-radius: 2px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	height: 34px;
	border-radius: 2px;
	background-color: $background;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border: none;
	transition: all 0.1s ease-in;
	&:hover {
		background-color: #6fe4c5;
	}
}

.welcome-wrapper {
	position: absolute;
	@include flex-box();
	justify-content: center;
	align-items: center;
	top:0;
	z-index: 300;
	width:100%;
	height:100%;
	opacity: 1;
	background-color: rgba(9, 9, 9, 0.6);
	transition: all 0.4s ease-in-out;
	//animation: appear 3s linear;
	&.hide {
		opacity: 0;
	}
	&.out {
		display: none;
	}
	.welcome-container {
		max-width: 580px;
		@include flex-box();
		@include flex-direction(column);
		justify-content: center;
		align-items: center;
		transition: all 0.4s ease-in-out;
		animation: appear 3s linear;
		h3 {
			font-size: 36px;
    		font-weight: 300;
    		line-height: 1.2;
			letter-spacing: 0.7px;
			text-align: center;
			color: #ffffff;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
		}
		h4 {
			color: white;
			text-align: center;
			margin: 20px;
			font-size: 16px;
			line-height: 1.4;
			font-weight: 300;
		}
		.button {
			@include button($colu-green);
			text-align: center;
			width: 160px;
			height: 36px;
			color: white;
			margin-top: 10px;
		}
	}
}

.sign-up-wrapper {
	display: flex;
    height: 60px;
    bottom: 3px;
    background-color: #e0e0e0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    position: absolute;
    z-index: 20;
    transition: all 0.4s ease-in-out;
    .sign-up-container {
    	display: flex;
    	justify-content: space-between;
    	width: 100%;
    	align-items: center;
    	max-width: 500px;
    }
    &.closed {
    	display: none;
    }
    .success-message {
    	color: $dark-grey;
    	margin-right: 20px;
    }
    form {
    	@include flex-box();
    	align-items: center;
    	justify-content: center;
    	margin-right:10px;
    	@media (max-width: $breakpoint-tablet) {
    		width: 100%;
    	}
    	.contact-field-wrapper {
			@include flex-box();
    		margin-bottom: 15px;
    		position: relative;
    		input {
    			font-size: 14px;
				font-weight: 500;
				letter-spacing: 0;
				color: $dark-grey;
				border: none;
				border-bottom: solid 1px $disabled;
				margin-top: 16px;
				margin-right: 15px;
				line-height: 2.3;
				background-color: transparent;
				@media (max-width: $breakpoint-tablet) {
    				width: 100%;
    				font-size: 16px;
    				&::placeholder {
    					font-size: 14px;
    				}
    			}
    		}

    		.input-feedback {
    			font-size: 14px;
				color: #ff5705;
				position: absolute;
    			bottom: 14px;
    			left: -180px;
    		}
    		@media (max-width: $breakpoint-tablet) {
    			width: 100%;
    		}
    	}
    	.mobile-submit {
    		height: 34px;
    		width:34px;
    		min-width: 34px;
    	}
    }
    p {
    	font-weight: 500;
    	color: $dark-grey;
    	text-transform: uppercase;
    }

	button {
		@include button($colu-green);
		color: white;
		width:122px;
		height: 34px;
		@media (max-width:$breakpoint-tablet) {
			width:34px;
			min-width: 34px;
			border-radius: 50%;
			padding: 0px;
			&:disabled {
				background-color: rgb(224, 224, 224) !important;
			}
		}
	}

	.sidebar-close {
		top: 21px;
	}
	@media (max-width: $breakpoint-tablet) {
		top: 50px;
		.sidebar-close {
			top: 22px;
		}
	}

}
.modal-overlay-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .65);
}

.modal-content-div {
    position: fixed;
    @include flex-box;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: auto;
    text-align: center;
    padding: 4px;
    cursor: pointer;

    @media (max-width: $breakpoint-tablet) {
      &.fullscreen {
        padding: 0px;
      }
    }
}

.modal-back {
	position: absolute;
	left: 16px;
	top: 16px;
	color: $dark-grey !important;
	cursor: pointer;
	img {
		transform: rotate(90deg);
		height: 8px !important;
		width:13px !important;
		min-width: 13px !important;
	}
}

.modal-dialog-div {
    position: relative;
    width: 432px;
  	height: auto;
    outline: 0;
    cursor: default;
    border-radius: 4px;
    background-color: #fafafa;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;

    &.fullscreen {
      padding:0;
    }

    @media (max-width: $breakpoint-tablet) {
      &.fullscreen {
        height: 100%;
        width: 100%;
        padding: 0px;
      }
    }

	p {
		font-weight: lighter;
    	font-size: 16px;
    	letter-spacing: 0;
    	line-height: 1.38;
	}
	img {
		height: 92px;
		min-width: 92px;
	}
	h4 {
		font-weight: 500;
		padding: 20px 0;
	}
	.button {
		@include button($colu-green);
		text-align: center;
		min-width: 210px;
		padding: 0 10px;
		height: 40px;
		color: white;
		margin-top: 30px;
	}
	.lock-icon {
		width:68px;
		height: 93px;
		min-width:68px;
	}
	.modal-content-wrapper {
		@include flex-box;
		@include flex-direction(column);
		align-items: center;
		padding: 45px 30px;
		.images {
			color: #8d9293;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 15px;
			span {
				margin: 5px 5px 0;
			}
			img {
				height: 75px;
				min-width: 75px;
			}
		}
	}
}

.separator {
	background-color: #e1dedc;
	height: 1px;
	width:100%;
}

.coin-header {
	@include flex-box();
	//padding: 20px 24px;
	padding:32px;
	.logo {
		width: 70px;
		height: 70px;
		min-width: 70px;
	}
	.coin-details {
		margin-left: 16px;
		width:100%;
		@include flex-box();
		@include flex-direction(column);
		justify-content: center;
		h1 {
			color: $dark-grey;
			margin: 12px 0;
			width: 100%;
			font-weight: bold;
			@media (max-width: $breakpoint-tablet) {
				font-size: 20px;
				margin: 0;
			}
		}

		h1 {
			font-size: 18px;
			margin-bottom: 2px;
			text-transform: uppercase;
			font-weight: bold;
		}
		h2 {

		}

		.price-wrapper {
      padding: 3px 0px;
			font-size: 14px;
			@include flex-box();
			align-items: center;
			h2 {
				-webkit-margin-before: 0;
   				-webkit-margin-after: 0;
				font-size: 14px;
				text-align: left;
				color: #696868;
				margin: 0;
				font-weight: lighter;
			}

      .info {
        width: 14px;
        height: 14px;
        min-width: 14px;
        margin: 0 10px 0 3px;
      }

			p {
				color: $colu-green;
				font-weight: 500;
				max-width: 120px;
				white-space: nowrap;
				padding-left: 6px;
				overflow:hidden !important;
				text-overflow: ellipsis;
			}
			@media (max-width: $breakpoint-tablet) {
        padding: 1px 0px;
				font-size: 12px;
				margin: 0;
			}
		}
		.separator {
			margin: 5px 0 8px;
		}
	}
}

.sidebar {
	position: absolute;
	top: $nav-height;
	bottom: 0;
	right: 0;
	z-index: 100;

	@media (max-width: $breakpoint-tablet) {
		top: 50px;
		-webkit-overflow-scrolling: touch;
	}

	.community-sidebar {
		border-left: 10px $colu-green solid;
		//overflow: scroll;
		height: calc(100vh - 60px);
		width: 450px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.37);
		@media (max-width: $breakpoint-tablet) {
			border-left: none;
			 -webkit-overflow-scrolling: touch;
		}
		a {
			text-decoration: underline !important;
			font-size: 14px;
			color: #7b7b7b;
		}
		.header {
			background-color: $light-grey;
			border-bottom: solid 1px #e1dedc;
			@media (max-width: $breakpoint-tablet) {
				padding: 0 20px 20px;
				border-bottom: 1px solid #e1dedc;
				box-shadow: none;
			}
			.sidebar-drag {
				width: 100%;
				height: 25px;
				@include flex-box();
				justify-content: center;
				align-items: center;
				.drag-line {
					width: 20px;
					height: 2px;
					background-color: #cdcdcd;
				}
			}

			.header-buttons {
				@include flex-box();
				justify-content: space-between;
				padding: 0 32px 32px;
				.header-button {
					width: 207px;
					@include button($colu-green);
					color: white;
					height: 36px;
					&:nth-child(2) {
						margin-left: 12px;
					}
				}
			}
		}
		.community-data-wrapper {
			padding: 32px;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			background: white;
			height: calc(100% - 200px);
			.box {
				background-color: #ffffff76;
				border-radius: 4px;
				box-shadow:  0 15px 30px 0 rgba(0, 0, 0, 0.05);
				overflow: hidden;
				animation: load-box 200ms ease-in;
				.box-header {
					background-color: #ebf0f2;
					padding: 14px 22px;
					font-size: 14px;
					font-weight: 500;
					line-height: 1.43;
					letter-spacing: 0;
					text-align: left;
					color: #382b73;
				}
				.box-info {
					@include flex-box();
					padding: 10px 22px;
					.box-title {
						min-width: 150px;
						color: #a4a9b2;
						font-size: 14px;
						p {
							margin: 20px 0;
						}

					}
					.box-data {
						overflow: hidden;
						p {
							white-space: nowrap;
							font-size: 14px;
							overflow:hidden !important;
							text-overflow: ellipsis;
							margin: 20px 0;
							img {
								height: 14px;
								width: 9px;
								padding-right: 4px;
    							margin-bottom: -2px;
							}
						}
						.description {
							white-space: normal;
							line-height: 1.7;
						}
						.social {
							a {
								margin-top: -4px;
								&:nth-child(2) {
									margin-left: 8px;
								}
							}
							img {
								height: 25px;
								width: 25px;
							}
						}
					}
				}

				&:nth-child(2) {
					margin-top: 22px;
					animation: load-box 300ms ease-in;
				}
			}
			@media (max-width:$breakpoint-tablet) {
				padding:20px;
				height: calc(100% - 156px)
			}
		}
		@media (max-width:$breakpoint-tablet) {
			width: 100vw;
			right: 0px;
			height: 100%;
			position: absolute;
			z-index: 10;
			bottom: 0;
			&.tablet {
				top: calc(50px) !important;
			}
			&.ios-chrome {
				top: calc(50px) !important;
			}
			.header {

				.header-buttons {
					@include flex-box();
					justify-content: space-between;
					padding: 0;
					.header-button {
            @include button($colu-green);
						width: 100%;
						height: 40px;
					}
				}
			}
			.coin-header {
				padding: 20px 0px;
				.logo {
					width: 55px;
					min-width: 55px;
					height: 55px;
				}
				.coin-details {
					margin-left:15px;
					h1 {
						font-size: 16px;
					}

					.price-wrapper {
            padding: 3px 0px;
						h2, p {
							font-size: 14px;
							margin: 0;
						}
					}
				}
			}
		}
	}
}

.top-navigator {
	@include flex-box();
	height: $nav-height;
	width: 100%;
	align-items: center;
	top: 0;
	justify-content: space-between;
	padding: 10px 30px;
	position: absolute;
	z-index: 200;
	background-image: linear-gradient(to top, #1c1442, $color-top-nav-bg);
  box-shadow: 0 0 21px 0 rgba(135, 118, 255, 0.29);
	@media (max-width: $breakpoint-tablet) {
		height: $nav-height-mobile;
		padding: 10px 28px;
		position: fixed;
		background: $color-top-nav-bg;
	}
	.top-nav-logo {
		display: flex;
		align-items: center;
		img {
			@media (max-width: $breakpoint-tablet) {
				height: 30px;
    		width: 30px;
			}
		}
	}
	.top-nav-issuance {
		width: 164px;
	  height: 40px;
	  border-radius: 3px;
	  box-shadow: 0 0 14px 0 rgba(89, 174, 255, 0.24);
	  background-image: linear-gradient(to bottom, #5c5895, #39366e);
	  border: solid 1px rgba(255, 255, 255, 0.08);
		font-size: 12px;
		text-transform: uppercase;
		color: $color-step-text;
		margin-left: 30px;
		font-weight: 500;
		text-align: center;
		&-plus {
			margin-right: 5px
		}
		&:focus,
		&:focus:active,
		&:active {
			outline: none;
		}
		&:hover {
			cursor: pointer;
			background: $color-step-field;
		}
		@media (max-width: $breakpoint-tablet) {
			margin-left: 0;
		}
	}
	.burger-menu {
		display: none;
		@media (max-width: $breakpoint-tablet) {
			display: inline-block;
			float: right;
			margin-top: 10px;
			font-size: 16px;
			color: $color-step-text;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.top-nav-currency {
		flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
		@media (max-width: $breakpoint-tablet) {
			 flex-direction: column;
			 background: #1c1442;
			 padding: 20px 28px;
			 align-items: center;
			 width: 100%;
			 margin-top: 30px;
		}
	}
	.top-nav-links {
		@include flex-box();
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		height: 100%;
		flex: 1;
		&.hide-nav-links {
			@media (max-width: $breakpoint-tablet) {
				display: none;
			}
		}
		.separator {
			display: none;
		}
		.separator-vertical {
			width: 2px;
			height: 44px;
			background-color: #6f6ab7;
			margin: 0 10px;
		}
		.top-nav-text {
			@include flex-box();
			align-items: center;
			color: #BCB9C8;
			font-size: 12px;
			font-weight: 400;
			line-height: 25px;
			margin: 0 12px;
			position:relative;
			min-width: 80px;
			justify-content: center;
			&:after {
				content: "";
				position: absolute;
				bottom: -17px;
				right:0;
				width: 100%;
				height: 10px;
				background-color: $colu-green;
				opacity: 0;
				transition: opacity 0.2s ease-in;
			}
			.profile {
				&-icon {
					width: 45px;
					height: 45px;
					background-image: linear-gradient(352deg, #262451, #343166);
					box-shadow: 0 -4px 18px 0 rgba(0, 0, 0, 0.12);
					text-align: center;
					border-radius: 50%;
					line-height: 56px;
					img {
						width: 15px;
						height: 19.5px;
					}
					@media (max-width: $breakpoint-tablet) {
						width: 75px;
						height: 75px;
						line-height: 91px;
						display: block;
						margin-bottom: 30px;
						img {
							width: 25px;
							height: 32.4px;
						}
					}
				}
				&-balance {
					margin-left: 15px;
					@media (max-width: $breakpoint-tablet) {
						margin-left: 0;
					}
				}
			}
			&.profile {
				color: $color-step-text;
				&:after {
					display: none;
				}
			}
			&:hover {
				color: $color-step-text;
			}
			.balance-address {
				width: 150px;
				white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
				display: block;
				@media (max-width: $breakpoint-tablet) {
					width: auto;
				}
				@media (max-width: $breakpoint-mobile) {
					width: 325px;
				}
			}
		}
		.top-nav-balance {
			font-size: 14px;
			color: $dark-grey;
			img {
				width:9px;
				height: 14px;
				margin-right: 2px;
				margin-left: 8px;
			}
			.balance-text {
				font-size: 11px;
				font-weight: bold;
				color: #9390a6;
				text-transform: uppercase;
			}
			.balance-number {
				font-size: 12px;
				color: #5fddbb;
				margin-left: 10px;
				font-weight: bold;
			}
		}
		@media (max-width: $breakpoint-tablet) {
			@include flex-direction(column);
			position: absolute;
			background: $color-top-nav-bg;
			top: $nav-height-mobile;
			right: 0;
			width:100%;
			height: auto;
			align-items: center;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

			.separator {
				display: block;
			}
			.separator-vertical {
				display: none;
			}
			&.hide {
				display: none;
			}
			.top-nav-text {
				line-height: 1;
				margin: 0;
				padding: 20px 0;
				text-align: left;
				font-size: 14px;
				width: 100%;
				&:after {
					display: none;
				}
				&.profile {
					order: -1;
					flex-direction: column;
				}
			}
			.top-nav-balance {
				margin-top: 10px;
				position: relative;
				padding-bottom: 40px;
				text-align: center;
				&:after {
					position: absolute;
					content: '';
					width: 100px;
				  height: 1px;
				  background: #6f6ab7;
					bottom: 10px;
			    left: 50%;
			    margin-left: -50px;
				}
			}
		}
	}
	&.hide-nav-links {
		.top-nav-links {
			@media (max-width: $breakpoint-tablet) {
				display: none;
			}
		}
	}
	img {
		height: 40px;
		width: 40px;
		margin-top: 3px;
	}

	.mobile-menu-icon {
		height: 25px;
		width: auto;
	}
}
input[type="checkbox" i] {
	margin: 0;
	padding: 0;
	display: block;
}

.buy-sell-tab {
	@include flex-box();
	flex-direction: row;
	width: 100%;
	height: 34px;
	border-radius: 4px;
	border: solid 1px #4dd9b4;
	.buy-tab {
		width: 50%;
		@include flex-box();
		justify-content: center;
		align-items: center;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		color: #8d9293;
		cursor: pointer;
		&.active {
			background-color: $colu-green;
			color: white;
		}
	}
}

.buy-sell-input {
	input {
    font-size: 30px;
		font-weight: 300;
		line-height: 1.33;
		letter-spacing: 0;
		color: #251783;
		background: transparent;
		width: 100%;
		border: none;
		border-bottom: solid 1px #cdcdcd;
		margin: 40px 0 26px;
		transition: all 300ms ease;
		&::placeholder {
    		font-size: 14px;
    	}
		@media (max-width: $breakpoint-tablet) {
			font-size: 16px;
		}
		&:focus {
			border-bottom: solid 1px #251783;
		}
	}
	.input-feedback {
		font-size: 14px;
		letter-spacing: 0;
		color: #ff5705;
		text-align: left;
		position: absolute;
		margin-top: -18px;
	}
	&.error input {
		border-color: #ff5705;
	}
}

.buy-sell-wrapper {
	background-color: #f2f6f6;
}
.info-price {
	@include flex-box();
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
	color: #8d9293;
	img {
		width: 14px;
		height: 14px;
		min-width: 14px;
		margin: 0 10px 0 3px;
	}
	div {
		font-size: 10px;
		//line-height: 2.6;
		letter-spacing: 0.2px;
		color: #8d9293;
		display: flex;
    	align-items: center;
	}
	.cc-to-cln {
		font-size: 10px;
		//line-height: 2.6;
		letter-spacing: 0.2px;
		color: #8d9293;
		margin-left: 60px;
	}
}
.buy-sell-bottom {
	background-color: white;
	padding: 5px 30px 45px;
	border-radius: 4px;
	.advanced-settings {
		@include flex-box();
		flex-direction: column;
		align-items:flex-start;
		border-radius: 4px;
		border: solid 1px #cdcdcd;
		margin-top:10px;
		@include easeOut();
		height: 30px;

    .advanced-header {
			@include flex-box();
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 30px;
      cursor: pointer;

			h5 {
				font-size: 14px;
				font-weight: 300;
				line-height: 1.86;
				letter-spacing: 0;
				color: #8d9293;
				width: 100%;
				text-align: left;
				padding: 0 9px;
			}

			img {
				@include easeOut();
				width: 11px;
				min-width: 11px;
				height: 6px;
				margin-right: 9px;
			}
		}

		.contact-field-wrapper {
			display: none;
			align-items: flex-start;
    		flex-direction: column;
    		margin-bottom: 36px;
    		padding: 9px;
    		position: relative;
    		width: 100%;
		}

		.contact-field-wrapper:nth-child(2) {
			margin-top: 20px;
		}

		.contact-field-wrapper:nth-child(6) {
			margin-bottom: 5px;
		}

		label {
    		@include label();
    		color: #8d9293;
    	}
    	input {
    		@include input();
    		width: 100%;
    		//color: #8d9293;
    		border-color: #cbd1d3;
    		transition: all 300ms ease;
    		&:focus {
  				border-bottom: solid 1px $colu-green;
  			}
    	}

    	.input-feedback {
    		@include input-feedback();
    	}

    	.annotation {
    		font-size: 9px;
			font-weight: 300;
			line-height: 2.2;
			letter-spacing: 0;
			color: $dark-grey;
			padding: 9px;
			display: none;
    	}

		&.open {
			height: 330px;
			.contact-field-wrapper {
				@include flex-box();
			}
			.annotation {
				display: block;
			}
			img {
				transform: rotate(180deg);
			}
		}
	}
	button {
		margin-top: 40px;
		@include button($colu-green);
		color: white;
		width: 100%;
		height:40px;
		&:disabled {
			background-color: #cbd1d3 !important;
			color: white;
		}
	}
}
.input-coin-symbol {
	position: absolute;
  right: 30px;
	margin-top: -50px;
	color: #251783;
}
.minimum-coin-symbol, .price-change-percent, .price-limit-cln {
	right: 40px;
	font-size:14px;
	color: $dark-grey;
	position: absolute;
	display: none;
}
.open {
	.minimum-coin-symbol {
		display: block;
		margin-top: 80px;
	}
	.price-change-percent {
		display: block;
		margin-top: 174px;
	}
	.price-limit-cln {
		display: block;
		margin-top: 267px;
	}
}

.buy-sell-top {
	background-color: #f2f6f6;
	padding: 45px 30px;
	border-radius: 4px;
	.max-amount {
		width: 150px;
    	position: absolute;
    	cursor: pointer;
    	right: 30px;
    	font-size: 10px;
    	font-weight: 300;
    	line-height: 2.2;
    	letter-spacing: 0;
    	color: #251783;
    	border-radius: 4px;
    	background-color: #f2f6f6;
    	border: solid 1px #251783;
    	margin-top: -94px;
    	&.error {
    		border-color: #ff5705;
    	}
	}

}
.arrows {
	background-color: white;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
    margin-top: -20px;
    margin-left: 23px;
    @include flex-box();
    justify-content: center;
    align-items: center;
	img {
		width:27px;
		min-width: 27px;
		height: 23px;
	}
}


.modal-body-wrapper {
	padding: 45px 30px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px 30px;
    height: 100%;
  }
	h4 {
		color: #5a5959;
	}
	h5 {
		font-size: 12px;
		font-weight: 500;
		line-height: 2.17;
		letter-spacing: 0;
		text-align: left;
		color: #5a5959;
	}
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.86;
		letter-spacing: 0;
		color: $dark-grey;
		text-align: center;
	}
	.modal-body {
    @include flex-box();
		flex-direction: row;
		border-radius: 4px;
		background-color: #f2f6f6;
		border: solid 1px #cdcdcd;
		margin: 30px 0;
		padding: 50px 96px 40px;
    @media (max-width: $breakpoint-tablet) {
      padding: 50px 46px 40px;
    }

    .modal-icon {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      min-width: 60px;
      position:absolute;
      left: calc(50% - 30px);
      margin-top: -84px;
    }

		.summary-price {
			flex:1;
			padding: 23px 23px 33px;
			@include flex-box();
			flex-direction: column;
    		align-items: center;
    		justify-content: center;
			&:nth-child(3) {
				border-top: solid 1px #cbd1d3;
				padding: 33px 23px 23px;
			}
			.price {
				font-size: 30px;
				font-weight: 300;
				line-height: 1.33;
				letter-spacing: -0.2px;
				text-align: center;
				color: #251783;
				span {
					font-size: 14px;
    				font-weight: 500;
    				margin-left: 5px;
				}
			}
		}

		.right-arrow {
			border-radius: 50%;
			background-color: #ffffff;
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
			width: 50px;
			height: 50px;
			position: absolute;
			@include flex-box();
    		justify-content: center;
    		align-items: center;
    		left: calc(50% - 25px);
    		margin-top: 94px;

			img {
				width:24px;
				min-width: 22px;
				height: 12px;
				transform: rotate(90deg);
			}
		}
	}
	.line {
		width:100%;
		height: 2px;
		border: solid 1px #cdcdcd;
		margin: 15px 0 18px;
	}
	button {
		margin-top: 40px;
		@include button($colu-green);
		color: white;
		width: 100%;
		height:40px;
	}
}

.summary {
	padding: 45px 30px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px 30px;
    height: 100%;
    overflow-y: scroll;
  }
	h4 {
		color: #5a5959;
	}
	h5 {
		font-size: 12px;
		font-weight: 500;
		line-height: 2.17;
		letter-spacing: 0;
		text-align: left;
		color: #5a5959;
	}
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.86;
		letter-spacing: 0;
		color: $dark-grey;
		text-align: left;
	}

  .icon {
    width: 30px;
    height: 30px
  }

	.summary-prices-wrapper {
		@include flex-box();
		flex-direction: column;
		border-radius: 4px;
		background-color: #f2f6f6;
		border: solid 1px #cdcdcd;
		margin: 30px 0;

		.summary-price {
			flex:1;
			padding: 23px 23px 33px;
			@include flex-box();
			flex-direction: column;
    		align-items: center;
    		justify-content: center;
			&:nth-child(3) {
				border-top: solid 1px #cbd1d3;
				padding: 33px 23px 23px;
			}
			.price {
				font-size: 30px;
				font-weight: 300;
				line-height: 1.33;
				letter-spacing: -0.2px;
				text-align: center;
				color: #251783;
				span {
					font-size: 14px;
    				font-weight: 500;
    				margin-left: 5px;
				}
			}
		}

		.right-arrow {
			border-radius: 50%;
			background-color: #ffffff;
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
			width: 50px;
			height: 50px;
			position: absolute;
			@include flex-box();
    		justify-content: center;
    		align-items: center;
    		left: calc(50% - 25px);
    		margin-top: 94px;

			img {
				width:24px;
				min-width: 22px;
				height: 12px;
				transform: rotate(90deg);
			}
		}
	}
	.line {
		width:100%;
		height: 2px;
		border: solid 1px #cdcdcd;
		margin: 15px 0 18px;
	}
	button {
		margin-top: 40px;
		@include button($colu-green);
		color: white;
		width: 100%;
		height:40px;
	}
}

.metamask-sign {
	padding: 45px 30px;
	h4 {
		color: #5a5959;
	}
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.86;
		letter-spacing: 0;
		color: $dark-grey;
		text-align: center;
	}
	.summary-prices-wrapper {
		@include flex-box();
		flex-direction: row;
		border-radius: 4px;
		background-color: #f2f6f6;
		border: solid 1px #cdcdcd;
		margin: 30px 0;
		padding: 50px 96px 40px;
    @media (max-width: $breakpoint-tablet) {
      padding: 50px 46px 40px;
    }
		.line {
			width:100%;
			height: 2px;
			border: solid 1px #cdcdcd;
			margin: 15px 0 18px;
		}
	}
	.metamask-icon {
		border-radius: 50%;
		height: 60px;
		width: 60px;
		min-width: 60px;
		position:absolute;
		left: calc(50% - 30px);
		margin-top: -84px;
	}

}

.transaction-in-progress {
	@extend .summary;
	padding: 45px 30px;
	p {
		text-align: center;
	}
	.summary-prices-wrapper {
		flex-direction: column;
		padding: 50px 20px 30px;
		.line {
			width:100%;
			height: 2px;
			border: solid 1px #cdcdcd;
			margin: 15px 0 18px;
		}
		.tx-link {
			font-size: 14px;
			font-weight: 300;
			line-height: 2.57;
			letter-spacing: -0.1px;
			color: #00bd94;
			text-align: left;
			text-decoration:underline !important;
			white-space: nowrap;
    		overflow: hidden !important;
    		text-overflow: ellipsis;
		}
		.status {
   			font-size: 14px;
   			font-weight: 700;
   			line-height: 2.57;
   			letter-spacing: -0.1px;
   			color: #00bd94;
   			text-align: left;
   			white-space: nowrap;
   			overflow: hidden !important;
   			text-overflow: ellipsis;
   			&.failure {
   				color: #ff5705;
   			}
   		}
	}
	.metamask-icon {
		border-radius: 50%;
		height: 60px;
		width: 60px;
		min-width: 60px;
		position:absolute;
		left: calc(50% - 30px);
		margin-top: -84px;
		background-color: #301ea9;
	}
}

.legal-explanation {
  p {
    font-size: 10px
  }
}
.contact-form-wrapper {
	border-radius: 2px;
	position: absolute;
	//overflow: scroll;
    top: 130px;
    width: auto;
    bottom: 0;
    right: calc((100vw - 842px)/2);
    @media (max-width: $breakpoint-tablet) {
    	right: calc((100vw - 450px)/2);
    	overflow: scroll;
    }
	.contact-form {
		width: 820px;
		background-color: white;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
		padding: 40px;
		h4 {
			text-align: center;
			font-weight: 500;
			margin-bottom: 33px;
		}
		.success-message {
    		color: $colu-green;
    		text-align: center;
    		@media (max-width: $breakpoint-tablet) {
    			padding-top: 20px;
    		}
    	}
		form {
			@include flex-box();
			@media (max-width: $breakpoint-tablet) {
				display: block;
			}
			.contact-horizontal {
				width: 100%;
				padding: 10px 20px 0;
				@media (max-width: $breakpoint-tablet) {
					width: auto;
					padding: 0;
				}
				.contact-field-wrapper {
					@include flex-box();
    				flex-direction: column;
    				margin-bottom: 45px;
    				position: relative;
    				font-size: 14px;
    				@media (max-width: $breakpoint-tablet) {
						font-size: 16px;
					}
    				label {
    					@include label();
    				}
    				input, textarea, select {
    					@include input();
    				}

    				.input-feedback {
    					@include input-feedback();
    				}

    				&.checkbox {
    					flex-direction: row-reverse;
    					align-items: center;
    					justify-content: flex-end;
    					margin-bottom: 38px;
    					label {
    						padding: 10px 0 0 10px;
    					}
    				}
    				&.error {
						input, textarea, select {
							border-bottom: solid 1px #ff5705;
						}
					}

				}
				button {
					@include button($colu-green);
					color: white;
					width: 100%;
					height:36px;
				}
				button:disabled, button[disabled] {
					background-color: rgb(224, 224, 224) !important;
				}
			}
		}
	}
	@media (max-width: $breakpoint-tablet) {
		top:50px;

		right: 0;
		.contact-form {
			width: 100vw;
			min-height: calc(100vh - 50px);
			padding: 40px 17px;
		}
	}
}

.issuance {
	&-form-wrapper {
		position: absolute;
	  top: 0;
	  width: auto;
	  bottom: 0;
	  right: 0;
		left: 0;
	  z-index: 50;
		overflow: auto;
		background-image: $color-issuance-bg;
		@media (max-width: $breakpoint-mobile) {
			margin-top: -327px;
			position: relative;
			overflow: hidden;
			top: 0;
		}
	}
	&-container {
		background-image: $color-issuance-bg;
	}
}

.step {
	display: inline-block;
	color: $color-step;
	position: relative;
	margin-left: 20px;
  margin-right: 20px;
	width: 70px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	@media (max-width: $breakpoint-mobile) {
		font-size: 11px;
		margin-left: 5px;
		margin-right: 5px;
	}
	&:not(:last-child) {
		&::before {
			content: '';
			height: 2px;
			width: 100px;
			position: absolute;
			top: -25px;
			margin-top: -1px;
			left: 42px;
			background-color: $color-step-line;
			box-shadow: 0 0 9px 0 rgba(192, 149, 255, 0.23);
			border: 1px solid $color-step-border;
			@media (max-width: $breakpoint-mobile) {
				top: -19px;
				width: 70px;
			}
		}
	}
	&::after {
		content: '';
		position: absolute;
		top: -35px;
		left: 50%;
		margin-left: -9px;
		border-radius: 50%;
		width: 17px;
	  height: 17px;
	  box-shadow: 0 0 9px 0 rgba(192, 149, 255, 0.35);
	  background-color: $color-step-bg;
	  border: 2px solid $color-step-border;

		@media (max-width: $breakpoint-mobile) {
			width: 13px;
		  height: 13px;
			top: -27px;
		}
	}
	&.done-step {
		&::before {
			background-color: $color-active-step;
		}
	}
	&.active-step {
		color: $color-active-step;
		&::after {
		  border: solid 2px $color-active-step;
			background-color: $color-active-step;
			box-shadow: 0 0 6px 0 $color-active-step,
	            		inset $color-step-bg 0 0 1px 4px,
		}
		&:before {
			background-color: $color-step-line;
		}
		& + .done-step,
		& + .done-step + .done-step {
			&:before {
				background-color: $color-step-line;
			}
		}
	}
	&.done-step {
		.done-check {
			position: absolute;
			color: $color-step-bg;
			top: -30px;
	    left: 50%;
	    margin-left: -4px;
	    z-index: 50;
	    font-size: 11px;
			@media (max-width: $breakpoint-mobile) {
				top: -23px;
		    margin-left: -5px;
		    font-size: 10px;
			}
		}
		&::after {
			box-shadow: 0 0 6px 0 $color-active-step;
	  	background-color: $color-active-step;
	  	border: solid 2px $color-active-step;
		}
	}
	&s-container {
		text-align: center;
		background-image: linear-gradient(to bottom, rgba(60, 45, 119, 0.25), $color-issuance);
		padding-top: 240px;
		padding-bottom: 50px;
		@media (max-width: $breakpoint-mobile) {
			padding-top: 200px;
			&.step-with-sticky {
				padding-bottom: 68px;
			}
		}
		.steps-indicator {
			&.step-sticky {
				background-image: linear-gradient(to bottom, #342962, #1c1442);
  			box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.37);
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				padding-top: 31px;
				padding-bottom: 7px;
				z-index: 50;
				.step {
					color: transparent;
					font-size: 0;
					.done-check {
						display: none;
					}
					&::after {
						width: 12px;
					  height: 12px;
					}
					&.active-step {
						&::after {
							background-color: #271d53;
							box-shadow: 0 0 3px 0 #c095ff;
						}
					}
				}
			}
		}
	}
	&-content {
		background-image: linear-gradient(352deg, $color-issuance, #2d235e);
  	box-shadow: 0 0 10px 0 rgba(135, 118, 255, 0.49);
		min-height: calc(100vh - 310px);
		padding-top: 50px;
		@media (max-width: $breakpoint-mobile) {
			min-height: calc(100vh - 269px);
			padding-top: 35px;
			padding-bottom: 30px;
		}
		&-community {
			width: 300px;
			margin: 0 auto;
			text-align: center;
			padding-top: 90px;
			@media (max-width: $breakpoint-mobile) {
				padding-top: 0;
			}
		}
		&-title {
			font-size: 21px;
  		font-weight: bold;
			line-height: 1.29;
			text-transform: capitalize;
			color: $color-step-text;
			margin-bottom: 20px;
			&.community-title {

			}
			@media (max-width: $breakpoint-mobile) {
				width: 90%;
				font-size: 18px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&-symbol {
			width: 440px;
			margin: 0 auto;
			text-align: center;
			&-field {
				margin-top: 20px;
				width: 100%;
				border-radius: 5px;
				font-size: 106px;
  			font-weight: bold;
				text-align: center;
  			color: $color-step-field;
				padding: 10px;
				margin-bottom: 40px;
				text-transform: uppercase;
				background: linear-gradient(to right, $color-symbol-field-brdr 50%, rgba(255, 255, 255, 0) 0%),
										linear-gradient($color-symbol-field-brdr 50%, rgba(255, 255, 255, 0) 0%),
										linear-gradient(to right, $color-symbol-field-brdr 50%, rgba(255, 255, 255, 0) 0%),
										linear-gradient($color-symbol-field-brdr 50%, rgba(255, 255, 255, 0) 0%);
			  background-position: top, right, bottom, left;
			  background-repeat: repeat-x, repeat-y;
			  background-size: 15px 1px, 1px 15px;
				@media (max-width: $breakpoint-mobile) {
					width: 270px;
					margin-left: auto;
					margin-right: auto;
					font-size: 80px;
					margin-bottom: 25px;
					input {
						font-size: 80px;
					}
				}
			}
			@media (max-width: $breakpoint-mobile) {
				width: 100%;
				padding-bottom: 40px;
			}
		}
		&-details {
			width: 935px;
			margin: 0 auto;
			padding-bottom: 100px;
			@media (max-width: $breakpoint-tablet) {
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
			}
			@media (max-width: $breakpoint-mobile) {
				width: 94%;
				padding: 0;
			}
			&-supply {
				display: flex;
				input {
					margin-right: 20px;
				}
			}
			&-block {
				display: flex;
				flex-direction: row;
				align-items: center;
				border-bottom: solid 2px rgba(255, 255, 255, 0.08);
				padding-bottom: 45px;
				margin-bottom: 45px;
				&.total-block {
					padding-top: 40px;
					padding-bottom: 85px;
					@media (max-width: $breakpoint-mobile) {
						padding-top: 0;
						padding-bottom: 25px;
					}
				}
				@media (max-width: $breakpoint-tablet) {
					flex-direction: column;
				}
			}
			&-title {
				font-size: 15px;
				font-weight: bold;
				color: #d2d0da;
				min-width: 230px;
				@media (max-width: $breakpoint-tablet) {
					margin-bottom: 20px;
					text-align: center;
					font-size: 21px;
					font-weight: bold;
					line-height: 1.29;
					text-transform: capitalize;
					color: $color-step-text;
				}
			}
			&-type {
				border-radius: 5px;
			  box-shadow: 0 0 14px 0 $color-shadow;
			  background-color: rgba(29, 21, 65, 0.4);
			  border: solid 2px #42367f;
				height: 145px;
				width: 160px;
				display: flex;
		    flex-direction: column;
		    width: 160px;
		    align-items: center;
				margin-right: 20px;
				font-size: 11px;
  			font-weight: 500;
				color: $color-symbol-field-brdr;
				justify-content: center;
				text-transform: uppercase;
				position: relative;
				@media (max-width: $breakpoint-mobile) {
					margin-right: 5px;
				}
				&:hover {
					box-shadow: 0 0 14px 0 $color-shadow;
				  background-color: #302559;
				  border: solid 2px #504391;
					cursor: pointer;
				}
				&.chosen-type {
					border: solid 2px $color-step-field;
				}
				.type-img {
					margin-bottom: 15px;
					@media (max-width: $breakpoint-mobile) {
						width: 70px;
						margin-bottom: 7px;
					}
				}
				.logo-img {
					width: 100px;
					height: 100px;
					@media (max-width: $breakpoint-mobile) {
						width: 58px;
						height: 58px;
					}
				}
				.symbol-text {
					font-size: 19px;
  				font-weight: bold;
					text-align: center;
  				color: $color-step-text;
					position: absolute;
					top: 50%;
					margin-top: -10px;
					@media (max-width: $breakpoint-mobile) {
						font-size: 10px;
						margin-top: -6px;
					}
				}
				&.number-type {
					width: 180px;
 					height: 50px;
					font-size: 19px;
  				font-weight: 500;
					text-align: center;
  				color: $color-step-field;
				}
				@media (max-width: $breakpoint-mobile) {
					height: 97px;
					width: 107px;
					font-size: 9px;
				}
			}
			&-container {
				display: flex;
				&.total-container {
					@media (max-width: $breakpoint-tablet) {
						flex-direction: column;
						width: 50%;
	    			align-items: center;
						.number-type {
							margin-right: 0;
							font-size: 16px;
							width: 100%;
							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}
					}
					@media (max-width: $breakpoint-mobile) {
						flex-direction: column;
						width: 80%;
	    			align-items: center;
						.number-type {
							margin-right: 0;
							font-size: 16px;
							width: 100%;
							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
		&-summary {
			width: 400px;
			border-radius: 10px;
			background-image: radial-gradient(circle at 50% 39%, #1a193f, #282654);
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
			margin: 0 auto;
			overflow: hidden;
			margin-top: 30px;
			@media (max-width: $breakpoint-mobile) {
				width: 90%;
			}
			&-header {
				padding: 18px 20px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
			&-footer {
				border-top: 1px dotted rgba(255, 255, 255, 0.15);
				padding-top: 20px;
				padding-bottom: 20px;
				margin: 20px 20px 0 20px;
				.footer-supply {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
				}
			}
			&-status {
				font-size: 11px;
  			font-weight: bold;
				color: $color-step-text;
				text-transform: uppercase;
				&-point {
					width: 5px;
  				height: 5px;
  				background-color: #ff4a7b;
					display: inline-block;
					border-radius: 50%;
					margin-right: 10px;
				}
			}
			&-container {
				background-image: linear-gradient(348deg, #262451, $color-step-container-logo);
				box-shadow: 0 -4px 18px 0 rgba(0, 0, 0, 0.12);
				position: relative;
				padding-top: 60px;
			}
			&-title {
				font-size: 15px;
				color: $color-step-text;
				text-align: center;
				font-family: $font-family-lucida;
				text-transform: capitalize;
				margin-bottom: 10px;
			}
			&-total {
				color: $color-step-field;
				font-size: 25px;
				font-weight: 500;
				width: 230px;
				white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
				&-title {
					font-size: 10px;
	  			font-weight: bold;
					text-transform: uppercase;
					color: $color-step;
					padding-bottom: 10px;
				}
				@media (max-width: $breakpoint-mobile) {
					width: 180px;
				}
			}
			&-logo {
				width: 100px;
				height: 100px;
				background: $color-step-container-logo;
				border-radius: 50%;
				position: relative;
				display: flex;
    		flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				top: -40px;
		    left: 50%;
		    margin-left: -50px;
				position: absolute;
				@media (max-width: $breakpoint-mobile) {
					width: 85px;
					height: 85px;
					top: -35px;
				}
				.logo-img {
					width: 80px;
					height: 80px;
					@media (max-width: $breakpoint-mobile) {
						width: 65px;
						height: 65px;
					}
				}
				.symbol-text {
					font-size: 16px;
  				font-weight: bold;
					text-align: center;
  				color: $color-step-text;
					position: absolute;
					top: 50%;
					margin-top: -10px;
					text-transform: uppercase;
				}
			}
		}
	}
	&-symbol-title {
		font-size: 25px;
		color: $color-active-step;
		font-family: $font-family-lucida;
		text-transform: capitalize;
		margin-bottom: 20px;
		@media (max-width: $breakpoint-mobile) {
			font-size: 16px;
			margin-bottom: 5px;
		}
	}
	&-community-symbol {
		input {
			background-color: transparent;
			font-size: 106px;
			font-weight: bold;
			color: #5fddbb;
			text-transform: uppercase;
			box-shadow: none;
			outline: none;
			border: none;
			width: 100%;
			text-align: center;
			height: 125px;
			&:focus {
				box-shadow: none;
				outline: none;
				border: none;
			}
			@media (max-width: $breakpoint-mobile) {
				font-size: 80px;
				height: 92px;
			}
		}
	}
	&-community-name {
		input {
			box-shadow: 0 0 6px 0 $color-step-field;
  		background-color: #1e1545;
  		border: solid 1px $color-step-field;
			border-radius: 10px;
			padding: 8px 16px;
			font-size: 13px;
			color: $color-step-text;
			line-height: 1.92;
			width: 220px;
			&::placeholder {
				font-style: italic;
			}
			@media (max-width: $breakpoint-mobile) {
				border-radius: 5px;
			}
		}
	}
}
.other-details {
	font-size: 15px;
	text-align: center;
	color: $color-step-field;
	line-height: 50px;
	font-weight: 500;
	text-decoration: underline;
	&:hover {
		cursor: pointer;
		color: $color-hover-details;
	}
}
.wallet-container {
	padding-top: 40px;
	padding-bottom: 40px;
}
.edit-symbol {
	margin-bottom: 30px;
}
.add-btn {
	font-family: $font-family-lato;
	font-size: 11px;
  font-weight: bold;
	color: $color-symbol-field-brdr;
	text-decoration: underline;
	text-transform: uppercase;
	.add-icon {
		width: 26px;
	  height: 26px;
	  background-color: #51ccab;
		text-align: center;
		line-height: 26px;
		border-radius: 50%;
	  box-shadow: 0 0 8px 0 $color-shadow;
		margin-left: 10px;
		display: inline-block;
		color: white;
		font-size: 14px;
	}
	&:hover {
		color: $color-hover-details;
		cursor: pointer;
	}
}
.btn-reload {
	width: 26px;
	height: 26px;
	background-color: #b68cf3;
	box-shadow: 0 0 8px 0 $color-shadow;
	border-radius: 50%;
	text-align: center;
	border: none;
	padding: 0;
	line-height: 28px;
	&:focus,
	&:active,
	&:focus:active {
		outline: none;
	}
	&:hover {
		background-color: #a277e1;
		cursor: pointer;
	}
}
.btn-download {
	font-size: 13px;
	text-align: center;
 	color: $color-step-text;
	background: none;
	border: none;
	.fa {
		color: $color-step-field;
		margin-right: 5px;
		font-size: 18px;
		&.fa-times-circle {
			position: relative;
			top: 2px;
		}
	}
	&:focus,
	&:active,
	&:focus:active {
		outline: none;
	}
	&:hover {
		color: $color-hover-details;
		cursor: pointer;
	}
}
.next {
	&-button {
		background-color: $color-step-field;
 		box-shadow: 0 0 15px 0 $color-shadow-btn, 0 0 4px 0 rgba(26, 19, 60, 0.92);
		padding: 10px 13px;
		margin-top: 40px;
		border: none;
		color: $color-issuance;
		border: none;
		border-radius: 50%;
		font-size: 22px;
		&:disabled,
		&[disabled] {
			background-color: #231b4d !important;
	    box-shadow: 0 0 15px 0 $color-shadow-btn, 0 0 4px 0 rgba(21, 15, 48, 0.92);
	    margin-top: 40px;
	    padding: 10px 13px;
	    color: rgba(95, 221, 187, 0.36);
			cursor: not-allowed;
		}
		&:focus,
		&:active,
		&:focus:active {
			outline: none;
		}
	}
}

.text-center {
	text-align: center;
}

.symbol-btn {
	border-radius: 3px;
  background-color: #293b5a;
  box-shadow: 0 0 6px 0 rgba(95, 221, 187, 0.77);
	font-size: 13px;
	color: $color-step-field;
	padding: 16px 40px;
	text-transform: uppercase;
	border: none;
	font-weight: bold;
	min-width: 200px;
	.symbol-icon {
		margin-left: 10px;
	}
	&:focus,
	&:active,
	&:focus:active {
		outline: none;
	}
	&:hover {
		background-color: $color-step-field;
		color: $color-step-text;
		cursor: pointer;
	}
	&[disabled] {
		color: $color-step-field;
		cursor: not-allowed;
		background-color: transparent !important;
	}
}

.prev-button {
	left: 20px;
	@media (max-width: $breakpoint-mobile) {
		left: 15px;
		.btn-text {
			display: none;
		}
	}
}

.quit-button {
	right: 45px;
	@media (max-width: $breakpoint-mobile) {
		right: 20px;
		.btn-text {
			display: none;
		}
	}
}

.ctrl-btn {
	position: absolute;
	top: 40px;
	background: none;
	color: $color-symbol-field-brdr;
	border: none;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;

	.ctrl-icon {
		font-size: 28px;
		display: block;
		margin-bottom: 3px;
	}
	&:focus,
	&:active,
	&:focus:active {
		outline: none;
	}

  @media (min-width: $breakpoint-mobile) {
  	&:hover {
  		cursor: pointer;
  		.ctrl-icon {
  			color: $color-step-field;
  		}
  	}
  }

	@media (max-width: $breakpoint-mobile) {
		top: 40px;
		.ctrl-icon {
			font-size: 18px;
		}
	}
}

.marker {
	width: 120px;
	height: 124px;
	overflow: visible;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	transform-origin: bottom center;

	@include flex-box();
	.e-marker__circle {
		fill: none;
	}
	.e-marker__marker {
		fill: #50E3C2;
		&.purple {
			fill: $colu-purple;
		}
	}

	.e-marker__icon {
		//margin-top: -30px;
	}

	.community-label {
		font-color: white;
		@include flex-box();
		flex-direction: column;
		opacity: 0;
		transition: all 0.3s ease-in;
		font-size: 16px;
		font-weight: 500;
		text-decoration: none;
		//margin-left: 50px;
		&.community-label-active {
			opacity: 1;
		}

		.coin-label-name {
			color: $colu-green;
			text-transform: uppercase;
			font-weight: lighter;
			margin-left: 20px;
		}

		.coin-label-price {
			margin-left: 10px;
		}
	}
}

.particles {
	position: relative;
	//width:30px;
	//height:30px;
	//margin-left: -15px;
	//margin-top: -15px;
	z-index: 3;
	//transition: all 2s ease-in 1s;
	cursor: pointer;
	&.bubbles {
		//&:before {
		//	content: ' ';
		//	top: 15px;
		//	left:15px;
		//	position: absolute;
		//	z-index: 2;
		//	width: 7px;
		//	height: 7px;
		//	//transition: all 0.3s ease-in;
		//	border-radius: 50%;
		//	background: rgba(255,255,255,1);
		//	box-shadow: inset 0px 0px 10px 8px rgba(77,217,180,0.9),
		//				0px 0px 40px 6px rgba(77,217,180,1);
		//}
		>.particle {
			transition: 0.3s ease-in;
			transition-property: all;
			opacity:0.3;
			position: absolute;
			background-color:rgba(77,217,180,0.5);
			animation: bubbles 2s ease-in infinite;
			border-radius:100%;
			box-shadow: 5px 4px 17px 0px rgba(77,217,180, 0.1);
		 }
		>.particle2 {
			transition: 0.3s ease-in;
			transition-property: all;
			opacity:0.3;
			position: absolute;
			background-color:rgba(154, 139, 255,0.5);
			animation: bubbles2 2s ease-in infinite;
			border-radius:100%;
			box-shadow: 5px 4px 17px 0px rgba(154, 139, 255, 0.1);
		}
		>.central {
			position: absolute;
			z-index: 2;
			width: 7px;
			height: 7px;
			//transition: all 0.3s ease-in;
			border-radius: 50%;
			background: rgba(255,255,255,1);
			box-shadow: inset 0px 0px 10px 8px rgba(77,217,180,0.9),
						0px 0px 40px 6px rgba(77,217,180,1);


		}
	}
	&.grow {
		width:120px;
		height:120px;
		margin-left: -60px;
		margin-top: -60px;
		transform: scale(1.1);
		&.bubbles {
			>.particle {
				background-color:rgba(77,217,180,0.8);
				box-shadow: 5px 4px 17px 2px rgba(77,217,180, 0.3);
			}
			>.particle2 {
				background-color:rgba(154, 139, 255,0.5);
				box-shadow: 5px 4px 17px 0px rgba(154, 139, 255, 0.1);
			}
		}
		&:before {
			top: 60px;
			left:60px;
		}
	}
	&.grow-center {
		&.bubbles {
			&:before {
				width: 20px;
				height: 20px;
				top: 50px;
				left:50px;
				box-shadow: inset 0px 0px 10px 12px rgba(77,217,180,0.5),
						0px 0px 20px 2px rgba(77,217,180,1);
			}
		}
	}
	//&:hover {
	//	transform: scale(1.1);
	//	transition: transform 0.2s linear;
	//	&.bubbles {
	//		>.particle, .particle2 {
	//			background-color:rgba(77,217,180,0.8);
	//			box-shadow: 5px 4px 17px 2px rgba(77,217,180, 0.3);
	//		}
	//	}
	//}
}

.communities-list {
	position: absolute;
	z-index: 11;
	display: flex;
    flex-direction: column;
    right: 0px;
    width: 450px;
	top: $nav-height;
	overflow: hidden;

	.list-item {
		height: auto;
		.coin-wrapper {
			box-sizing: content-box;
			background-color: $light-grey;
			border-radius: 2px;
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
			border-left: 10px #cbd1d3 solid;
			transition: border-left 0.2s ease-in;
			cursor: pointer;
			&:hover {
				border-left: 10px $colu-green solid;
			}
			.coin-header {
				margin-top:20px;
				padding: 20px 24px;

				h1 {
					font-size: 18px;
					margin-bottom: 2px;
					text-transform: uppercase;
					font-weight: bold;
				}
				h2 {

				}
				.logo {
					width: 70px;
					height: 70px;
				}
				.price-wrapper {
					font-size: 14px;
					h2 {
						-webkit-margin-before: 0;
   						-webkit-margin-after: 0;
						font-size: 14px;
					}
				}
			}
			&.open {
				height: 100vh !important;
				.coin-header {
					padding: 32px;
				}
			}
		}
	}
	@media (max-width: $breakpoint-tablet) {
		flex-direction: row;
		bottom: 30px;
		top: auto;
		overflow: auto;
		overflow-y: hidden;
		height: 112px;
		width: 100%;
		align-items: flex-end;
		-webkit-transition: all 0.4s ;
    	transition: all 0.4s ;
    	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		.list-item {
			height: 82px;
			-webkit-transition: all 0.3s ease-in-out;
    		transition: all 0.3s ease-in-out;
			.coin-wrapper {
				border-left: 4px $colu-green solid;
				margin-left: 9px;
				margin-right: 4px;
				-webkit-transition: opacity 0.3s 0.5s, width 0.2s 0.1s, height 0.2s 0.1s, transform 0.1s 0.1s, left 0.2s 0.1s, margin 0.2s 0.1s;
    			transition: opacity 0.3s 0.5s, width 0.2s 0.1s, height 0.2s 0.1s, transform 0.1s 0.1s, left 0.2s 0.1s, margin 0.2s 0.1s;
    			-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    			transition-timing-function: cubic-bezier(0.7,0,0.3,1);
				height: 82px;
				width: 270px;
				.coin-header {
					margin-top:0px;
					padding: 20px 6px;
					.logo {
						width: 45px;
						min-width: 45px;
						height: 45px;
					}
					.coin-details {
						margin-left:9px;
						h1 {
							font-size: 12px;
						}

						.price-wrapper {
							h2, p {
								font-size: 10px;
							}
						}
					}
				}

				&:hover {
					border-left: 4px $colu-green solid;
				}
				&.open-mobile {
					height: 100%;
					width: 101vw;
					border-left: none;
					margin: 0 0 -30px 0px;
					&.ios-chrome {
						top: calc(100vh - 50px) !important;
					}
					&.tablet {
						top: calc(100vh - 100px) !important;
					}
					.coin-header {
						padding: 20px;
						.logo {
							width: 55px;
							min-width: 55px;
							height: 55px;
						}
						.coin-details {
							margin-left:15px;
							h1 {
								font-size: 16px;
							}

							.price-wrapper {
								h2, p {
									font-size: 14px;
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
		&.open-mobile {
			height: calc(100% - 50px);
			bottom: 0px;
			.list-item {
				height: 100%;
			}
		}
	}
}

.loader {
	height: 10px;
	width: 30px;
	&.image {
		height: 70px;
		width: 70px;
	}
	&.input {
		position: absolute;
    	margin-top: -45px;
    	left: 30px;
	}
}

@keyframes appear {
	 0% {
		opacity: 0;
	 }
	 100% {
		opacity: 1;
	 }
}

@keyframes load-box {
	 0% {
		opacity: 0;
	 }
	 100% {
		opacity: 1;
	 }
}

@-webkit-keyframes pulse {
	0% {
	background: rgba(255,255,255,1);
	box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
						0px 0px 40px 2px rgba(105,135,255,1);
	}
	100% {
	background: rgba(255,255,255,0);
	box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
						0px 0px 30px 2px rgba(105,135,255,0.3);
	}
}

@keyframes bubbles {
	 0% {
		opacity: 0.1;
	 }
	 20% { //show and hint at moving
		opacity: 1;
		transform:translate(0, 0px);
	 }
	 100% {
		opacity: 0.1;
		transform:translate(0, -2px); //Big bubbles move faster
	 }
}

@keyframes bubbles2 {
	 0% {
		opacity: 0.1;
	 }
	 20% { //show and hint at moving
		opacity: 1;
		transform:translate(0, 0px);
	 }
	 100% {
		opacity: 0.1;
		transform:translate(0, 2px); //Big bubbles move faster
	 }
}
