@import url("https://www.colu.com/fonts/354639/B6EF1FBC1ECBDE833.css");

$dark-grey: #3d3d3d;
$light-grey: #f8f8f8;
$colu-green: #4dd9b4;
$colu-purple: #301eaa;
$disabled: #979797;

$nav-height: 60px;
$nav-height-mobile: 50px;
$page-width: 1024px;

$breakpoint-tablet: 1024px;

body > * {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin flex-box() {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-direction($direction) {
	-webkit-flex-direction: $direction;
	-ms-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin  transformTranslate($x,$y){
	-ms-transform: translate($x,$y); /* IE 9 */
	-webkit-transform: translate($x,$y); /* Chrome, Safari, Opera */
	transform: translate($x,$y);
}

@mixin easeOut {
	transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin input() {
    font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	color: $dark-grey;
	border: none;
	border-bottom: solid 1px $disabled;
	margin-top: 12px;
	@media (max-width: $breakpoint-tablet) {
		font-size: 16px;
	}
}

@mixin label() {
    font-size: 12px;
	font-weight: 500;
	letter-spacing: 0;
	color: #5a5959;
}

@mixin input-feedback() {
    font-size: 14px;
	color: #ff5705;
	position: absolute;
	bottom: -20px;
}


html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'icomoon';
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	overflow: hidden;
  	-webkit-overflow-scrolling: touch;
}
path:focus, g:focus {
	outline: 0 !important;
}
p {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 14px;
}
input {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'icomoon';
	border-radius: 0;
}
button {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'icomoon';
}

input:focus, textarea:focus {
	outline: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a4a9b2;
  font-weight: lighter;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a4a9b2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a4a9b2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a4a9b2;
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none !important;
	cursor: pointer;
}
h1 {
	font-size: 32px;
	line-height: 1.06;
	letter-spacing: 0;
	text-align: left;
	margin: 0;
	font-weight:normal;
}

h2 {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	line-height: 1.25;
	letter-spacing: 0;
}

h3 {
	font-size: 40px;
	line-height: 1.06;
	letter-spacing: 0;
	margin: 0;
}

h4 {
	margin: 0;
	font-size: 20px;
}

h5 {
	margin: 0;
	font-size: 12px;
	font-weight:lighter;
}
.hide {
	display: none;
	//opacity:0 !important;
}

.map-element {

}

.flex {
	@include flex-box();
}

.column {
	@include flex-direction(column);
}
.center {
	justify-content: center;
	align-items: center;
}

.fullscreen {
	height: 100vh;
	@media (max-width: $breakpoint-tablet) {
		//height: calc(100vh - 50px);
	}
}

.mobile-screen {
	//height: calc(200% - 100vh);
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

.tablet {
	height: calc(100vh - 90px);
}

.switch-wrapper {
	position: relative;
}

.switch-wrapper > div {
	position: absolute;
}

button:disabled, button[disabled] {
	background-color: rgb(151, 151, 151) !important;
}

#root {
	height: 100%;
	&>div {
		height: 100%;
	}
}

.main-container {
	height: 100%;
	width: 100%;
	position:relative;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	.map-wrapper {
		height: 100%;
		width: 100%;
		background-color: #1d1737;
		//transition: all 1s cubic-bezier(0,.52,.28,.94);
		//transform: scale(1);
		.map-element > div {
			background-color: rgb(36, 35, 52) !important;
			a {
				text-decoration: none !important;
				color: white !important;
			}
		}
		&.active {
			filter: none;
			transform: scale(1);
		}
	}
}

.sidebar-close {
	position: absolute;
	right: 16px;
	top: 16px;
	color: $dark-grey !important;
	cursor: pointer;
	img {
		height: 13px !important;
		width:13px !important;
		min-width: 13px !important;
	}
}

@mixin button($background) {
	@include flex-box();
	border-radius: 2px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	height: 34px;
	border-radius: 2px;
	background-color: $background;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border: none;
	transition: all 0.1s ease-in;
	&:hover {
		background-color: #6fe4c5;
	}
}

.welcome-wrapper {
	position: absolute;
	@include flex-box();
	justify-content: center;
	align-items: center;
	top:0;
	z-index: 300;
	width:100%;
	height:100%;
	opacity: 1;
	background-color: rgba(9, 9, 9, 0.6);
	transition: all 0.4s ease-in-out;
	//animation: appear 3s linear;
	&.hide {
		opacity: 0;
	}
	&.out {
		display: none;
	}
	.welcome-container {
		max-width: 580px;
		@include flex-box();
		@include flex-direction(column);
		justify-content: center;
		align-items: center;
		transition: all 0.4s ease-in-out;
		animation: appear 3s linear;
		h3 {
			font-size: 36px;
    		font-weight: 300;
    		line-height: 1.2;
			letter-spacing: 0.7px;
			text-align: center;
			color: #ffffff;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
		}
		h4 {
			color: white;
			text-align: center;
			margin: 20px;
			font-size: 16px;
			line-height: 1.4;
			font-weight: 300;
		}
		.button {
			@include button($colu-green);
			text-align: center;
			width: 160px;
			height: 36px;
			color: white;
			margin-top: 10px;
		}
	}
}

.sign-up-wrapper {
	display: flex;
    height: 60px;
    bottom:0;
    background-color: #e0e0e0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    position: absolute;
    z-index: 20;
    transition: all 0.4s ease-in-out;
    .sign-up-container {
    	display: flex;
    	justify-content: space-between;
    	width: 100%;
    	align-items: center;
    	max-width: 500px;
    }
    &.closed {
    	display: none;
    }
    .success-message {
    	color: $dark-grey;
    	margin-right: 20px;
    }
    form {
    	@include flex-box();
    	align-items: center;
    	justify-content: center;
    	margin-right:10px;
    	@media (max-width: $breakpoint-tablet) {
    		width: 100%;
    	}
    	.contact-field-wrapper {
			@include flex-box();
    		margin-bottom: 15px;
    		position: relative;
    		input {
    			font-size: 14px;
				font-weight: 500;
				letter-spacing: 0;
				color: $dark-grey;
				border: none;
				border-bottom: solid 1px $disabled;
				margin-top: 16px;
				margin-right: 15px;
				line-height: 2.3;
				background-color: transparent;
				@media (max-width: $breakpoint-tablet) {
    				width: 100%;
    				font-size: 16px;
    				&::placeholder {
    					font-size: 14px;
    				}
    			}
    		}

    		.input-feedback {
    			font-size: 14px;
				color: #ff5705;
				position: absolute;
    			bottom: 14px;
    			left: -180px;
    		}
    		@media (max-width: $breakpoint-tablet) {
    			width: 100%;
    		}
    	}
    	.mobile-submit {
    		height: 34px;
    		width:34px;
    		min-width: 34px;
    	}
    }
    p {
    	font-weight: 500;
    	color: $dark-grey;
    	text-transform: uppercase;
    }

	button {
		@include button($colu-green);
		color: white;
		width:122px;
		height: 34px;
		@media (max-width:$breakpoint-tablet) {
			width:34px;
			min-width: 34px;
			border-radius: 50%;
			padding: 0px;
			&:disabled {
				background-color: rgb(224, 224, 224) !important;
			}
		}
	}

	.sidebar-close {
		top: 21px;
	}
	@media (max-width: $breakpoint-tablet) {
		top: 50px;
		.sidebar-close {
			top: 22px;
		}
	}

}
.modal-overlay-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .65);
}

.modal-content-div {
    position: fixed;
    @include flex-box;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: auto;
    text-align: center;
    padding: 4px;
    cursor: pointer;

    @media (max-width: $breakpoint-tablet) {
      &.fullscreen {
        padding: 0px;
      }
    }
}

.modal-back {
	position: absolute;
	left: 16px;
	top: 16px;
	color: $dark-grey !important;
	cursor: pointer;
	img {
		transform: rotate(90deg);
		height: 8px !important;
		width:13px !important;
		min-width: 13px !important;
	}
}

.modal-dialog-div {
    position: relative;
    width: 432px;
  	height: auto;
    outline: 0;
    cursor: default;
    border-radius: 4px;
    background-color: #fafafa;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;

    &.fullscreen {
      padding:0;
    }

    @media (max-width: $breakpoint-tablet) {
      &.fullscreen {
        height: 100%;
        width: 100%;
        padding: 0px;
      }
    }

	p {
		font-weight: lighter;
    	font-size: 16px;
    	letter-spacing: 0;
    	line-height: 1.38;
	}
	img {
		height: 92px;
		min-width: 92px;
	}
	h4 {
		font-weight: 500;
		padding: 20px 0;
	}
	.button {
		@include button($colu-green);
		text-align: center;
		min-width: 210px;
		padding: 0 10px;
		height: 40px;
		color: white;
		margin-top: 30px;
	}
	.lock-icon {
		width:68px;
		height: 93px;
		min-width:68px;
	}
	.modal-content-wrapper {
		@include flex-box;
		@include flex-direction(column);
		align-items: center;
		padding: 45px 30px;
		.images {
			color: #8d9293;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 15px;
			span {
				margin: 5px 5px 0;
			}
			img {
				height: 75px;
				min-width: 75px;
			}
		}
	}
}

.separator {
	background-color: #e1dedc;
	height: 1px;
	width:100%;
}

.coin-header {
	@include flex-box();
	//padding: 20px 24px;
	padding:32px;
	.logo {
		width: 70px;
		height: 70px;
		min-width: 70px;
	}
	.coin-details {
		margin-left: 16px;
		width:100%;
		@include flex-box();
		@include flex-direction(column);
		justify-content: center;
		h1 {
			color: $dark-grey;
			margin: 12px 0;
			width: 100%;
			font-weight: bold;
			@media (max-width: $breakpoint-tablet) {
				font-size: 20px;
				margin: 0;
			}
		}

		h1 {
			font-size: 18px;
			margin-bottom: 2px;
			text-transform: uppercase;
			font-weight: bold;
		}
		h2 {

		}

		.price-wrapper {
      padding: 3px 0px;
			font-size: 14px;
			@include flex-box();
			align-items: center;
			h2 {
				-webkit-margin-before: 0;
   				-webkit-margin-after: 0;
				font-size: 14px;
				text-align: left;
				color: #696868;
				margin: 0;
				font-weight: lighter;
			}

      .info {
        width: 14px;
        height: 14px;
        min-width: 14px;
        margin: 0 10px 0 3px;
      }

			p {
				color: $colu-green;
				font-weight: 500;
				max-width: 120px;
				white-space: nowrap;
				padding-left: 6px;
				overflow:hidden !important;
				text-overflow: ellipsis;
			}
			@media (max-width: $breakpoint-tablet) {
        padding: 1px 0px;
				font-size: 12px;
				margin: 0;
			}
		}
		.separator {
			margin: 5px 0 8px;
		}
	}
}

.sidebar {
	position: absolute;
	top: $nav-height;
	bottom: 0;
	right: 0;
	z-index: 100;

	@media (max-width: $breakpoint-tablet) {
		top: 50px;
		-webkit-overflow-scrolling: touch;
	}

	.community-sidebar {
		border-left: 10px $colu-green solid;
		//overflow: scroll;
		height: calc(100vh - 60px);
		width: 450px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.37);
		@media (max-width: $breakpoint-tablet) {
			border-left: none;
			 -webkit-overflow-scrolling: touch;
		}
		a {
			text-decoration: underline !important;
			font-size: 14px;
			color: #7b7b7b;
		}
		.header {
			background-color: $light-grey;
			border-bottom: solid 1px #e1dedc;
			@media (max-width: $breakpoint-tablet) {
				padding: 0 20px 20px;
				border-bottom: 1px solid #e1dedc;
				box-shadow: none;
			}
			.sidebar-drag {
				width: 100%;
				height: 25px;
				@include flex-box();
				justify-content: center;
				align-items: center;
				.drag-line {
					width: 20px;
					height: 2px;
					background-color: #cdcdcd;
				}
			}

			.header-buttons {
				@include flex-box();
				justify-content: space-between;
				padding: 0 32px 32px;
				.header-button {
					width: 207px;
					@include button($colu-green);
					color: white;
					height: 36px;
					&:nth-child(2) {
						margin-left: 12px;
					}
				}
			}
		}
		.community-data-wrapper {
			padding: 32px;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			background: white;
			height: calc(100% - 200px);
			.box {
				background-color: #ffffff76;
				border-radius: 4px;
				box-shadow:  0 15px 30px 0 rgba(0, 0, 0, 0.05);
				overflow: hidden;
				animation: load-box 200ms ease-in;
				.box-header {
					background-color: #ebf0f2;
					padding: 14px 22px;
					font-size: 14px;
					font-weight: 500;
					line-height: 1.43;
					letter-spacing: 0;
					text-align: left;
					color: #382b73;
				}
				.box-info {
					@include flex-box();
					padding: 10px 22px;
					.box-title {
						min-width: 150px;
						color: #a4a9b2;
						font-size: 14px;
						p {
							margin: 20px 0;
						}

					}
					.box-data {
						overflow: hidden;
						p {
							white-space: nowrap;
							font-size: 14px;
							overflow:hidden !important;
							text-overflow: ellipsis;
							margin: 20px 0;
							img {
								height: 14px;
								width: 9px;
								padding-right: 4px;
    							margin-bottom: -2px;
							}
						}
						.description {
							white-space: normal;
							line-height: 1.7;
						}
						.social {
							a {
								margin-top: -4px;
								&:nth-child(2) {
									margin-left: 8px;
								}
							}
							img {
								height: 25px;
								width: 25px;
							}
						}
					}
				}

				&:nth-child(2) {
					margin-top: 22px;
					animation: load-box 300ms ease-in;
				}
			}
			@media (max-width:$breakpoint-tablet) {
				padding:20px;
				height: calc(100% - 156px)
			}
		}
		@media (max-width:$breakpoint-tablet) {
			width: 100vw;
			right: 0px;
			height: 100%;
			position: absolute;
			z-index: 10;
			bottom: 0;
			&.tablet {
				top: calc(50px) !important;
			}
			&.ios-chrome {
				top: calc(50px) !important;
			}
			.header {

				.header-buttons {
					@include flex-box();
					justify-content: space-between;
					padding: 0;
					.header-button {
            @include button($colu-green);
						width: 100%;
						height: 40px;
					}
				}
			}
			.coin-header {
				padding: 20px 0px;
				.logo {
					width: 55px;
					min-width: 55px;
					height: 55px;
				}
				.coin-details {
					margin-left:15px;
					h1 {
						font-size: 16px;
					}

					.price-wrapper {
            padding: 3px 0px;
						h2, p {
							font-size: 14px;
							margin: 0;
						}
					}
				}
			}
		}
	}
}

.top-navigator {
	@include flex-box();
	height: $nav-height;
	background-color: $light-grey;
	width: 100%;
	align-items: center;
	//top: $nav-height;
	top: 0;
	justify-content: space-between;
	padding: 10px 30px;
	position: absolute;
	z-index: 200;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	@media (max-width: $breakpoint-tablet) {
		height: $nav-height-mobile;
		padding: 10px 28px;
		position: fixed;
	}
	.top-nav-links {
		@include flex-box();
		justify-content: center;
		align-items: center;
		cursor: pointer;
		height: 100%;
		.separator {
			display: none;
		}
		.separator-vertical {
			width: 2px;
			height: 44px;
			background-color: #cbd1d3;
			margin: 0 10px;
		}
		.top-nav-text {
			@include flex-box();
			align-items: center;
			color: $dark-grey;
			font-size: 14px;
			font-weight: 400;
			line-height: 25px;
			margin: 0 12px;
			position:relative;
			min-width: 80px;
			justify-content: center;
			&:after {
				content: "";
				position: absolute;
				bottom: -17px;
				right:0;
				width: 100%;
				height: 10px;
				background-color: $colu-green;
				opacity: 0;
				transition: opacity 0.2s ease-in;
			}
			&.profile:after {
				display: none;
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
			span {
				margin-left: 11px;
				white-space: nowrap;
    			overflow: hidden !important;
    			text-overflow: ellipsis;
    			max-width: 150px;
			}
			img {
				width:28px;
				height:28px;
			}
		}
		.top-nav-balance {
			border-radius: 10px;
			background-color: #ebf0f2;
			padding: 8px 12px 10px ;
			font-size: 14px;
			color: $dark-grey;
			img {
				width:9px;
				height: 14px;
				margin-right: 2px;
				margin-left: 8px;
			}
			.balance-text {
				font-size: 16px;
				font-weight: 500;
			}
		}
		@media (max-width: $breakpoint-tablet) {
			@include flex-direction(column);
			position: absolute;
			top: $nav-height-mobile;
			right: 0;
			width:100%;
			height: auto;
			background: $light-grey;
			align-items: flex-start;
			padding: 20px 28px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

			.separator {
				display: block;
			}
			.separator-vertical {
				display: none;
			}
			&.hide {
				display: none;
			}
			.top-nav-text {
				line-height: 1;
				margin: 0;
				padding: 20px 0;
				text-align: left;
				font-size: 15px;
				width: 100%;
				justify-content: flex-start;
				&:after {
					display: none;
				}
				&.profile {
					display: none;
				}
			}
			.top-nav-balance {
				display: none;
			}
		}
	}
	img {
		height: 40px;
		width: 40px;
		margin-top: 3px;
	}
	&.active {

	}

	.mobile-menu-icon {
		height: 25px;
		width: auto;
	}
}
input[type="checkbox" i] {
	margin: 0;
	padding: 0;
	display: block;
}

.buy-sell-tab {
	@include flex-box();
	flex-direction: row;
	width: 100%;
	height: 34px;
	border-radius: 4px;
	border: solid 1px #4dd9b4;
	.buy-tab {
		width: 50%;
		@include flex-box();
		justify-content: center;
		align-items: center;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		color: #8d9293;
		cursor: pointer;
		&.active {
			background-color: $colu-green;
			color: white;
		}
	}
}

.buy-sell-input {
	input {
    font-size: 30px;
		font-weight: 300;
		line-height: 1.33;
		letter-spacing: 0;
		color: #251783;
		background: transparent;
		width: 100%;
		border: none;
		border-bottom: solid 1px #cdcdcd;
		margin: 40px 0 26px;
		transition: all 300ms ease;
		&::placeholder {
    		font-size: 14px;
    	}
		@media (max-width: $breakpoint-tablet) {
			font-size: 16px;
		}
		&:focus {
			border-bottom: solid 1px #251783;
		}
	}
	.input-feedback {
		font-size: 14px;
		letter-spacing: 0;
		color: #ff5705;
		text-align: left;
		position: absolute;
		margin-top: -18px;
	}
	&.error input {
		border-color: #ff5705;
	}
}

.buy-sell-wrapper {
	background-color: #f2f6f6;
}
.info-price {
	@include flex-box();
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
	color: #8d9293;
	img {
		width: 14px;
		height: 14px;
		min-width: 14px;
		margin: 0 10px 0 3px;
	}
	div {
		font-size: 10px;
		//line-height: 2.6;
		letter-spacing: 0.2px;
		color: #8d9293;
		display: flex;
    	align-items: center;
	}
	.cc-to-cln {
		font-size: 10px;
		//line-height: 2.6;
		letter-spacing: 0.2px;
		color: #8d9293;
		margin-left: 60px;
	}
}
.buy-sell-bottom {
	background-color: white;
	padding: 5px 30px 45px;
	border-radius: 4px;
	.advanced-settings {
		@include flex-box();
		flex-direction: column;
		align-items:flex-start;
		border-radius: 4px;
		border: solid 1px #cdcdcd;
		margin-top:10px;
		@include easeOut();
		height: 30px;

    .advanced-header {
			@include flex-box();
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 30px;
      cursor: pointer;

			h5 {
				font-size: 14px;
				font-weight: 300;
				line-height: 1.86;
				letter-spacing: 0;
				color: #8d9293;
				width: 100%;
				text-align: left;
				padding: 0 9px;
			}

			img {
				@include easeOut();
				width: 11px;
				min-width: 11px;
				height: 6px;
				margin-right: 9px;
			}
		}

		.contact-field-wrapper {
			display: none;
			align-items: flex-start;
    		flex-direction: column;
    		margin-bottom: 36px;
    		padding: 9px;
    		position: relative;
    		width: 100%;
		}

		.contact-field-wrapper:nth-child(2) {
			margin-top: 20px;
		}

		.contact-field-wrapper:nth-child(6) {
			margin-bottom: 5px;
		}

		label {
    		@include label();
    		color: #8d9293;
    	}
    	input {
    		@include input();
    		width: 100%;
    		//color: #8d9293;
    		border-color: #cbd1d3;
    		transition: all 300ms ease;
    		&:focus {
  				border-bottom: solid 1px $colu-green;
  			}
    	}

    	.input-feedback {
    		@include input-feedback();
    	}

    	.annotation {
    		font-size: 9px;
			font-weight: 300;
			line-height: 2.2;
			letter-spacing: 0;
			color: $dark-grey;
			padding: 9px;
			display: none;
    	}

		&.open {
			height: 330px;
			.contact-field-wrapper {
				@include flex-box();
			}
			.annotation {
				display: block;
			}
			img {
				transform: rotate(180deg);
			}
		}
	}
	button {
		margin-top: 40px;
		@include button($colu-green);
		color: white;
		width: 100%;
		height:40px;
		&:disabled {
			background-color: #cbd1d3 !important;
			color: white;
		}
	}
}
.input-coin-symbol {
	position: absolute;
  right: 30px;
	margin-top: -50px;
	color: #251783;
}
.minimum-coin-symbol, .price-change-percent, .price-limit-cln {
	right: 40px;
	font-size:14px;
	color: $dark-grey;
	position: absolute;
	display: none;
}
.open {
	.minimum-coin-symbol {
		display: block;
		margin-top: 80px;
	}
	.price-change-percent {
		display: block;
		margin-top: 174px;
	}
	.price-limit-cln {
		display: block;
		margin-top: 267px;
	}
}

.buy-sell-top {
	background-color: #f2f6f6;
	padding: 45px 30px;
	border-radius: 4px;
	.max-amount {
		width: 150px;
    	position: absolute;
    	cursor: pointer;
    	right: 30px;
    	font-size: 10px;
    	font-weight: 300;
    	line-height: 2.2;
    	letter-spacing: 0;
    	color: #251783;
    	border-radius: 4px;
    	background-color: #f2f6f6;
    	border: solid 1px #251783;
    	margin-top: -94px;
    	&.error {
    		border-color: #ff5705;
    	}
	}

}
.arrows {
	background-color: white;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
    margin-top: -20px;
    margin-left: 23px;
    @include flex-box();
    justify-content: center;
    align-items: center;
	img {
		width:27px;
		min-width: 27px;
		height: 23px;
	}
}


.modal-body-wrapper {
	padding: 45px 30px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px 30px;
    height: 100%;
  }
	h4 {
		color: #5a5959;
	}
	h5 {
		font-size: 12px;
		font-weight: 500;
		line-height: 2.17;
		letter-spacing: 0;
		text-align: left;
		color: #5a5959;
	}
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.86;
		letter-spacing: 0;
		color: $dark-grey;
		text-align: center;
	}
	.modal-body {
    @include flex-box();
		flex-direction: row;
		border-radius: 4px;
		background-color: #f2f6f6;
		border: solid 1px #cdcdcd;
		margin: 30px 0;
		padding: 50px 96px 40px;
    @media (max-width: $breakpoint-tablet) {
      padding: 50px 46px 40px;
    }

    .modal-icon {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      min-width: 60px;
      position:absolute;
      left: calc(50% - 30px);
      margin-top: -84px;
    }

		.summary-price {
			flex:1;
			padding: 23px 23px 33px;
			@include flex-box();
			flex-direction: column;
    		align-items: center;
    		justify-content: center;
			&:nth-child(3) {
				border-top: solid 1px #cbd1d3;
				padding: 33px 23px 23px;
			}
			.price {
				font-size: 30px;
				font-weight: 300;
				line-height: 1.33;
				letter-spacing: -0.2px;
				text-align: center;
				color: #251783;
				span {
					font-size: 14px;
    				font-weight: 500;
    				margin-left: 5px;
				}
			}
		}

		.right-arrow {
			border-radius: 50%;
			background-color: #ffffff;
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
			width: 50px;
			height: 50px;
			position: absolute;
			@include flex-box();
    		justify-content: center;
    		align-items: center;
    		left: calc(50% - 25px);
    		margin-top: 94px;

			img {
				width:24px;
				min-width: 22px;
				height: 12px;
				transform: rotate(90deg);
			}
		}
	}
	.line {
		width:100%;
		height: 2px;
		border: solid 1px #cdcdcd;
		margin: 15px 0 18px;
	}
	button {
		margin-top: 40px;
		@include button($colu-green);
		color: white;
		width: 100%;
		height:40px;
	}
}

.summary {
	padding: 45px 30px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px 30px;
    height: 100%;
    overflow-y: scroll;
  }
	h4 {
		color: #5a5959;
	}
	h5 {
		font-size: 12px;
		font-weight: 500;
		line-height: 2.17;
		letter-spacing: 0;
		text-align: left;
		color: #5a5959;
	}
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.86;
		letter-spacing: 0;
		color: $dark-grey;
		text-align: left;
	}

  .icon {
    width: 30px;
    height: 30px
  }

	.summary-prices-wrapper {
		@include flex-box();
		flex-direction: column;
		border-radius: 4px;
		background-color: #f2f6f6;
		border: solid 1px #cdcdcd;
		margin: 30px 0;

		.summary-price {
			flex:1;
			padding: 23px 23px 33px;
			@include flex-box();
			flex-direction: column;
    		align-items: center;
    		justify-content: center;
			&:nth-child(3) {
				border-top: solid 1px #cbd1d3;
				padding: 33px 23px 23px;
			}
			.price {
				font-size: 30px;
				font-weight: 300;
				line-height: 1.33;
				letter-spacing: -0.2px;
				text-align: center;
				color: #251783;
				span {
					font-size: 14px;
    				font-weight: 500;
    				margin-left: 5px;
				}
			}
		}

		.right-arrow {
			border-radius: 50%;
			background-color: #ffffff;
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
			width: 50px;
			height: 50px;
			position: absolute;
			@include flex-box();
    		justify-content: center;
    		align-items: center;
    		left: calc(50% - 25px);
    		margin-top: 94px;

			img {
				width:24px;
				min-width: 22px;
				height: 12px;
				transform: rotate(90deg);
			}
		}
	}
	.line {
		width:100%;
		height: 2px;
		border: solid 1px #cdcdcd;
		margin: 15px 0 18px;
	}
	button {
		margin-top: 40px;
		@include button($colu-green);
		color: white;
		width: 100%;
		height:40px;
	}
}

.metamask-sign {
	padding: 45px 30px;
	h4 {
		color: #5a5959;
	}
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.86;
		letter-spacing: 0;
		color: $dark-grey;
		text-align: center;
	}
	.summary-prices-wrapper {
		@include flex-box();
		flex-direction: row;
		border-radius: 4px;
		background-color: #f2f6f6;
		border: solid 1px #cdcdcd;
		margin: 30px 0;
		padding: 50px 96px 40px;
    @media (max-width: $breakpoint-tablet) {
      padding: 50px 46px 40px;
    }
		.line {
			width:100%;
			height: 2px;
			border: solid 1px #cdcdcd;
			margin: 15px 0 18px;
		}
	}
	.metamask-icon {
		border-radius: 50%;
		height: 60px;
		width: 60px;
		min-width: 60px;
		position:absolute;
		left: calc(50% - 30px);
		margin-top: -84px;
	}

}

.transaction-in-progress {
	@extend .summary;
	padding: 45px 30px;
	p {
		text-align: center;
	}
	.summary-prices-wrapper {
		flex-direction: column;
		padding: 50px 20px 30px;
		.line {
			width:100%;
			height: 2px;
			border: solid 1px #cdcdcd;
			margin: 15px 0 18px;
		}
		.tx-link {
			font-size: 14px;
			font-weight: 300;
			line-height: 2.57;
			letter-spacing: -0.1px;
			color: #00bd94;
			text-align: left;
			text-decoration:underline !important;
			white-space: nowrap;
    		overflow: hidden !important;
    		text-overflow: ellipsis;
		}
		.status {
   			font-size: 14px;
   			font-weight: 700;
   			line-height: 2.57;
   			letter-spacing: -0.1px;
   			color: #00bd94;
   			text-align: left;
   			white-space: nowrap;
   			overflow: hidden !important;
   			text-overflow: ellipsis;
   			&.failure {
   				color: #ff5705;
   			}
   		}
	}
	.metamask-icon {
		border-radius: 50%;
		height: 60px;
		width: 60px;
		min-width: 60px;
		position:absolute;
		left: calc(50% - 30px);
		margin-top: -84px;
		background-color: #301ea9;
	}
}

.legal-explanation {
  p {
    font-size: 10px
  }
}
.contact-form-wrapper {
	border-radius: 2px;
	position: absolute;
	//overflow: scroll;
    top: 130px;
    width: auto;
    bottom: 0;
    right: calc((100vw - 842px)/2);
    @media (max-width: $breakpoint-tablet) {
    	right: calc((100vw - 450px)/2);
    	overflow: scroll;
    }
	.contact-form {
		width: 820px;
		background-color: white;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
		padding: 40px;
		h4 {
			text-align: center;
			font-weight: 500;
			margin-bottom: 33px;
		}
		.success-message {
    		color: $colu-green;
    		text-align: center;
    		@media (max-width: $breakpoint-tablet) {
    			padding-top: 20px;
    		}
    	}
		form {
			@include flex-box();
			@media (max-width: $breakpoint-tablet) {
				display: block;
			}
			.contact-horizontal {
				width: 100%;
				padding: 10px 20px 0;
				@media (max-width: $breakpoint-tablet) {
					width: auto;
					padding: 0;
				}
				.contact-field-wrapper {
					@include flex-box();
    				flex-direction: column;
    				margin-bottom: 45px;
    				position: relative;
    				font-size: 14px;
    				@media (max-width: $breakpoint-tablet) {
						font-size: 16px;
					}
    				label {
    					@include label();
    				}
    				input, textarea, select {
    					@include input();
    				}

    				.input-feedback {
    					@include input-feedback();
    				}

    				&.checkbox {
    					flex-direction: row-reverse;
    					align-items: center;
    					justify-content: flex-end;
    					margin-bottom: 38px;
    					label {
    						padding: 10px 0 0 10px;
    					}
    				}
    				&.error {
						input, textarea, select {
							border-bottom: solid 1px #ff5705;
						}
					}

				}
				button {
					@include button($colu-green);
					color: white;
					width: 100%;
					height:36px;
				}
				button:disabled, button[disabled] {
					background-color: rgb(224, 224, 224) !important;
				}
			}
		}
	}
	@media (max-width: $breakpoint-tablet) {
		top:50px;

		right: 0;
		.contact-form {
			width: 100vw;
			min-height: calc(100vh - 50px);
			padding: 40px 17px;
		}
	}
}



.marker {
	width: 120px;
	height: 124px;
	overflow: visible;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	transform-origin: bottom center;

	@include flex-box();
	.e-marker__circle {
		fill: none;
	}
	.e-marker__marker {
		fill: #50E3C2;
		&.purple {
			fill: $colu-purple;
		}
	}

	.e-marker__icon {
		//margin-top: -30px;
	}

	.community-label {
		font-color: white;
		@include flex-box();
		flex-direction: column;
		opacity: 0;
		transition: all 0.3s ease-in;
		font-size: 16px;
		font-weight: 500;
		text-decoration: none;
		//margin-left: 50px;
		&.community-label-active {
			opacity: 1;
		}

		.coin-label-name {
			color: $colu-green;
			text-transform: uppercase;
			font-weight: lighter;
			margin-left: 20px;
		}

		.coin-label-price {
			margin-left: 10px;
		}
	}
}

.particles {
	position: relative;
	//width:30px;
	//height:30px;
	//margin-left: -15px;
	//margin-top: -15px;
	z-index: 3;
	//transition: all 2s ease-in 1s;
	cursor: pointer;
	&.bubbles {
		//&:before {
		//	content: ' ';
		//	top: 15px;
		//	left:15px;
		//	position: absolute;
		//	z-index: 2;
		//	width: 7px;
		//	height: 7px;
		//	//transition: all 0.3s ease-in;
		//	border-radius: 50%;
		//	background: rgba(255,255,255,1);
		//	box-shadow: inset 0px 0px 10px 8px rgba(77,217,180,0.9),
		//				0px 0px 40px 6px rgba(77,217,180,1);
		//}
		>.particle {
			transition: 0.3s ease-in;
			transition-property: all;
			opacity:0.3;
			position: absolute;
			background-color:rgba(77,217,180,0.5);
			animation: bubbles 2s ease-in infinite;
			border-radius:100%;
			box-shadow: 5px 4px 17px 0px rgba(77,217,180, 0.1);
		 }
		>.particle2 {
			transition: 0.3s ease-in;
			transition-property: all;
			opacity:0.3;
			position: absolute;
			background-color:rgba(154, 139, 255,0.5);
			animation: bubbles2 2s ease-in infinite;
			border-radius:100%;
			box-shadow: 5px 4px 17px 0px rgba(154, 139, 255, 0.1);
		}
		>.central {
			position: absolute;
			z-index: 2;
			width: 7px;
			height: 7px;
			//transition: all 0.3s ease-in;
			border-radius: 50%;
			background: rgba(255,255,255,1);
			box-shadow: inset 0px 0px 10px 8px rgba(77,217,180,0.9),
						0px 0px 40px 6px rgba(77,217,180,1);


		}
	}
	&.grow {
		width:120px;
		height:120px;
		margin-left: -60px;
		margin-top: -60px;
		transform: scale(1.1);
		&.bubbles {
			>.particle {
				background-color:rgba(77,217,180,0.8);
				box-shadow: 5px 4px 17px 2px rgba(77,217,180, 0.3);
			}
			>.particle2 {
				background-color:rgba(154, 139, 255,0.5);
				box-shadow: 5px 4px 17px 0px rgba(154, 139, 255, 0.1);
			}
		}
		&:before {
			top: 60px;
			left:60px;
		}
	}
	&.grow-center {
		&.bubbles {
			&:before {
				width: 20px;
				height: 20px;
				top: 50px;
				left:50px;
				box-shadow: inset 0px 0px 10px 12px rgba(77,217,180,0.5),
						0px 0px 20px 2px rgba(77,217,180,1);
			}
		}
	}
	//&:hover {
	//	transform: scale(1.1);
	//	transition: transform 0.2s linear;
	//	&.bubbles {
	//		>.particle, .particle2 {
	//			background-color:rgba(77,217,180,0.8);
	//			box-shadow: 5px 4px 17px 2px rgba(77,217,180, 0.3);
	//		}
	//	}
	//}
}

.communities-list {
	position: absolute;
	z-index: 11;
	display: flex;
    flex-direction: column;
    right: 0px;
    width: 450px;
	top: $nav-height;
	overflow: hidden;

	.list-item {
		height: auto;
		.coin-wrapper {
			box-sizing: content-box;
			background-color: $light-grey;
			border-radius: 2px;
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
			border-left: 10px #cbd1d3 solid;
			transition: border-left 0.2s ease-in;
			cursor: pointer;
			&:hover {
				border-left: 10px $colu-green solid;
			}
			.coin-header {
				margin-top:20px;
				padding: 20px 24px;

				h1 {
					font-size: 18px;
					margin-bottom: 2px;
					text-transform: uppercase;
					font-weight: bold;
				}
				h2 {

				}
				.logo {
					width: 70px;
					height: 70px;
				}
				.price-wrapper {
					font-size: 14px;
					h2 {
						-webkit-margin-before: 0;
   						-webkit-margin-after: 0;
						font-size: 14px;
					}
				}
			}
			&.open {
				height: 100vh !important;
				.coin-header {
					padding: 32px;
				}
			}
		}
	}
	@media (max-width: $breakpoint-tablet) {
		flex-direction: row;
		bottom: 30px;
		top: auto;
		overflow: auto;
		overflow-y: hidden;
		height: 112px;
		width: 100%;
		align-items: flex-end;
		-webkit-transition: all 0.4s ;
    	transition: all 0.4s ;
    	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		.list-item {
			height: 82px;
			-webkit-transition: all 0.3s ease-in-out;
    		transition: all 0.3s ease-in-out;
			.coin-wrapper {
				border-left: 4px $colu-green solid;
				margin-left: 9px;
				margin-right: 4px;
				-webkit-transition: opacity 0.3s 0.5s, width 0.2s 0.1s, height 0.2s 0.1s, transform 0.1s 0.1s, left 0.2s 0.1s, margin 0.2s 0.1s;
    			transition: opacity 0.3s 0.5s, width 0.2s 0.1s, height 0.2s 0.1s, transform 0.1s 0.1s, left 0.2s 0.1s, margin 0.2s 0.1s;
    			-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    			transition-timing-function: cubic-bezier(0.7,0,0.3,1);
				height: 82px;
				width: 270px;
				.coin-header {
					margin-top:0px;
					padding: 20px 6px;
					.logo {
						width: 45px;
						min-width: 45px;
						height: 45px;
					}
					.coin-details {
						margin-left:9px;
						h1 {
							font-size: 12px;
						}

						.price-wrapper {
							h2, p {
								font-size: 10px;
							}
						}
					}
				}

				&:hover {
					border-left: 4px $colu-green solid;
				}
				&.open-mobile {
					height: 100%;
					width: 101vw;
					border-left: none;
					margin: 0 0 -30px 0px;
					&.ios-chrome {
						top: calc(100vh - 50px) !important;
					}
					&.tablet {
						top: calc(100vh - 100px) !important;
					}
					.coin-header {
						padding: 20px;
						.logo {
							width: 55px;
							min-width: 55px;
							height: 55px;
						}
						.coin-details {
							margin-left:15px;
							h1 {
								font-size: 16px;
							}

							.price-wrapper {
								h2, p {
									font-size: 14px;
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
		&.open-mobile {
			height: calc(100% - 50px);
			bottom: 0px;
			.list-item {
				height: 100%;
			}
		}
	}
}

.loader {
	height: 10px;
	width: 30px;
	&.image {
		height: 70px;
		width: 70px;
	}
	&.input {
		position: absolute;
    	margin-top: -45px;
    	left: 30px;
	}
}

@keyframes appear {
	 0% {
		opacity: 0;
	 }
	 100% {
		opacity: 1;
	 }
}

@keyframes load-box {
	 0% {
		opacity: 0;
	 }
	 100% {
		opacity: 1;
	 }
}

@-webkit-keyframes pulse {
	0% {
	background: rgba(255,255,255,1);
	box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
						0px 0px 40px 2px rgba(105,135,255,1);
	}
	100% {
	background: rgba(255,255,255,0);
	box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
						0px 0px 30px 2px rgba(105,135,255,0.3);
	}
}

@keyframes bubbles {
	 0% {
		opacity: 0.1;
	 }
	 20% { //show and hint at moving
		opacity: 1;
		transform:translate(0, 0px);
	 }
	 100% {
		opacity: 0.1;
		transform:translate(0, -2px); //Big bubbles move faster
	 }
}

@keyframes bubbles2 {
	 0% {
		opacity: 0.1;
	 }
	 20% { //show and hint at moving
		opacity: 1;
		transform:translate(0, 0px);
	 }
	 100% {
		opacity: 0.1;
		transform:translate(0, 2px); //Big bubbles move faster
	 }
}
