
$dark-grey: #3d3d3d;
$light-grey: #f8f8f8;
$colu-green: #4dd9b4;
$colu-purple: #301eaa;
$color-black: #000000;
$disabled: #979797;

$nav-height: 100px;
$nav-height-mobile: 70px;
$page-width: 1024px;

$color-step: #92a1ac;
$color-active-step: #fc6e4c;
$color-step-line: #271d53;
$color-step-border: #4b3b80;
$color-step-text: #fff;
$color-step-title: #0d2d45;
$color-issuance: #1c1442;
$color-issuance-bg: linear-gradient(to bottom, rgba(60, 45, 119, 0.5), $color-issuance);
$color-step-bg: #241c4a;
$color-symbol-field-brdr: #b6b5d8;
$color-shadow: rgba(0, 0, 0, 0.3);
$color-step-field: #5fddbb;
$color-step-container-logo: #343166;
$font-family: 'Gotham SSm A', 'Gotham SSm B', 'icomoon';
$font-family-lato: 'Lato', sans-serif;
$color-hover-details: #7effdc;
$color-shadow-btn: rgba(22, 14, 58, 0.34);
$color-top-nav-bg: #2a2057;
$color-btn-control: #92a1ac;
$color-home-banner-bg: #234559;

$color-dashboard-bg: #f8faff;

$color-pink: #ff4a7b;

$color-close-gray: #0a7586;
$color-orange: #fc6e4c;
$color-orange-store: #ff6753;
$color-text-gray: #0d2d45;
$color-bg-gray: #05283e;

$color-donut-bg: #f0f0f0;
$color-negative: #58aeff;
$color-negative-text: #1a2b59;
$color-dropdown-option: #363a47;
$color-dropdown-option-bg-hover: #f7f8fa;

$color-filter-text: #25435a;
$color-filter-genre: #5f677e;
$color-author: #92a1ac;
$color-issuance-bg: #162a39;
$color-brdr-issuance: #e2e2e2;
$color-community-bg: #f8faff;

$color-ropsten: #34d080;
$color-arrow: #c7cfd4;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;
